<!--▼SiteCatalyst----------------------------------------------------------------------->
<!-- SiteCatalyst code version: H.2.
Copyright 1997-2005 Omniture, Inc. More info available at http://www.omniture.com -->

<script type='text/javascript'>
   SiteCatalystReportSuites = "GLOBAL_OTHER";
   SiteCatalystCharSet = "UTF-8";
   SiteCatalystChannel = "SANIN-JAPAN";
   strSCodePath="//www.ana.co.jp/common/js/sitecatalyst/s_code_" + SiteCatalystReportSuites + ".js";
   strSCodeToPaste="//www.ana.co.jp/wws/js/code_to_paste_wws.js";
   document.write("<script type='text/javascript' src='" + strSCodePath +"'><\/script>");
   document.write("<script type='text/javascript' src='" + strSCodeToPaste +"'><\/script>");
</script>

<!-- End SiteCatalyst code version: H.2. -->
<!--▲SiteCatalyst----------------------------------------------------------------------->
<script type='text/javascript'>
  function SCClick(LinkName){
    var s=s_gi(s_account);
    s.linkTrackVars='prop7,eVar7,prop13,prop14';
    s.prop7 = LinkName;
    s.eVar7 = LinkName;
    s.prop13 = SiteCatalystCookie0;
    s.prop14 = SiteCatalystDateTimeSec;
    s.tl(this,'o',LinkName);
  }
</script>
