<div class="group-input-fields-content" data-callback-render="render_access_pick_up_spots">
  <div class="clearfix">

    <div class="form-group">
      <label>Description: </label>
      <textarea placeholder="Description" name="<%= field_name %>[<%= field.slug %>][values][][descr]" class="descr_field form-control translatable "></textarea>
    </div>

    <div class="form-group">
      <label>Price: </label>
      <input placeholder="Price" type="text" name="<%= field_name %>[<%= field.slug %>][values][][price]" class="price_field translatable form-control "/>
    </div>

    <div class="form-group">
      <label>By Transportation Company name: </label>
      <input placeholder="By Transportation Company Name" type="text" name="<%= field_name %>[<%= field.slug %>][values][][by_transpo_name]" class="by_transpo_name_field translatable form-control "/>
    </div>

    <div class="form-group">
      <label>Duration: </label>
      <input placeholder="Duration" type="text" name="<%= field_name %>[<%= field.slug %>][values][][duration]" class="duration_field translatable form-control "/>
    </div>

  </div>
</div>
<script>
    function render_access_pick_up_spots(panel, values){
        values = values || {};
        values = typeof(values) == 'string' ? $.parseJSON(values) : values;
        panel.find('.descr_field').val(values['descr']);
        panel.find('.title_field').val(values['title']);
        panel.find('.price_field').val(values['price']);
        panel.find('.duration_field').val(values['duration']);
        panel.find('.by_transpo_name_field').val(values['by_transpo_name']);
    }
</script>
