<div class="group-input-fields-content " data-callback-render="render_tourist_information_center">
  <div class="form-horizontal">

    <div class="form-group">
      <label class="col-sm-2 control-label">ITC: </label>
      <div class="col-sm-10">
        <input placeholder="ITC" type="text" name="<%= field_name %>[<%= field.slug %>][values][][itc]" class="itc_field translatable form-control required"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Address: </label>
      <div class="col-sm-10">
        <input placeholder="Address" type="text" name="<%= field_name %>[<%= field.slug %>][values][][address]" class="address_field translatable form-control required "/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Tel: </label>
      <div class="col-sm-10">
        <input placeholder="Tel" type="text" name="<%= field_name %>[<%= field.slug %>][values][][tel]" class="tel_field translatable form-control required"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Time: </label>
      <div class="col-sm-10">
        <input placeholder="Time" type="text" name="<%= field_name %>[<%= field.slug %>][values][][time]" class="time_field translatable form-control required"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Mail: </label>
      <div class="col-sm-10">
        <input placeholder="Mail" type="text" name="<%= field_name %>[<%= field.slug %>][values][][mail]" class="mail_field translatable form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Web Address: </label>
      <div class="col-sm-10">
        <input placeholder="Web Address" type="text" name="<%= field_name %>[<%= field.slug %>][values][][web_address]" class="web_address_field translatable form-control "/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Language </label>
      <div class="col-sm-10">
        <input placeholder="Language" type="text" name="<%= field_name %>[<%= field.slug %>][values][][language]" class="language_field translatable form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">WIFI:</label>
      <div class="col-sm-10">
        <input placeholder="wifi" type="text" name="<%= field_name %>[<%= field.slug %>][values][][wifi]" class="wifi_field translatable form-control "/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Internet:</label>
      <div class="col-sm-10">
        <input placeholder="internet" type="text" name="<%= field_name %>[<%= field.slug %>][values][][internet]" class="internet_field translatable form-control "/>
      </div>
    </div>

    <div class="form-group" style="display:none;">
      <label class="col-sm-2 control-label">Latitude: </label>
      <div class="col-sm-10">
        <input placeholder="Latitude" type="text" name="<%= field_name %>[<%= field.slug %>][values][][latitude]" class="latitude_field translatable form-control"/>
      </div>
    </div>

    <div class="form-group" style="display:none;">
      <label class="col-sm-2 control-label">Longitude: </label>
      <div class="col-sm-10">
        <input placeholder="Longitude" type="text" name="<%= field_name %>[<%= field.slug %>][values][][longitude]" class="longitude_field translatable form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Google Map Link: </label>
      <div class="col-sm-10">
        <input placeholder="Google Map Link" type="text" name="<%= field_name %>[<%= field.slug %>][values][][google_map_link]" class="google_map_link_field translatable form-control"/>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-2 control-label">Content 1: </label>
      <div class="col-sm-10 group-input-fields-content">
        <select name="<%= field_name %>[<%= field.slug %>][values][][content_1]" class="content_1_field form-control input-value" >
          <option value=""></option>
          <% ( current_site.post_types.where(slug: "featured-list")).each do |pt| %>
              <optgroup label="<%= pt.decorate.the_title %>">
                <% pt.posts.public_posts.each do |post| post = post.decorate %>
                <option value="<%= post.id %>"><%= post.the_title %></option>
              <% end %>
            </optgroup>
          <%  end %>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Content 2: </label>
      <div class="col-sm-10 group-input-fields-content">
        <select  name="<%= field_name %>[<%= field.slug %>][values][][content_2]" class="content_2_field form-control input-value" >
          <option value=""></option>
          <% ( current_site.post_types.where(slug: "featured-list")).each do |pt| %>
              <optgroup label="<%= pt.decorate.the_title %>">
                <% pt.posts.public_posts.each do |post| post = post.decorate %>
                <option value="<%= post.id %>"><%= post.the_title %></option>
              <% end %>
            </optgroup>
          <%  end %>
        </select>
      </div>
    </div>


  </div>
</div>
<script>
    function render_tourist_information_center(panel, values){
        values = values || {};
        values = typeof(values) == 'string' ? $.parseJSON(values) : values;
        panel.find('.itc_field').val(values['itc']);
        panel.find('.address_field').val(values['address']);
        panel.find('.tel_field').val(values['tel']);
        panel.find('.time_field').val(values['time']);
        panel.find('.mail_field').val(values['mail']);
        panel.find('.web_address_field').val(values['web_address']);
        panel.find('.language_field').val(values['language']);
        panel.find('.wifi_field').val(values['wifi']);
        panel.find('.internet_field').val(values['internet']);

        panel.find('.latitude_field').val(values['latitude']);
        panel.find('.longitude_field').val(values['longitude']);

        panel.find('.google_map_link_field').val(values['google_map_link']);

        panel.find('.content_1_field').val(values['content_1']);
        panel.find('.content_2_field').val(values['content_2']);
    }
</script>
