.overview-carousel.carousel
  - spots.each do |spot|
    - location_name = spot.the_fields("location-name-pick-up-spots")[0]
    - tag = spot.the_fields('tag-pick-up-spots')[0]
    - img_path = spot.the_fields("header-banner-image")[0]
    - lat = spot.the_fields('latitude-pick-up-spots')[0]
    - lng = spot.the_fields('longitude-pick-up-spots')[0]
    - lng = spot.the_fields('longitude-pick-up-spots')[0]
    -location_name = spot.the_fields('location-name-pick-up-spots')[0]

    .overview-carousel-item
      .overview-carousel-inner[data-lat=lat data-lng=lng  data-location-name=location_name]
        .overview-carousel-image[style="background-image:url('#{ img_path }')"]
          span.overview-carousel-text
            | #{spot.the_title}
        .overview-carousel-descrp
          h2.overview-carousel-title
            | #{tag}
          h3.overview-carousel-subtitle
            | #{spot.the_title}
          span.overview-carousel-location
            | #{location_name}
          span.overview-carousel-btn
              =link_to  "#{I18n.t 'camaleon_cms.extra.read'}", spot.the_url
