- params_area = params[:area] || "east"

.plan-trip.l-container

  ul.plan-trip-locations
    li.plan-trip-locaiton[class="#{ 'current-tab'if current_tab("west", params_area)}"]
      = link_to 'destinations?area=west' do
        span.plan-trip-area.plan-trip-west
          | #{I18n.t 'camaleon_cms.destination.west'}
          br.u-pc-hidden
          | #{I18n.t 'camaleon_cms.destination.sanin'}
    li.plan-trip-locaiton[class="#{ 'current-tab'if current_tab("central", params_area)}"]
      = link_to 'destinations?area=central' do
        span.plan-trip-area.plan-trip-middle
          | #{I18n.t 'camaleon_cms.destination.central'}
          br.u-pc-hidden
          | #{I18n.t 'camaleon_cms.destination.sanin'}
    li.plan-trip-locaiton[class="#{ 'current-tab'if current_tab("east", params_area)}"]
      = link_to 'destinations?area=east' do
        span.plan-trip-area.plan-trip-east
          | #{I18n.t 'camaleon_cms.destination.east'}
          br.u-pc-hidden
          | #{I18n.t 'camaleon_cms.destination.sanin'}
