.u-sp-hidden
  display: block !important
  @include max-screen($breakpoint-tablet)
    display: none !important
    &.flex
      display: flex !important
    &.inline
      display: inline-block !important

.u-tab-hidden
  display: none !important
  @include max-screen($breakpoint-mid-mobile)
    display: block !important
    &.flex
      display: flex !important
    &.inline
      display: inline-block !important

.u-pc-hidden
  display: none !important
  @include max-screen($breakpoint-tablet)
    display: block !important
    &.flex
      display: flex !important
    &.inline
      display: inline-block !important

//clearfix
.u-clear
  zoom: 1

  &:before,
  &:after
      content: ""
      display: block

  &:after
      clear: both

.center
  text-align: center
