footer
  .l-container.l-container-no-padding-sp
    .footer-top-image
      = image_tag get_image_path("japanese-women.png")
    section.footer-container
      = render theme_view('partials/common/footer_links')
      = render theme_view('partials/common/footer_menu')



  .footer-meta
    .footer-meta-inner.text-center.l-container
      .footer-image
          = lazy_image_tag get_image_path("japanese-women.png")
      ul.footer-meta-list
        li.footer-meta-item
          = link_to 'https://www.sanin-tourism.com/en/', class: 'footer-meta-link', target: "_blank"
            = lazy_image_tag get_image_path("footer-route-romantique-sanin.png")
        li.footer-meta-item
          = link_to 'https://www.japan.travel/en/', class: 'footer-meta-link', target: "_blank"
            = lazy_image_tag get_image_path("footer-japan-endless-discovery.png")
      p Visit West Japan &#x00a9; 2018 All rights reserved.
