header
  .l-container.header-container
    .header
      .header-logo.text-gotham.strong
        = link_to root_path
          | SAN’IN
          br
          span.header-logo-sub.text-gotham.normal
            | Tottori and Shimane

      .header-humberger.row.row-y-center.flex
        label[class="header-humberger-list js-header-humberger-list" for="header-nav-trigger"]
          span.header-humberger-item.humberger-item1.col-md-6
          span.header-humberger-item.humberger-item2.col-md-6
          span.header-humberger-item.humberger-item3.col-md-6


      .header-menu
        .nav-header
          ul.nav-header-list.row
            - if current_site.nav_menus.find_by_slug('header-main-menu').present?
              - cama_menu_parse_items(current_site.nav_menus.find_by_slug('header-main-menu').children).each do |item|
                - if item[:children]
                  li.nav-header-item.js-nav-header-item
                    = link_to item[:url], class: 'nav-header-link'
                      | #{item[:label]}
                    - if item[:levels] <= 1
                      ul.submenu
                        - item[:children].each_with_index do |ss_item, index|
                          li.submenu-list
                            = link_to ss_item[:label], ss_item[:url], target: ss_item[:menu_item][:status], class: 'submenu-link'
                    - elsif item[:levels] <= 2
                      ul.submenu
                        - item[:children].each_with_index do |ss_item, index|
                          li.submenu-list
                            = link_to ss_item[:label], ss_item[:url], class: 'submenu-link'
                            - if ss_item[:children].present?
                              ul.submenu-inner
                                - ss_item[:children].each_with_index do |item, index|
                                  li.submenu-list-inner
                                    = link_to item[:label], item[:url], class: 'submenu-link-inner'
        .header-language-selector
          = render theme_view('layouts/language_menu')

