doctype html
html
  head
    = csrf_meta_tags
    = display_meta_tags (@seo.present? ? cama_the_seo(@seo) : cama_the_seo)
    = display_meta_tags og: { image: "https://sanin-production.s3.ap-northeast-1.amazonaws.com/extra/facebook-ogpsd.png" }
    = (render file: theme_view('partials/analytics/header_google_tag_manager')) if Rails.env.production?
    meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    = stylesheet_link_tag    theme_asset_path('stylesheets/application'), media: 'all', 'data-turbolinks-track': 'reload'
    script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeoeqDEXvJLZMtV_k4s-p76J_5UmMSLJw"
    = javascript_include_tag theme_asset_path("js/main.js"), 'data-turbolinks-track': 'reload'
    link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'
    = Gon::Base.render_data
  - slug_name = (params[:slug].present? ? params[:slug] : params[:post_type_slug])
  body{ class="language_#{get_lang}" data-controller="#{controller_name}" data-action="#{action_name}" data-slug="#{ slug_name || "SAN'IN"}" }
    = (render file: theme_view('partials/analytics/body_google_tag_manager')) if Rails.env.production?
    = (render file: theme_view('partials/analytics/site_catalyst')) if Rails.env.production?
