<div class="language-menu ">
  <input type="checkbox" id="language-menu-trigger" class="language-menu-trigger" >
  <label class="language-menu-heading js-language-menu-heading" for="language-menu-trigger" >
    <%= (I18n.t ('camaleon_cms.languages.'+ get_lang.to_s)).html_safe %>
  </label>

  <%= raw custom_draw_languages("language-menu-list js-language-menu-list", true) %>
</div>
