=render theme_view('layouts/header')

=render theme_view('layouts/header_menu')
= include_gon

-if is_home?
  =render :template => theme_view('pages/discover')
-else
  =yield

=render theme_view('layouts/footer')
