
- @seo = {title: "SAN'IN Featured Spots | SAN'IN -tottori and shimane-"}
- params_categories = params[:categories] || []
- post_ids = get_posts_by_category(params_categories)

-if !params_categories.empty?
  - posts = @posts.where(id: post_ids)
-else
  - posts = @posts

.article-index
  .l-container
    h2.article-index-header
      | #{I18n.t 'camaleon_cms.section_title.pickup_spots'}

    .article-index-filter-wrapper
      .articleFilterBtn.article-index-filter
        | #{I18n.t 'camaleon_cms.extra.filter'}

      .articleFilterContainer.article-index-filter-inner.hide
        = form_tag "/#{get_lang}/featured-list", method: :get, class: "form-inline" do
          ul.article-index-filter-list
            -@post_type.categories.decorate.each do |cat |
                -if cat.slug !=  "uncategorized"
                  li.article-index-filter-item
                    label[class="article-index-filter-label" for="#{cat.slug}"]
                      -if is_selected(params_categories, cat.id)
                        input[type="checkbox" name="categories[]" id="#{cat.slug}"  value="#{cat.id}" class="article-index-filter-checkbox" checked=true]
                      -else
                        input[type="checkbox" name="categories[]" id="#{cat.slug}"  value="#{cat.id}" class="article-index-filter-checkbox"]

                      span.article-index-filter-dummy-checkbox
                      / label[class="article-index-filter-label" for="#{cat.slug}"]
                      = cat.the_title

          button[type="submit" class="article-index-filter-search articleFilterSubmit"]
            | #{I18n.t 'camaleon_cms.extra.search'}

    .article-index-card-wrap
      - posts.decorate.each do | post |
        = render theme_view("/partials/article/index_card"), post: post

    .pagination
      = paginate posts, window: 1, outer_window: 3, left: 1, right: 2
