- @seo = {title: "SAN'IN News & Topics | SAN'IN -tottori and shimane-"}
- params_categories = params[:categories] || []
- post_ids = get_posts_by_category(params_categories)

-if !params_categories.empty?
  - posts = @posts.where(id: post_ids)
-else
  - posts = @posts

.contents-index.topics
  .l-container.topics-container
    h2.section-spot-header
    .contents-index-selected-category.js-selected-categories
    .contents-index-wrapper
      ul.contents-lists
        = render theme_view("post_types/news-list/list"), posts: posts
      .contents-tags.text-right
        = render theme_view("post_types/news-list/category_list")

    .pagination
      = paginate posts, window: 1, outer_window: 3, left: 1, right: 2
