.contents-index.topics
  .l-container.topics-container
    h3.section-spot-header.special-header #{I18n.t 'camaleon_cms.section_title.special'}

.banners-top-container
  .l-container
    -special_article = current_site.the_posts('special').decorate
    -if special_article.present?
      .banners-top.section-spot-special-page
        - special_big_layout = special_layout_num(special_article.count)
        -special_article.each_with_index do |post, idx|
          = render theme_view('partials/home/featured_special_article'), post: post, index: idx, check_class: use_big_layout(special_big_layout, idx)
