section.stayin
  - (1..3).each do |i|
    article.stayin-row
      .stayin-image[style="background-image:url(#{ get_image_path("accommodation/accommodation-stayin#{i}.png")})"]
      .stayin-container
        h2.stayin-heading #{I18n.t "camaleon_cms.accommodation.stayin.heading_#{i}"}
        .stayin-content
          p.stayin-copy #{I18n.t "camaleon_cms.accommodation.stayin.content_#{i}"}