.u-sp-hidden
  display: block
  @include max-screen($breakpoint-tablet)
    display: none

.u-pc-hidden
  display: none

  @include max-screen($breakpoint-tablet)
    display: block

//clearfix
.u-clear
  zoom: 1

  &:before,
  &:after
      content: ""
      display: block

  &:after
      clear: both

.center
  text-align: center

/* Temp */
.heading-title
  font-size: 60px
.heading-subtitle

.show--pc
  display: block

  @include max-screen($breakpoint-tablet)
    display: none

.show--sp
  display: none

  @include max-screen($breakpoint-tablet)
    display: block