@font-face {
    font-family: 'Gotham';
    src: url('GothamBlack.woff2') format('woff2'),
        url('GothamBlack.woff') format('woff'),
        url('GothamBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('GothamBold.woff2') format('woff2'),
        url('GothamBold.woff') format('woff'),
        url('GothamBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('GothamBook.woff2') format('woff2'),
        url('GothamBook.woff') format('woff'),
        url('GothamBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trajan Pro 3';
    src: url('TrajanPro3SemiBold.woff2') format('woff2'),
        url('TrajanPro3SemiBold.woff') format('woff'),
        url('TrajanPro3SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Trajan Pro 3';
    src: url('TrajanPro3Light.woff2') format('woff2'),
        url('TrajanPro3Light.woff') format('woff'),
        url('TrajanPro3Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Bold.woff2') format('woff2'),
        url('Gotham-Bold.woff') format('woff'),
        url('Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Black.woff2') format('woff2'),
        url('Gotham-Black.woff') format('woff'),
        url('Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Trajan Pro 3';
    src: url('TrajanPro3Regular.woff2') format('woff2'),
        url('TrajanPro3Regular.woff') format('woff'),
        url('TrajanPro3Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff'),
        url('Gotham-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

