- img_path = @post.the_field('header-banner-image')
- banner_title = @post.the_field('header-banner-title')
- sub_title = @post.the_field('sub-title') || @post.the_title

.article-hero[style="background-image: url(#{img_path})"]
  .l-container
    .article-hero-container
      h2.article-hero-title
        =raw ( banner_title.present? ? banner_title : @post.the_title )
.l-container
  .article-wrap
    .article-section-title-wrap
      h2.article-section-title
        =@post.the_title
        span.article-section-title-subtitle
          | (#{ sub_title })

    = render theme_view('partials/article/content'), post: @post.the_content
    = render theme_view('partials/article/basic_information'), basic_info: @post.the_field("pick-up-spots-basic-info")

.l-container
  = render theme_view('partials/common/title'), text: "#{I18n.t 'camaleon_cms.section_title.access'}"

.article-access
  .l-container
    = render theme_view('partials/article/access'), first_access: @post.the_fields("car-access-pick-up-spots"),
                                                    second_access: @post.the_fields("train-access-pick-up-spots"),
                                                    third_access: @post.the_fields("bus-access-pick-up-spots")

.l-container
  = render theme_view('partials/common/local_guide_banner')
= render theme_view('partials/common/tripadvisor')

.l-container
  .article-related
    h2.article-related-title
      | #{I18n.t 'camaleon_cms.section_title.you_may_also_like'}

    .article-related-card
      - @post_type.the_posts.limit(3).decorate.each do |post|
        = render theme_view('/partials/article/index_card'), post: post

    .article-related-btn
      = render theme_view('partials/common/button'), text: "#{I18n.t 'camaleon_cms.partials.button.see_all'}", link: "/#{get_lang}/featured-list"

.l-container
  = render theme_view('partials/common/related')
