-id = "camaleon-car-#{Time.now.to_i}"
-images = attributes["images"].split(",")

-images.each_with_index do |item, index|
    div
      .article-content-image[style="background-image: url( #{ item } );"]
      br

