-title_1 = attributes["title_1"] || ""
-title_2 = attributes["title_2"] || ""
-title_3 = attributes["title_3"] || ""
-title_4 = attributes["title_4"] || ""

.special-article-hero-inner
  .special-article-hero-title
    .title-list
      h3.title-item.title-item-left
        = raw(title_1)
      h3.title-item.title-item-right
        = raw(title_2)
  h2.special-article-hero-description
    = raw("#{title_3 } <br/> #{ title_4}")
