.about
  = render theme_view('partials/common/header_banner'), text: "#{I18n.t 'camaleon_cms.about.banner'}", img_path: "banner/banner-about.png"
  .l-container
    = render theme_view('partials/about/about_anchor')
    section.about-content#area
      - (1..3).each do |i|
        p #{I18n.t "camaleon_cms.about.area_content.paragraph_#{i}"}

    = render theme_view('partials/about/about_map')

  .about-destination#destination
    .l-container
      = render theme_view('partials/about/destination')

  .l-container#video
    = render theme_view('partials/about/learn_more')
