.access
  = render theme_view('partials/common/header_banner'), text: "#{I18n.t 'camaleon_cms.access_route.access'}", img_path: "banner/banner-access.png"
  .l-container
    = render theme_view('partials/access/outline')
    = render theme_view('partials/access/access_anchor')
  = render theme_view('partials/access/transpo_headline'), heading: "#{I18n.t 'camaleon_cms.access.airlines.heading'}", subheading: "#{I18n.t 'camaleon_cms.access.airlines.subheading'}", modifier: 'access-icon-airline', anchor: 'air'
  section.airline
    .l-container
      = render theme_view('partials/access/airline')
  .flight-ticket
    .l-container
      = render theme_view('partials/access/flight_ticket')
      = render theme_view('partials/access/airports')
  = render theme_view('partials/access/transpo_headline'), heading: "#{I18n.t 'camaleon_cms.access.railway.heading'}", subheading: "#{I18n.t 'camaleon_cms.access.railway.subheading'}", modifier: 'access-icon-train', anchor: 'railway'
  .l-container
    = render theme_view('partials/access/train')
  = render theme_view('partials/access/transpo_headline'), heading: "#{I18n.t 'camaleon_cms.access.bus.heading'}", subheading: "#{I18n.t 'camaleon_cms.access.bus.subheading'}", modifier: 'access-icon-bus', anchor: 'bus'
  .l-container
    = render theme_view('partials/access/bus')
  = render theme_view('partials/access/transpo_headline'), heading: "#{I18n.t 'camaleon_cms.access.car.heading'}", subheading: "#{I18n.t 'camaleon_cms.access.car.subheading'}", modifier: 'access-icon-car', anchor: 'car'
  .l-container
    = render theme_view('partials/access/car')
  = render theme_view('partials/access/transpo_headline'), heading: "#{I18n.t 'camaleon_cms.access.taxi.heading'}", subheading: "#{I18n.t 'camaleon_cms.access.taxi.subheading'}", modifier: 'access-icon-taxi', anchor: 'taxi'
  section.taxi-outer
    .l-container
      = render theme_view('partials/access/taxi')
  = render theme_view('partials/access/transpo_headline'), heading: "#{I18n.t 'camaleon_cms.access.ferry.heading'}", subheading: '', modifier: 'access-icon-ferry', anchor: 'ferry'
  = render theme_view('partials/access/ferry')

.l-container
  = render theme_view('partials/common/related')
