.accommodation
  = render theme_view('partials/common/header_banner'), text: "#{I18n.t 'camaleon_cms.accommodation.banner'}", img_path: "banner/banner-accomodation.png"

.l-container
  .accommodation-content
    p #{I18n.t 'camaleon_cms.accommodation.description'}

.accommodation-stayin
  .l-container
    = render theme_view('partials/accommodation/stayin')

.accommodation-sites
  .l-container
    .accommodation-sites-content
      = render theme_view('partials/common/partners')

.special-article-local-guide.l-container#local-guide
  = render theme_view('partials/common/local_guide_banner')

.accommodation-wl-map
  = render theme_view('partials/common/where_is_sanin')
  / .wl-access-transpo-menus
  /   h2.section-spot-header #{I18n.t 'camaleon_cms.section_title.access'}
  /   = render theme_view("partials/common/access_transpo_menus")

= render theme_view('partials/common/first_timer_menus')
= render theme_view('partials/common/sns')
.l-container
  = render theme_view('partials/common/related')
