.contact-us
	= render theme_view('partials/common/header_banner'), text: "#{I18n.t 'camaleon_cms.contact_us.banner'}", img_path: "banner/banner-contact-us.png"
	.l-container
		.contact-us-wrapper
			.contact-us-form
                - #{raw(do_shortcode(@post.decorate.content))}
                | #{raw(do_shortcode("[forms slug=sanin-contact-form]"))}

			.contact-us-address
				.contact-us-address-wrapper
					.contact-us-address-header
					.contact-us-address-location
						p #{(I18n.t 'camaleon_cms.contact_us.information.location').html_safe}
					.contact-us-address-phone
						p #{I18n.t 'camaleon_cms.contact_us.information.number'}
					.contact-us-address-email
						p #{(I18n.t 'camaleon_cms.contact_us.information.email').html_safe}

				.contact-us-address-wrapper
					.contact-us-address-notes-header
					.contact-us-address-notes-content
						p  #{(I18n.t 'camaleon_cms.contact_us.footer_note').html_safe}
