= render theme_view('partials/common/header_banner'), text: "#{I18n.t 'camaleon_cms.destination.title'}", img_path: 'article/article-hero.png'
= render theme_view('partials/common/title'), text: "#{I18n.t 'camaleon_cms.destination.plan_your_trip'}"
= render theme_view('partials/article/destinations/plan_trip')
.plan-trip-map#map
  .hide

.l-container.overview-carousel-wrap
  = render partial: theme_view('partials/article/destinations/carousel'), locals: {spots: @spots}
  .overview-card
    - @spots.each do |post|
      = render theme_view('/partials/article/index_card'), post: post

.overview-access
  = render theme_view('partials/common/where_is_sanin')

.l-container
  = render theme_view('partials/common/local_guide_banner')
