.first-time
	= render theme_view('partials/common/header_banner'), text: "#{I18n.t 'camaleon_cms.first_timer.banner'}", img_path: "banner/banner-first-timer.png"
	.l-container
		.first-time-menu
			.first-time-menu-list
				= link_to cama_about_sanin_path, class: "first-time-menu-item index-card-animation with-shadow", style: "background-image: url(#{ get_image_path('first-timer/menu-item-1.png') })"
					.first-time-menu-item-inner
						= image_tag get_image_path("icons/japan-icon.png"), class: "icon-japan"
						p #{I18n.t 'camaleon_cms.first_timer.about_sanin.title'}
				= link_to cama_destinations_path, class: "first-time-menu-item index-card-animation with-shadow", style: "background-image: url(#{ get_image_path('first-timer/menu-item-2.png') })"
					.first-time-menu-item-inner
						= image_tag get_image_path("icons/five-stars-icon.png"), class: "icon-stars"
						p #{I18n.t 'camaleon_cms.first_timer.highlights.title'}
				= link_to cama_access_path, class: "first-time-menu-item index-card-animation with-shadow", style: "background-image: url(#{ get_image_path('first-timer/menu-item-3.png') })"
					.first-time-menu-item-inner
						= image_tag get_image_path("icons/bus-icon.png"), class: "icon-bus-access"
						p #{I18n.t 'camaleon_cms.first_timer.access.title'}
				= link_to "/tourist-information", class: "first-time-menu-item index-card-animation with-shadow", style: "background-image: url(#{ get_image_path('first-timer/menu-item-4.png') })"
					.first-time-menu-item-inner
						= image_tag get_image_path("icons/frontdesk-icon.png"), class: "icon-frontdesk"
						p #{I18n.t 'camaleon_cms.first_timer.tourist_information.title'}
				= link_to cama_accommodation_path, class: "first-time-menu-item index-card-animation with-shadow", style: "background-image: url(#{ get_image_path('first-timer/menu-item-5.png') })"
					.first-time-menu-item-inner
						= image_tag get_image_path("icons/accommodation-icon.png"), class: "icon-accommodation"
						p #{I18n.t 'camaleon_cms.first_timer.stay.title'}

		.first-time-travel
			= render theme_view('partials/common/title'), text: "#{I18n.t 'camaleon_cms.section_title.when_to_travel'}"
			.first-time-travel-list
				.first-time-travel-item.travel-item-card
					.card-image[style="background-image: url(#{ get_image_path('first-timer/cards/card-1.png') })"]
					.card-content
						.card-title
							.card-season-month
								h2 #{I18n.t 'camaleon_cms.first_timer.when_to_travel.spring.header'}
								span #{I18n.t 'camaleon_cms.first_timer.when_to_travel.spring.duration'}
							.card-title-button.u-sp-hidden
								= render theme_view("partials/common/button"), text: "#{I18n.t 'camaleon_cms.first_timer.when_to_travel.see_news_and_topics'}", link: "/#{@post_type.slug}?categories[]=#{get_category_id(@post_type, 'spring')}"
						.card-description
							p #{I18n.t 'camaleon_cms.first_timer.when_to_travel.spring.description'}
						.card-title-button.u-pc-hidden
							= render theme_view("partials/common/button"), text: "#{I18n.t 'camaleon_cms.first_timer.when_to_travel.see_news_and_topics'}", link: "/#{@post_type.slug}?categories[]=#{get_category_id(@post_type, 'spring')}"
					.card-bottom
						.card-bottom-item
							p.temp
								strong #{I18n.t 'camaleon_cms.first_timer.when_to_travel.average_temperature'}
								span #{I18n.t 'camaleon_cms.first_timer.degrees.spring'}
						.card-bottom-item
							p.shirt
								strong #{I18n.t 'camaleon_cms.first_timer.when_to_travel.clothing.title'}
								span #{I18n.t 'camaleon_cms.first_timer.when_to_travel.clothing.light_wear'}
				.first-time-travel-item.travel-item-card
					.card-image[style="background-image: url(#{ get_image_path('first-timer/cards/card-2.png') })"]
					.card-content
						.card-title
							.card-season-month
								h2 #{I18n.t 'camaleon_cms.first_timer.when_to_travel.summer.header'}
								span #{I18n.t 'camaleon_cms.first_timer.when_to_travel.summer.duration'}
							.card-title-button.u-sp-hidden
							  = render theme_view("partials/common/button"), text: "#{I18n.t 'camaleon_cms.first_timer.when_to_travel.see_news_and_topics'}", link: "/#{@post_type.slug}?categories[]=#{get_category_id(@post_type, 'summer')}"
						.card-description
							p #{I18n.t 'camaleon_cms.first_timer.when_to_travel.summer.description'}
						.card-title-button.u-pc-hidden
							= render theme_view("partials/common/button"), text: "#{I18n.t 'camaleon_cms.first_timer.when_to_travel.see_news_and_topics'}", link: "/#{@post_type.slug}?categories[]=#{get_category_id(@post_type, 'summer')}"
					.card-bottom
						.card-bottom-item
							p.temp
								strong #{I18n.t 'camaleon_cms.first_timer.when_to_travel.average_temperature'}
								span #{I18n.t 'camaleon_cms.first_timer.degrees.summer'}
						.card-bottom-item
							p.shirt
								strong #{I18n.t 'camaleon_cms.first_timer.when_to_travel.clothing.title'}
								span #{I18n.t 'camaleon_cms.first_timer.when_to_travel.clothing.light_wear'}
				.first-time-travel-item.travel-item-card
					.card-image[style="background-image: url(#{ get_image_path('first-timer/cards/card-3.png') })"]
					.card-content
						.card-title
							.card-season-month
								h2 #{I18n.t 'camaleon_cms.first_timer.when_to_travel.fall.header'}
								span #{I18n.t 'camaleon_cms.first_timer.when_to_travel.fall.duration'}
							.card-title-button.u-sp-hidden
							  = render theme_view("partials/common/button"), text: "#{I18n.t 'camaleon_cms.first_timer.when_to_travel.see_news_and_topics'}", link: "/#{@post_type.slug}?categories[]=#{get_category_id(@post_type, 'fall')}"
						.card-description
							p #{I18n.t 'camaleon_cms.first_timer.when_to_travel.fall.description'}
						.card-title-button.u-pc-hidden
							= render theme_view("partials/common/button"), text: "#{I18n.t 'camaleon_cms.first_timer.when_to_travel.see_news_and_topics'}", link: "/#{@post_type.slug}?categories[]=#{get_category_id(@post_type, 'fall')}"
					.card-bottom
						.card-bottom-item
							p.temp
								strong #{I18n.t 'camaleon_cms.first_timer.when_to_travel.average_temperature'}
								span #{I18n.t 'camaleon_cms.first_timer.degrees.fall'}
						.card-bottom-item
							p.shirt
								strong #{I18n.t 'camaleon_cms.first_timer.when_to_travel.clothing.title'}
								span #{I18n.t 'camaleon_cms.first_timer.when_to_travel.clothing.medium_wear'}
				.first-time-travel-item.travel-item-card
					.card-image[style="background-image: url(#{ get_image_path('first-timer/cards/card-4.png') })"]
					.card-content
						.card-title
							.card-season-month
								h2 #{I18n.t 'camaleon_cms.first_timer.when_to_travel.winter.header'}
								span #{I18n.t 'camaleon_cms.first_timer.when_to_travel.winter.duration'}
							.card-title-button.u-sp-hidden
							  = render theme_view("partials/common/button"), text: "#{I18n.t 'camaleon_cms.first_timer.when_to_travel.see_news_and_topics'}", link: "/#{@post_type.slug}?categories[]=#{get_category_id(@post_type, 'winter')}"
						.card-description
							p #{I18n.t 'camaleon_cms.first_timer.when_to_travel.winter.description'}
						.card-title-button.u-pc-hidden
							  = render theme_view("partials/common/button"), text: "#{I18n.t 'camaleon_cms.first_timer.when_to_travel.see_news_and_topics'}", link: "/#{@post_type.slug}?categories[]=#{get_category_id(@post_type, 'winter')}"
					.card-bottom
						.card-bottom-item
							p.temp
								strong #{I18n.t 'camaleon_cms.first_timer.when_to_travel.average_temperature'}
								span #{I18n.t 'camaleon_cms.first_timer.degrees.winter'}
						.card-bottom-item
							p.shirt
								strong #{I18n.t 'camaleon_cms.first_timer.when_to_travel.clothing.title'}
								span #{I18n.t 'camaleon_cms.first_timer.when_to_travel.clothing.thick_wear'}

		= render theme_view('partials/common/title'), text: "#{I18n.t 'camaleon_cms.section_title.you_may_also_like'}", link: ""

		.article-related-card
            -  spots = current_site.the_posts('featured-list').limit(3).decorate

            - spots.each do |post|
              = render theme_view('/partials/article/index_card'), post: post


		.article-related-btn.first-time-article-button
			= render theme_view('partials/common/button'), text: "#{I18n.t 'camaleon_cms.partials.button.see_all'}", link: "/featured-list"

		= render theme_view('partials/common/local_guide_banner')

= render theme_view('partials/common/sns')
.l-container
  = render theme_view('partials/common/related')
