= render theme_view("partials/home/featured_movie_js")
.no-overflow
  .wl-hero.row.text-center.row-x-center.row-y-center
    .wel-hero-video-thumb[style="display: none"]
    #player[style="width: 100%"]
    ul.wel-hero-slideshow[style="display: none"]
      li.active[style="background-image: url(#{get_image_path('welcome/header/header1.png')});"]
      li[style="opacity: 0; background-image: url(#{get_image_path('welcome/header/header2.png')})"]
      li[style="opacity: 0; background-image: url(#{get_image_path('welcome/header/header3.png')})"]
      li[style="opacity: 0; background-image: url(#{get_image_path('welcome/header/header4.png')})"]
      li[style="opacity: 0; background-image: url(#{get_image_path('welcome/header/header5.png')})"]
    .text-white.wel-hero-catch
      h2.text-gotham.wel-hero-catch-subheading #{I18n.t 'camaleon_cms.discover.tagline'}
      h1.text-gotham.wel-hero-catch-heading #{(I18n.t 'camaleon_cms.discover.sanin').html_safe}
      p
        | #{(I18n.t 'camaleon_cms.discover.description').html_safe}
      = link_to cama_about_sanin_path, class: 'wel-hero-catch-btn'
        | #{(I18n.t 'camaleon_cms.discover.about').html_safe}
        span.wel-hero-catch-btn-icon

      / h1.text-gotham.strong SAN’IN
      / h2.text-gotham #{I18n.t 'camaleon_cms.discover.tagline'}
      / p
      /   | #{(I18n.t 'camaleon_cms.discover.description').html_safe}

.banners-top-container
  .l-container
    = render theme_view('partials/common/renewal_heading'), title:  "#{(I18n.t 'camaleon_cms.section_title.special').html_safe}"
    -special_article = current_site.the_posts('special').decorate.first(4)
    -if special_article.present?
      .banners-top
        - special_big_layout = special_layout_num(special_article.count)
        -special_article.each_with_index do |post, idx|
          = render theme_view('partials/home/featured_special_article'), post: post, index: idx, check_class: use_big_layout(special_big_layout, idx)
      .article-related-btn
        = render theme_view('partials/common/button'), text: "#{I18n.t 'camaleon_cms.partials..button.see_all'}", link: "/#{get_lang}/special"

= render theme_view('partials/home/featured_pick_up_spots'), spots: current_site.the_posts('featured-list').limit(3).decorate
= render theme_view('partials/home/featured_news_and_topics'), get_posts: current_site.the_posts('news-list').limit(2).decorate

= render theme_view('partials/common/journey_outline')
= render theme_view('partials/common/where_is_sanin')

= render theme_view('partials/common/first_timer_menus')

/ .special-article-local-guide.l-container#local-guide
/   = render theme_view('partials/common/local_guide_banner')

//.wl-access-transpo-menus
  h2.section-spot-header #{I18n.t 'camaleon_cms.section_title.access'}
  = render theme_view("partials/common/access_transpo_menus")

= render theme_view('partials/common/sns')
.l-container
  = render theme_view('partials/common/related')
