.privacy-policy
	= render theme_view('partials/common/header_banner'), text: "#{I18n.t 'camaleon_cms.privacy_policy.banner'}", img_path: 'banner/banner-privacy-policy.png'
	
	.l-container
		.privacy-policy-content
			p
				span.strong 
					| #{I18n.t 'camaleon_cms.privacy_policy.displayed_at.action'} 
				| #{I18n.t 'camaleon_cms.privacy_policy.displayed_at.date'}
			br
			p #{I18n.t 'camaleon_cms.privacy_policy.description'}
			
			.privacy-policy-sub-content
				h3.content-header #{I18n.t 'camaleon_cms.privacy_policy.sub_content.header'}
				p.sub-content-header #{I18n.t 'camaleon_cms.privacy_policy.sub_content.information_you_provide_to_us.header'}
				p #{I18n.t 'camaleon_cms.privacy_policy.sub_content.information_you_provide_to_us.content'}

				p.sub-content-header #{I18n.t 'camaleon_cms.privacy_policy.sub_content.information_we_collect.header'}
				p #{I18n.t 'camaleon_cms.privacy_policy.sub_content.information_we_collect.caption'}

				- (1..4).each do |i|
					p.sub-content-dashed 
						| #{I18n.t "camaleon_cms.privacy_policy.sub_content.information_we_collect.content_#{i}"}

				p.sub-content-header #{I18n.t 'camaleon_cms.privacy_policy.sub_content.use_of_information.header'}
				p #{I18n.t 'camaleon_cms.privacy_policy.sub_content.use_of_information.caption'}

				- (1..4).each do |i|
					p.sub-content-dashed 
						| #{I18n.t "camaleon_cms.privacy_policy.sub_content.use_of_information.content_#{i}"}

				- (1..2).each do |i|
						p #{(I18n.t "camaleon_cms.privacy_policy.sub_content.use_of_information.extra_#{i}").html_safe}

				p.sub-content-header #{I18n.t 'camaleon_cms.privacy_policy.sub_content.sharing_of_information.header'}
				p  #{I18n.t 'camaleon_cms.privacy_policy.sub_content.sharing_of_information.caption'}

				- (1..3).each do |i|
					p.sub-content-dashed 
						| #{I18n.t "camaleon_cms.privacy_policy.sub_content.sharing_of_information.content_#{i}"}
				p #{(I18n.t "camaleon_cms.privacy_policy.sub_content.sharing_of_information.extra").html_safe}

				p.sub-content-header #{I18n.t 'camaleon_cms.privacy_policy.sub_content.third_party_analytics.header'}
				p #{I18n.t 'camaleon_cms.privacy_policy.sub_content.third_party_analytics.description'}

				p.sub-content-header #{I18n.t 'camaleon_cms.privacy_policy.sub_content.security.header'}
				p #{I18n.t 'camaleon_cms.privacy_policy.sub_content.security.description'}

				p.sub-content-header #{I18n.t 'camaleon_cms.privacy_policy.sub_content.contact_us.header'}
				p #{(I18n.t 'camaleon_cms.privacy_policy.sub_content.contact_us.description').html_safe}
