= render theme_view('partials/common/header_banner'), text: "#{I18n.t 'camaleon_cms.first_timer.tourist_information.title'}", img_path: 'banner/banner-information.png'
.l-container

  .accordion
    - tourist_information_details.each do | detail |
      = render theme_view('partials/article/tourist_information/accordion'), locals: { detail: detail}


= render theme_view('partials/common/first_timer_menus')
