.travel-brochures
  = render theme_view('partials/common/header_banner'), text: "#{I18n.t 'camaleon_cms.travel_brochures.title'}", img_path: "banner/banner-brochure.png"
  .l-container
  	= render theme_view('partials/brochure/brochure')
	
