.section-access-light
  .l-container.row.section-access-light-content
    .col-lg-6.col-sm-12
      .section-access-btns
        = link_to "#{I18n.t 'camaleon_cms.access_route.access'}", cama_access_path, class: "button-page-link section-access-btn section-access-btn-train text-gotham bold"
        = link_to "#{I18n.t 'camaleon_cms.access_route.sanin_route_navi'}" , "javascript:;", class: "button-page-link section-access-btn section-access-btn-travel text-gotham bold"
