.wl-first-timer
  .l-container
    h2.section-spot-header
      | #{I18n.t 'camaleon_cms.section_title.first_timer'}
    .row.row-x-center
      = link_to cama_about_sanin_path, class: 'col-lg-5 col-sm-12 button-page-link'
        = lazy_image_tag get_image_path("welcome/icon-japan.png"), class: 'link-card-img'
        div
          h3 #{I18n.t 'camaleon_cms.first_timer.about_sanin.title'}
          p #{I18n.t 'camaleon_cms.first_timer.about_sanin.subtitle'}
      = link_to cama_accommodation_path, class: 'col-lg-5 col-sm-12 button-page-link'
        = lazy_image_tag get_image_path("welcome/icon-hotel.png"), class: 'link-card-img'
        div
          h3 #{I18n.t 'camaleon_cms.first_timer.stay.title'}
          p #{I18n.t 'camaleon_cms.first_timer.stay.subtitle'}
      = link_to cama_destinations_path, class: 'col-lg-5 col-sm-12 button-page-link'
        = lazy_image_tag get_image_path("welcome/icon-star.png"), class: 'link-card-img'
        h3 #{I18n.t 'camaleon_cms.first_timer.highlights.title'}
      = link_to "/#{get_lang}/tourist-information", class: 'col-lg-5 col-sm-12 button-page-link'
        = lazy_image_tag get_image_path("welcome/icon-desk.png"), class: 'link-card-img'
        h3 #{I18n.t 'camaleon_cms.first_timer.tourist_information.title'}
