.footer-menu
      .footer-menu-col1.footer-menu-col
        ul.row.ftr-menu-list
          -if current_site.nav_menus.find_by_slug('footer-menu-col1').present?
            - cama_menu_parse_items(current_site.nav_menus.find_by_slug('footer-menu-col1').children).each do |item|
              - if item[:children]
                li.col-sm-12.ftr-menu-item
                  .noto-sans.bold.footer-menu-category.row.js-footer-menu-contents
                    span #{item[:label]}
                  - if item[:levels] <= 1
                    ul.ftr-menu-inner
                      - item[:children].each_with_index do |ss_item, index|
                        li.footer-menu-content
                          = link_to ss_item[:label], ss_item[:url], class: 'footer-link', target: ss_item[:menu_item][:status]
                  - elsif item[:levels] <= 2
                    ul.ftr-menu-inner
                      - item[:children].each_with_index do |ss_item, index|
                        li.footer-menu-content
                          = link_to ss_item[:label], ss_item[:url], class: 'footer-link', target: ss_item[:menu_item][:status]
                          - if ss_item[:children].present?
                            ul.ftr-submenu
                              - ss_item[:children].each_with_index do |item, index|
                                li.footer-menu-contents-inner.ftr-submenu-item
                                  = link_to item[:label], item[:url], class: 'ftr-submenu-link'
      .footer-menu-col2.footer-menu-col
        ul.row.ftr-menu-list
          -if current_site.nav_menus.find_by_slug('footer-menu-col2').present?
            - cama_menu_parse_items(current_site.nav_menus.find_by_slug('footer-menu-col2').children).each do |item|
              - if item[:children]
                li.col-sm-12.ftr-menu-item
                  .noto-sans.bold.footer-menu-category.row.js-footer-menu-contents
                    span #{item[:label]}
                  - if item[:levels] <= 1
                    ul.ftr-menu-inner
                      - item[:children].each_with_index do |ss_item, index|
                        li.footer-menu-content
                          = link_to ss_item[:label], ss_item[:url], class: 'footer-link', target: ss_item[:menu_item][:status]
                  - elsif item[:levels] <= 2
                    ul.ftr-menu-inner
                      - item[:children].each_with_index do |ss_item, index|
                        li.footer-menu-content
                          = link_to ss_item[:label], ss_item[:url], class: 'footer-link', target: ss_item[:menu_item][:status]
                          - if ss_item[:children].present?
                            ul.ftr-submenu
                              - ss_item[:children].each_with_index do |item, index|
                                li.footer-menu-contents-inner.ftr-submenu-item
                                  = link_to item[:label], item[:url], class: 'ftr-submenu-link'
