.footer-links.text-center
      =link_to root_path, class: 'footer-logo text-gotham strong u-sp-hidden'
        |SAN’IN
        br
        span.footer-log-sub.text-gotham.normal
          | Tottori and Shimane
      .footer-sns-links
        h3.text-gotham.bold FOLLOW US:

        div
          .row.row-y-center.row-x-center
            =link_to 'https://twitter.com/2kcRJICDInKgRUl', target: '_blank'
              i.fa.fa-twitter
            =link_to 'https://www.facebook.com/RouteRomantiqueSanin/', target: '_blank'
              i.fa.fa-facebook
            =link_to 'https://www.instagram.com/sanin_stagram/', target: '_blank'
              i.fa.fa-instagram
