.journey-outline
	.l-container
		.journey-outline-container
         h2.journey-outline-heading
             | #{(I18n.t 'camaleon_cms.journey_outline.headline').html_safe}
         p.journey-outline-copy
             |#{(I18n.t 'camaleon_cms.journey_outline.description').html_safe}

         = link_to Rails.env == 'production' ? 'https://huber-japan.com/chat/tabishindan?type=san_in' : 'https://huber-stg.huber-japan.com/chat/tabishindan?type=san_in', class: 'jouney-outline-tabishindan', target: '_blank'
             | #{(I18n.t 'camaleon_cms.journey_outline.btn_1').html_safe}
             br
             | #{(I18n.t 'camaleon_cms.journey_outline.btn_2').html_safe}
             span.jouney-outline-tabishindan-start
                 | #{(I18n.t 'camaleon_cms.journey_outline.btn_3').html_safe}
