.section-local-guide
	= link_to Rails.env == 'production' ? 'https://huber-japan.com/chat/tabishindan?type=san_in' : 'https://huber-stg.huber-japan.com/chat/tabishindan?type=san_in', class: "local-guide-link", target: '_blank'
		= image_tag get_image_path("local-guide--pc.png"), class: "u-sp-hidden"
		= image_tag get_image_path("local-guide--sp.png"), class: "u-pc-hidden"
