.pagination
  button.pagination-nav.pagination-prev.disabled-link
    span.pagination-nav-inner.pagination-nav-prev
  ul.pagination-list
    li.pagination-item
      = link_to '1', 'javascript:;', class: 'pagination-link'
    li.pagination-item
      = link_to '2', 'javascript:;', class: 'pagination-link active-link'
    li.pagination-item
      = link_to '...', 'javascript:;', class: 'pagination-link'
    li.pagination-item
      = link_to '17', 'javascript:;', class: 'pagination-link'
  button.pagination-nav.pagination-next
    span.pagination-nav-inner.pagination-nav-next
