h2.partner-heading
  | #{I18n.t "camaleon_cms.partials.title.accommodation_sites"}
ul.partner-list
  li.partner-item.partner-tripadvisor
    = link_to 'https://tripadvisor.com', target:'_blank', class: 'partner-link'
      = image_tag get_image_path("accommodation/partner-tripadvisor.png"), class: 'partner-image'
  li.partner-item.partner-japanican
    = link_to 'https://www.japanican.com', target:'_blank', class: 'partner-link'
      = image_tag get_image_path("accommodation/partner-japanican.png"), class: 'partner-image'
  li.partner-item.ralated-booking
    = link_to 'https://www.booking.com', target:'_blank', class: 'partner-link'
      = image_tag get_image_path("accommodation/partner-booking.png"), class: 'partner-image'
  li.partner-item.partner-expedia
    = link_to 'https://expedia.com', target:'_blank', class: 'partner-link'
      = image_tag get_image_path("accommodation/partner-expedia.png"), class: 'partner-image'
