section.related
  ul.related-site
    li.related-item
      = link_to 'https://travelguide.michelin.com/asia/japan/sanin', class: 'related-link', target: '_blank'
        = lazy_image_tag get_image_path("welcome/related-site1.jpg"), class: 'related-img'
    li.related-item
      = link_to 'https://www.japanican.com/en/tour/list/?typecd=TOU&typegrpcd=TPA&category=1214', class: 'related-link', target: '_blank'
        = lazy_image_tag get_image_path("welcome/related-site3.jpg"), class: 'related-img'
    li.related-item
      = link_to 'https://japan-sanin.com/en/', class: 'related-link', target: '_blank'
        = lazy_image_tag get_image_path("welcome/related-site5.png"), class: 'related-img'
    li.related-item
      = link_to 'https://www.ana.co.jp/en/us/japan-travel-planner/', class: 'related-link', target: '_blank'
        = lazy_image_tag get_image_path("welcome/related-site7.jpg"), class: 'related-img'
    li.related-item
      = link_to 'http://www.env.go.jp/en/nature/nps/park/daisen/index.html', class: 'related-link', target: '_blank'
        = lazy_image_tag get_image_path("welcome/related-site2.jpg"), class: 'related-img'
    li.related-item
      = link_to ' http://jal.japantravel.com/', class: 'related-link', target: '_blank'
        = lazy_image_tag get_image_path("welcome/related-site8.jpg"), class: 'related-img'
    li.related-item
      = link_to 'https://visit.jorudan.co.jp/trip/Blender/sanin?ak=8ri2so0wsuzoh4k4z7r7clv7fmihbegv&lang=1', class: 'related-link', target: '_blank'
        = lazy_image_tag get_image_path("welcome/related-site9.jpg"), class: 'related-img'
