- if get_page_posts.present?
	.sns-carousel#sns-carousel
		- get_page_posts.each do |post_item|
		    = link_to post_item['post_permalink_url'], class:'sns-carousel-item', target: "_blank"
		      .sns-carousel-inner
		        .sns-page-post-wrapper
		        	.sns-page-post-header
		        		.sns-page-post-avatar[style="background-image:url('#{ post_item['page_picture_url'] }')"]
		        		.sns-page-post-info
		        			.sns-page-post-name-activity
		        				span.sns-page-post-name #{post_item['page_name']}
				        		- if post_item['post_attachments'].present?
						        	- if attachments = post_item['post_attachments']['data'].present?
						        		- if post_item['post_attachments']['data'][0]['subattachments'].present?
						        			- img_uploaded_ctr = post_item['post_attachments']['data'][0]['subattachments']['data'].count
		        				span.sns-page-post-status #{check_status_type(post_item['post_status_type'], post_item['post_description'].present?, post_item['post_name'], img_uploaded_ctr)}
		        			.sns-page-post-time
		        				span.post-datetime
		        					- date = Time.parse(post_item['post_created'])
		        					| #{date.strftime("%m")}月
		        					| #{date.strftime("%e")}日
		        				span.post-status[style="background-image:url('#{ get_image_path('icons/facebook-icon-notification.png')}')"]
		        	.sns-page-post-content
		        		- if post_item['post_message'].present?
			        		.sns-page-post-message
			        			- truncated_text = post_item['post_message'].html_safe
			        			- if truncated_text.length > 200
			        				= truncate(truncated_text, length: 200, omission: " ...")
									span.sns-see-more #{I18n.t 'camaleon_cms.extra.see_more'}

								- else
									= post_item['post_message']

			        	- if post_item['post_full_picture'].present?
			        		- if post_item['post_description'].present?
			        			.sns-page-shared-post
			        				.sns-page-shared-post-image[style="background-image:url('#{ post_item['post_full_picture'] }')"]
			        				.sns-page-shared-post-content
										.sns-page-post-header
							        		.sns-page-post-info
							        			.sns-page-post-name-activity
							        				span.sns-page-post-name #{post_item['post_name']}
								        			span.sns-page-post-time
								        				span.post-status[style="background-image:url('#{ get_image_path('icons/facebook-icon-notification.png')}')"]
							        	.sns-page-shared-post-description
							        		= check_for_hashtag(break_the_lines(post_item['post_description'])).html_safe
			        		- else
			        			img[src="#{ post_item['post_full_picture'] }"]
