.special-anchor
  ul.special-anchor-list
    li.special-anchor-item
      = link_to "#{I18n.t 'camaleon_cms.extra.spots'}", '#spots', class: 'special-anchor-link'
    li.special-anchor-item
      = link_to "#{I18n.t 'camaleon_cms.extra.local_guide'}", '#local-guide', class: 'special-anchor-link'
