.article-tripadvisor
  .l-container
    .article-tripadvisor-inner
      = link_to cama_accommodation_path, class:'article-tripadvisor-content'
        h2.article-tripadvisor-shadow
          | #{I18n.t 'camaleon_cms.accommodation.banner'}
        h3.article-tripadvisor-heading
          | #{I18n.t 'camaleon_cms.accommodation.find.text_1'}
          br
          | #{I18n.t 'camaleon_cms.accommodation.find.text_2'}

        = image_tag get_image_path("article/tripadvisor-logo.png") , class:"article-tripadvisor-image"
