.wl-map-wrapper
  .wl-map-content.l-container
    / = image_tag get_image_path("welcome/map-sp.jpg"), class: 'wl-map-img wl-map-sp'
    h2.wl-map-heading 
      | #{I18n.t 'camaleon_cms.partials.where_is_sanin.heading'}
      span.wl-map-subheading 
        | #{I18n.t 'camaleon_cms.partials.where_is_sanin.sub_heading'}
    / = link_to cama_about_sanin_path, class: 'wl-map-button'
    /   | ABOUT SAN’IN
    /   span.wl-map-button-icon
    = lazy_image_tag get_image_path('welcome/renewal-map-pc.png'), class: 'wl-map-img wl-map-renewal-img'
    .row.row-x-center.section-access-btns
      .row.col-lg-11.col-sm-12.row-x-center
        = link_to "#{I18n.t 'camaleon_cms.access_route.access'}", cama_access_path, class: "button-page-link section-access-btn section-access-btn-train text-gotham bold col-lg-5 col-md-6 col-sm-12"
        = link_to "#{I18n.t 'camaleon_cms.access_route.travel_brochures'}" , "/travel-brochures", class: "button-page-link section-access-btn section-access-btn-travel text-gotham bold col-lg-5 col-md-6 col-sm-12"
        /= link_to "#{I18n.t 'camaleon_cms.access_route.sanin_route_navi'}" , "https://visit.jorudan.co.jp/trip/Blender/sanin?ak=8ri2so0wsuzoh4k4z7r7clv7fmihbegv&lang=1", class: "button-page-link section-access-btn section-access-btn-travel text-gotham bold col-lg-5 col-md-6 col-sm-12", target: '_blank'
    //.wl-map-tabishindan-container
      .row.row-y-center.row-x-center
        p
          |Take a questionalies and
          br
          |find a stuitable way to
          br
          |spend a day for you!
        = link_to 'javascript:;', class: 'wl-map-btn-tabishindan'
          = image_tag get_image_path("tabishindan_get_started.png")
    br
