<%= form_for(url_for(action: :save_settings), html: {class: "validate"}) do %>
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h3 class="panel-title">Update FB Page Credentials</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Page Name</label>
                <%= text_field_tag(:fb_page_name, @fb_page[:fb_page_name], class: "form-control required", style: "width: 100%") %>
            </div>
            <div class="form-group">
                <label>Page ID</label>
                <%= text_field_tag(:fb_page_id, @fb_page[:fb_page_id], class: "form-control required", style: "width: 100%") %>
            </div>
            <div class="form-group">
                <label>Page Token</label>
                <%= text_field_tag(:fb_page_token, @fb_page[:fb_page_token].gsub(/"|\[|\]|\s+/, ''), class: "form-control required", style: "width: 100%") %>
            </div>
        </div>
        <div class="panel-footer">
            <%= link_to "Back", admin_plugins_facebook_sn_settings_path, class: 'btn btn-default' %>
            <%= submit_tag 'Update', class: 'btn btn-primary pull-right' %>
        </div>
    </div>
<% end %>