<%#= javascript_include_tag plugin_asset("my_file.js") %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>FACEBOOK SNS</h4>
    </div>
    <div class="panel-body">
    </div>
</div>