<%= form_for(url_for(action: :save_settings), html: {class: "validate form-inline"}) do %>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group col-sm-12 col-md-6">
                <label>Page Name</label>
                <%= text_field_tag(:fb_page_name, "", class: "form-control required", style: "width: 100%") %>
            </div>
            <div class="form-group col-sm-12 col-md-6">
                <label>Page ID</label>
                <%= text_field_tag(:fb_page_id, "", class: "form-control required", style: "width: 100%") %>
            </div>
            <div class="form-group col-md-12">
                <label>Page Token</label>
                <%= text_field_tag(:fb_page_token, "", class: "form-control required", style: "width: 100%") %>
            </div>
        </div>
        <div class="panel-footer">
            <%= submit_tag 'Save', class: 'btn btn-primary pull-right' %>
        </div>
    </div>
<% end %>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Facebook SNS Credentials List</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <% @fb_pages.each do |fb_page| %>
                <div class="col-sm-12 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel panel-heading">
                            <h3 class="panel-title">
                                <%= fb_page.fb_page_name %>
                            </h3>
                            <p style="margin: 5px 0 -5px">
                                <%= link_to "Edit", {controller: 'admin', action: :edit, id: fb_page} %> | 
                                <%= link_to "Remove", {controller: 'admin', action: :destroy, id: fb_page}, data: {confirm: "Are you sure you want to remove?"} %>
                            </p>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Page ID:</label>
                                <br>
                                <code><%= fb_page.fb_page_id %></code>
                            </div>
                            <div class="form-group">
                                <label>Page Access Token:</label>
                                <br>
                                <code style="word-break: break-all;"><%= fb_page.fb_page_token.gsub(/"|\[|\]/, '') %></code>
                            </div>
                            <div class="form-group">
                                <label>Status Message</label>
                                <br>
                                <% if fb_page.status_message.nil? %>
                                    <div class="alert alert-warning">
                                      Haven't requested page yet.
                                    </div>
                                <% elsif fb_page.status_message == "Page request is okay." %>
                                    <div class="alert alert-success">
                                      <%= fb_page.status_message %>
                                    </div>
                                <% else %>
                                    <div class="alert alert-danger">
                                      <%= fb_page.status_message %>
                                    </div>
                                <% end %> 
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    
</div>