.contact-us
	= render theme_view('partials/common/header_banner'), text: "Contact Us", img_path: "banner/banner-contact-us.png"
	.l-container
		.contact-us-wrapper
			.contact-us-form
                - #{raw(do_shortcode(@post.decorate.content))}
                | #{raw(do_shortcode("[forms slug=sanin-contact-form]"))}

			.contact-us-address
				.contact-us-address-wrapper
					.contact-us-address-header
					.contact-us-address-location
						p
							| 4F 311 Suehiro-cho Yonago City, Tottori,
							br
							| 683-0043, Japan
					.contact-us-address-phone
						p Phone +81-859-21-1502   |   Fax +81-859-21-1524
					.contact-us-address-email
						p
							| sanin_sanin@sanin.com
							br
							| Everyone is more than welcome to send us an email at sanin_sanin@sanin.com and we strive to answer as quickly as we can.

				.contact-us-address-wrapper
					.contact-us-address-notes-header
					.contact-us-address-notes-content
						p  #{(I18n.t 'camaleon_cms.contact_us.footer_note').html_safe}

