- params_categories = params[:categories] || []


.articleFilterBtn.article-index-filter.inline.text-left.
  | #{I18n.t 'camaleon_cms.extra.filter'}
= form_tag "/#{get_lang}/news-list", method: :get, class: "form-inline article-form-tag" do
  ul.row.articleFilterContainer.text-left.content-container-tags
    -@post_type.categories.decorate.each do | cat |
      -if cat.slug !=  "uncategorized"
        li.col-lg-6
          -if is_selected(params_categories, cat.id)
            input[type="checkbox" name="categories[]" id="#{cat.slug}"  value="#{cat.id}" class="contents-index-filter-checkbox" checked=true]
          -else
            input[type="checkbox" name="categories[]" id="#{cat.slug}"  value="#{cat.id}" class="contents-index-filter-checkbox"]
          label[class="contents-tag js-contents-tag" for="#{cat.slug}"]
            = cat.the_title
    .col-sm-12
      button[type="submit" class="article-index-filter-search "]
        | #{I18n.t 'camaleon_cms.extra.search'}
  h2.article-index-filter-title
    | #{I18n.t 'camaleon_cms.extra.category'}
