-posts.decorate.each do | post |
  - img_path = post.the_field('header-banner-image')
  li.row.contents-list-item
    = link_to post.the_url, class: 'contents-list-link'
      .contents-thumb[style= "background-image:url(#{ img_path })"]
      .contents-detail
        .row.contents-info
          p.text-blue
            -post.post_tags.decorate.each do |tag|
              span.tag
                |##{tag.name}
          h3
            = strip_tags(post.the_title)
          p.text-gray
            = ymd_format(post.created_at)
        i.fa.fa-chevron-right.text-gray
