.contents-index
  .l-container
    h2.section-spot-header Contents
    .row.contents-index-wrapper
      ul.contents-lists.col-lg-9.col-md-9.col-sm-12
        = render theme_view("post_types/news-list/list"), posts: @posts
      .contents-tags.col-lg-3.col-md-3.col-sm-12
        = render theme_view("post_types/news-list/category_list")
