- img_path = @post.the_field('header-banner-image')
- banner_title = @post.the_field('header-banner-title')
- sub_title = @post.the_field('sub-title') || @post.the_title

.article-hero[style="background-image: url(#{img_path})"]
  .l-container
    .article-hero-container
      h2.article-hero-title
        =raw banner_title
.l-container
  .article-wrap
    .article-section-title-wrap
      h2.article-section-title
        =@post.the_title
        span.article-section-title-subtitle
          | (#{ sub_title })
    = render theme_view('partials/article/content'), post: @post.the_content

    .article-tag
      p.article-tag-search
        | #{I18n.t 'camaleon_cms.extra.tag_search'}
      -@post.post_tags.decorate.each do |tag|
        =link_to "##{tag.name} ", tag.the_url, class: 'article-tag-link'

.custom-news-list-hldr.article-news-list
  = render theme_view('partials/home/featured_news_and_topics'), get_posts: current_site.the_posts('news-list').limit(2).decorate


.l-container
  .article-related
    h2.article-related-title
      | #{I18n.t 'camaleon_cms.section_title.you_may_also_like'}

    .article-related-card
      - current_site.the_posts('featured-list').limit(3).decorate.each do |post|
        = render theme_view('/partials/article/index_card'), post: post

    .article-related-btn
      = render theme_view('partials/common/button'), text: "#{I18n.t 'camaleon_cms.partials.button.see_all'}", link: "/#{get_lang}/featured-list"

= render theme_view('partials/common/sns')

.special-article-local-guide.l-container#local-guide
  = render theme_view('partials/common/local_guide_banner')

.article-wl-map-content
  = render theme_view('partials/common/where_is_sanin')
