.row
  box-sizing: border-box
  display: flex
  flex: 0 1 auto
  flex-direction: row
  flex-wrap: wrap
  width: 100%
  &.row-x-center
    justify-content: center
  &.row-y-center
    align-items: center
    
.col-lg-1
  box-sizing: border-box
  flex: 0 0 auto
  flex-basis: 8.3333333333%
  max-width: 8.3333333333%
.col-lg-2
  box-sizing: border-box
  flex: 0 0 auto
  flex-basis: 16.6666666667%
  max-width: 16.6666666667%
.col-lg-3
  box-sizing: border-box
  flex: 0 0 auto
  flex-basis: 25%
  max-width: 25%
.col-lg-4
  box-sizing: border-box
  flex: 0 0 auto
  flex-basis: 33.33333333%
  max-width: 33.33333333%
.col-lg-5
  box-sizing: border-box
  flex: 0 0 auto
  flex-basis: 41.6666666667%
  max-width: 41.6666666667%
.col-lg-6
  box-sizing: border-box
  flex: 0 0 auto
  flex-basis: 50%
  max-width: 50%
.col-lg-7
  box-sizing: border-box
  flex: 0 0 auto
  flex-basis: 58.3333333333%
  max-width: 58.3333333333%
.col-lg-8
  box-sizing: border-box
  flex: 0 0 auto
  flex-basis: 66.6666666667%
  max-width: 66.6666666667%
.col-lg-9
  box-sizing: border-box
  flex: 0 0 auto
  flex-basis: 75%
  max-width: 75%
.col-lg-10
  box-sizing: border-box
  flex: 0 0 auto
  flex-basis: 83.3333333333%
  max-width: 83.3333333333%
.col-lg-11
  box-sizing: border-box
  flex: 0 0 auto
  flex-basis: 91.6666666667%
  max-width: 91.6666666667%
.col-lg-12
  box-sizing: border-box
  flex: 0 0 auto
  flex-basis: 100%
  max-width: 100%
  
@include max-screen($breakpoint-tablet)
  .col-md-1
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 8.3333333333%
    max-width: 8.3333333333%
  .col-md-2
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 16.6666666667%
    max-width: 16.6666666667%
  .col-md-3
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 25%
    max-width: 25%
  .col-md-4
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 33.33333333%
    max-width: 33.33333333%
  .col-md-5
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 41.6666666667%
    max-width: 41.6666666667%
  .col-md-6
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 50%
    max-width: 50%
  .col-md-7
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 58.3333333333%
    max-width: 58.3333333333%
  .col-md-8
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 66.6666666667%
    max-width: 66.6666666667%
  .col-md-9
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 75%
    max-width: 75%
  .col-md-10
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 83.3333333333%
    max-width: 83.3333333333%
  .col-md-11
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 91.6666666667%
    max-width: 91.6666666667%
  .col-md-12
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 100%
    max-width: 100%

@include max-screen($breakpoint-mid-mobile)
  .col-sm-1
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 8.3333333333%
    max-width: 8.3333333333%
  .col-sm-2
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 16.6666666667%
    max-width: 16.6666666667%
  .col-sm-3
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 25%
    max-width: 25%
  .col-sm-4
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 33.33333333%
    max-width: 33.33333333%
  .col-sm-5
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 41.6666666667%
    max-width: 41.6666666667%
  .col-sm-6
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 50%
    max-width: 50%
  .col-sm-7
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 58.3333333333%
    max-width: 58.3333333333%
  .col-sm-8
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 66.6666666667%
    max-width: 66.6666666667%
  .col-sm-9
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 75%
    max-width: 75%
  .col-sm-10
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 83.3333333333%
    max-width: 83.3333333333%
  .col-sm-11
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 91.6666666667%
    max-width: 91.6666666667%
  .col-sm-12
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 100%
    max-width: 100%

@include max-screen($breakpoint-mobile)
  .col-xs-1
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 8.3333333333%
    max-width: 8.3333333333%
  .col-xs-2
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 16.6666666667%
    max-width: 16.6666666667%
  .col-xs-3
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 25%
    max-width: 25%
  .col-xs-4
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 33.33333333%
    max-width: 33.33333333%
  .col-xs-5
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 41.6666666667%
    max-width: 41.6666666667%
  .col-xs-6
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 50%
    max-width: 50%
  .col-xs-7
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 58.3333333333%
    max-width: 58.3333333333%
  .col-xs-8
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 66.6666666667%
    max-width: 66.6666666667%
  .col-xs-9
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 75%
    max-width: 75%
  .col-xs-10
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 83.3333333333%
    max-width: 83.3333333333%
  .col-xs-11
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 91.6666666667%
    max-width: 91.6666666667%
  .col-xs-12
    box-sizing: border-box
    flex: 0 0 auto
    flex-basis: 100%
    max-width: 100%