.l-container
  margin: 0 auto
  max-width: $site-size
  width: 100%
  padding: 0 30px

  @include max-screen($breakpoint-tablet)
    padding: 0 15px

  @include max-screen($breakpoint-mid-mobile)
    padding: 0 10px
    &.l-container-no-padding-sp
      padding: 0

.sanin
