/ Link to the "Next" page
  - available local variables
    url          : url to the next page
    current_page : a page object for the currently displayed page
    total_pages  : total number of pages
    per_page     : number of items to fetch per page
    remote       : data-remote

span.next
  -if current_page.last?
    button.pagination-nav.pagination-next.disabled-link
      span.pagination-nav-inner.pagination-nav-next
  -else
    == link_to url, rel: 'prev', remote: remote do
      button.pagination-nav.pagination-next
        span.pagination-nav-inner.pagination-nav-next
