/ Link to the "Previous" page
  - available local variables
    url          : url to the previous page
    current_page : a page object for the currently displayed page
    total_pages  : total number of pages
    per_page     : number of items to fetch per page
    remote       : data-remote
span.prev
  -if current_page.first?
    button.pagination-nav.pagination-prev.disabled-link
      span.pagination-nav-inner.pagination-nav-prev
  -else
    == link_to url, rel: 'prev', remote: remote do
      button.pagination-nav.pagination-prev
        span.pagination-nav-inner.pagination-nav-prev
