-if post.present? &&  post.the_fields("header-banner-image").present?
  -header_banner_img = post.the_fields("header-banner-image")[0]
  -banner_title = post.the_fields("header-banner-title")[0] || post.title
  =link_to "/#{get_lang}/special/#{post.the_slug}", class: "#{check_class} banner-top lazyload", data: {bg: "#{header_banner_img}"}
    = raw banner_title
