.l-container
  -first_pick_up_spots = spots.first
  -pick_up_spots = spots

  -if first_pick_up_spots.present? && pick_up_spots.present?
    .section-spot
      = render theme_view('partials/common/renewal_heading'), title: "#{I18n.t 'camaleon_cms.section_title.pickup_spots'}"
      .section-spot-content
        .section-spot-narrow
          -pick_up_spots.each_with_index do |post, idx|
            -if post.the_fields("header-banner-image").present?
              -header_banner_img = post.the_fields("header-banner-image")[0]
              - banner_title = post.the_fields('banner-title')[0]
              -if(idx == 1 || idx == 2)
                =link_to "/#{get_lang}/featured/#{post.the_slug}", class: "section-spot-narrow-item index-card-animation with-shadow lazyload", data: {bg: "#{ header_banner_img }"}
                  .section-spot-narrow-inner-item
                    =raw banner_title.present? ? banner_title : post.the_title

        =link_to "/#{get_lang}/featured/#{first_pick_up_spots.the_slug}", class: "section-spot-wide index-card-animation with-shadow is-wide lazyload", data: {bg: "#{ first_pick_up_spots.the_fields("header-banner-image")[0] }"}
         .section-spot-wide-inner
              -banner_title = first_pick_up_spots.the_field('banner-title')
              =raw ( banner_title.present? ? banner_title : first_pick_up_spots.the_title)
      .article-related-btn
        = render theme_view('partials/common/button'), text: "#{I18n.t 'camaleon_cms.partials.button.see_all'}", link: "/#{get_lang}/featured"
