.l-container
  .wl-content-list
    = render theme_view('partials/common/renewal_heading'), title: "#{I18n.t 'camaleon_cms.section_title.news_and_topics'}"
    / h2.section-spot-header
    /   | #{I18n.t 'camaleon_cms.section_title.news_and_topics'}
    .renewal-news
      -get_posts.each do | story |
        //- header_banner_img = story.the_fields("header-banner-image")[0]
        //- banner_title = story.the_fields('header-banner-title')[0]
        //= link_to story.the_url, class: 'content-list-card index-card-animation with-shadow col-lg-3 col-sm-12 row row-x-center row-y-center', style: "background-image:url('#{ header_banner_img }')"
        //  h2.content-list-card-title.text-strong.text-white =raw (banner_title.present? ? banner_title : story.title)
        - img_path = story.the_field('header-banner-image')
        = link_to "/#{get_lang}/news/#{story.the_slug}", class: "renewal-news-card"
          .renewal-news-image.lazyload data-bg="#{img_path}"
            h3.renewal-news-title
              = strip_tags(story.the_title)
          / .row.row-y-center
          /   .col-lg-4.col-sm-4.contents-thumb[style= "background-image:url(#{ img_path })"]
          /   .col-lg-8.col-sm-8.row.row-x-center.row-y-center
          /     .row.contents-info
          /       p.text-blue
          /         -story.post_tags.decorate.each do |tag|
          /           span.tag
          /             |##{tag.name}
          /       h3
          /         = strip_tags(story.the_title)
          /       p.text-gray
          /         = ymd_format(story.created_at)
          /     i.fa.fa-chevron-right.text-gray.u-tab-hidden.u-pc-hidden.inline

  .article-related-btn
    = render theme_view('partials/common/button'), text: "#{I18n.t 'camaleon_cms.partials.button.see_all'}", link: "/#{get_lang}/news"
