javascript:
  if(!navigator.userAgent.match(/(iPhone|iPad|iPod|Android)/)){
    var tag = document.createElement('script');
  
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        videoId: '8QmQRp7ePoE',
        playerVars: {
          html5: 1,
          controls: 0,
          autoplay: 1,
          showinfo: 0,
          iv_load_policy: 0,
          modestbranding: 1,
          rel: 0,
          disablekb: 1,
          origin: location.protocol + '//' + location.hostname + "/"
        },
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }
  
    function onPlayerReady(event) {
      event.target.playVideo();
      event.target.mute();
    }
  
    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.ENDED) {
        event.target.seekTo(0,true);
        event.target.playVideo();
      }
      if (event.data == YT.PlayerState.PLAYING) {
        $(".wel-hero-video-thumb").css("background", "transparent");
      }
    }
  };