.contents-index
  padding-top: 15px
  ul
    list-style: none
  > .l-container
    position: relative
.contents-index-wrapper
  padding-bottom: 20px
  display: flex
  @include max-screen($breakpoint-tablet)
    flex-wrap: wrap-reverse

.contents-tags
  padding-left: 20px
  position: relative
  width: 300px
  flex-shrink: 0

  li
    margin-bottom: 10px
    padding-right: 10px
    width: 50%
    @include max-screen($breakpoint-tablet + 1)
      width: 100%
    @include max-screen($breakpoint-tablet)
      width: auto
  .contents-tag
    cursor: pointer
    color: $gray
    background: rgba($gray,.1)
    padding: 5px
    display: block
  .contents-index-filter-checkbox
    display: none
    &:checked
      + .contents-tag
        color: $blue
        background: rgba($blue,.2)

  @include max-screen($breakpoint-tablet)
    padding-left: 0
    position: absolute
    top: -35px
    right: 10px
    width: auto

  .articleFilterBtn
    display: none

    @include max-screen($breakpoint-tablet)
      display: block

.content-container-tags

  @include max-screen($breakpoint-tablet)
    background-color: $white
    padding: 5px
    border-radius: 5px
    position: absolute
    top: 40px
    right: 0
    width: 300px
    box-shadow: 0px 4px 12px 0px rgba($gray, 0.5)
    z-index: 2
    display: none

.open
  display: flex

.contents-index-selected-category
  padding-bottom: 10px
  display: none

  @include max-screen($breakpoint-tablet)
    display: block

  p
    padding: 5px
    color: $blue
    background: rgba($blue,.2)
    margin-right: 3px
    display: inline-block
