.wl-hero.row
  height: 500px
  position: relative
  @include max-screen($breakpoint-mid-mobile)
    height: 300px
  .wel-hero-video-thumb
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-size: cover
    background-repeat: no-repeat
    background-image: image-url("../images/welcome/hero-image.jpg")
    background-position: -1px -67px
  .wel-hero-catch
    z-index: 4
  h1
    font-size: 120px
    text-shadow: 0 0 12px rgba($black, .4)
    font-weight: 600
    margin-bottom: 0
    @include max-screen($breakpoint-mid-mobile)
      font-size: 60px
  h2
    font-size: 25px
    text-transform: uppercase
    font-weight: 600
    text-shadow: 0 0 12px rgba($black, .4)
    margin-bottom: 0
    // background: rgba(0, 136, 153, .8)
    letter-spacing: 1px
    @include max-screen($breakpoint-mid-mobile)
      font-size: 15px
      padding: 10px 20px 0 20px
      letter-spacing: 2px
  p
    margin: -20px 0 25px
    font-size: 23px
    text-shadow: 0 0 12px rgba($black, .4)
    @include max-screen($breakpoint-mid-mobile)
      font-size: 12px
      margin: 0
  #player
    position: absolute
    top: -70px
    left: 0
    z-index: -1
  ul
    margin: 0
    position: absolute
    width: 100%
    height: 100%
  li
    position: absolute
    width: 100%
    height: 100%
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    overflow: hidden
    z-index: 1
    &.active
      z-index: 3
    &.last-active
      z-index: 2
.wl-sa-banners
  padding: 2.5px
  .banner
    height: 250px
    font-size: 44px
    border: 2.5px $white solid
    &:after
      transform: scale(0.4)
      border: 1px $white solid
      background: none
      transition-duration: 300ms
      transition-property: transform, opacity
      transition-timing-function: ease-in-out
      @include max-screen($breakpoint-mid-mobile)
        transform: scale(1)

    &:hover
      &:after
        transform: scale(1)
        opacity: 1

    @include max-screen($breakpoint-mid-mobile)
      font-size: 20px
      height: 180px
    @include max-screen($breakpoint-mobile)
      font-size: 18px
      height: 150px

  .pre
    font-size: 35px
    @include max-screen($breakpoint-mid-mobile)
      font-size: 15px
    @include max-screen($breakpoint-mobile)
      font-size: 13px

.wl-map-content
  margin: 0 auto
  position: relative
  z-index: 1
  overflow: hidden
  padding-bottom: 5px
  .section-access-btns
    margin-top: 60px
    @include max-screen($breakpoint-tablet)
      margin-top: 0
  .section-access-btn
    padding-left: 12%
    margin: 5px 10px
    @include max-screen($breakpoint-mid-mobile)
      padding-left: 20%

.wl-map-img
  width: 100%
  position: absolute
  z-index: -1
  top: 0
  right: 0

.wl-map-pc
  @include max-screen($breakpoint-sm-tablet)
    display: none

.wl-map-sp
  display: none
  @include max-screen($breakpoint-sm-tablet)
    display: block
    top: auto
    transform: none
    bottom: -190px

  @include max-screen($breakpoint-mid-mobile)
    bottom: -120px

  @include max-screen($breakpoint-mobile)
    bottom: 0

.wl-map-renewal-img
  max-width: 812px
  width: 100%

  @include max-screen($breakpoint-tablet)
    position: relative

  @include max-screen($breakpoint-mobile)
    transform: scale(1.4)
    left: -60px

.wl-map-heading
  font-size: 72px
  padding-top: 40px
  font-family: 'Gotham'
  font-weight: 800
  line-height: 1
  color: $light-gray
  z-index: 1
  margin-bottom: 190px

  @include max-screen($breakpoint-tablet)
    font-size: 50px
    margin: 0 0 15px

.wl-map-subheading
  display: block
  color: $blue

//.wl-map-tabishindan-container
//  position: absolute
//  bottom: 20px
//  right: 0
//  @include max-screen($breakpoint-tablet)
//    left: 0
//    border: $gray 1px dashed
//    background: $white
//    border-radius: 20px
//    margin: 0 65px
//  @include max-screen($breakpoint-mid-mobile)
//    margin: 0 15px
//  @include max-screen($breakpoint-mobile)
//    margin: 0 5px
//  p
//    border: $gray 1px dashed
//    padding: 40px 180px 40px 30px
//    border-radius: 1000px
//    background: $white
//    display: inline-block
//    @include max-screen($breakpoint-tablet)
//      border: none
//      padding: 0 30px 0 20px
//    @include max-screen($breakpoint-tablet)
//      padding: 0 5px 0 10px
//
//  .wl-map-btn-tabishindan
//    margin-left: -160px
//    display: inline-block
//    transform: scale(0.9)
//    transition: 300ms transform cubic-bezier(.87,-.41,.19,1.44)
//
//    @include max-screen($breakpoint-tablet)
//      margin-left: 0
//
//    &:hover
//      transform: scale(1)
//
//  img
//    width: 200px
//    height: 200px
//
//    @include max-screen($breakpoint-tablet)
//      width: 150px
//      height: 150px
//
//    @include max-screen($breakpoint-mobile)
//      width: 120px
//      height: 120px

.wel-hero-catch-btn
  display: flex
  align-items: center
  width: 217px
  height: 42px
  border: 1px solid $white
  position: relative
  font-size: 18px
  font-family: inherit
  font-weight: 500
  margin: 0 auto
  padding-left: 25px
  border-radius: 20px
  position: relative
  z-index: 2
  color: $white

  &:hover
    .wel-hero-catch-btn-icon::after
      transform: translate3d(0,-50%,0) scale(1)
      opacity: 1
  @include max-screen($breakpoint-mid-mobile)
    margin-top: 10px

.wel-hero-catch-btn-icon
  display: block
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: 6%
  width: 25px
  height: 8px

  &::before
    background-image: image-url('../images/article/icon-arrow-right-white.png')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1

  &::after
    content: ''
    background-color: $blue
    position: absolute
    top: 50%
    transform:  translate3d(0,-50%,0) scale(0.3)
    right: -5px
    height: 20px
    width: 20px
    border-radius: 50%
    opacity: 0
    transition-duration: 300ms
    transition-property: transform, opacity
    transition-timing-function: ease-in-out

.wl-content-list
  // padding: 10px 0 40px
  margin-bottom: 10px
  .contents-thumb
    height: 110px
    @include max-screen($breakpoint-mid-mobile)
      height: 85px
  .contents-info
    width: calc(100% - 15px)
  h3
    -webkit-line-clamp: 2
  p:last-of-type
    padding-top: 5px
  a
    @include max-screen($breakpoint-mid-mobile)
      padding: 10px 0
      border-top: solid 1px gray
      &:last-of-type
        border-bottom: solid 1px gray
//
//.content-list-card
//  height: 200px
//  background-size: cover
//  background-position: center center
//  position: relative
//  border: 3px solid $white
//  font-size: 15px
//
//  @include max-screen($breakpoint-tablet)
//    height: 150px
//    padding: 10px
//
//  @include max-screen($breakpoint-mid-mobile)
//    height: 170px
//
//.content-list-card-title
//  position: relative
//  z-index: 3
//  text-align: center

.wl-first-timer
  background-image: image-url("../images/welcome/first-timer-bg.jpg")
  padding: 50px 0px
  background-size: cover
  background-position: center bottom
  @include max-screen($breakpoint-mid-mobile)
    background-image: inherit
    padding: 20px 0px

  .button-page-link
    padding: 20px
    margin: 8px 4px
    display: flex
    align-items: center
    position: relative
    overflow: hidden

    @include max-screen($breakpoint-tablet)
      flex-direction: column
      justify-content: center
      text-align: center
      height: 150px
      margin: 4px

    @include max-screen($breakpoint-mid-mobile)
      height: auto
      flex-direction: row
      text-align: left
      justify-content: flex-start

.link-card-img
  margin-right: 15px
  width: 59px
  flex-shrink: 0

  @include max-screen($breakpoint-tablet)
    margin: 0 0 10px

  @include max-screen($breakpoint-mid-mobile)
    margin: 0 15px 0 0

.wl-map-button
  display: flex
  align-items: center
  width: 217px
  height: 40px
  border: 1px solid $black
  position: relative
  font-size: inherit
  font-family: inherit
  margin-top: 30px
  padding-left: 25px
  border-radius: 20px
  position: relative
  z-index: 2
  background: $white

  &:hover
    .wl-map-button-icon::after
      transform: translate3d(0,-50%,0) scale(1)
      opacity: 1
  @include max-screen($breakpoint-mid-mobile)
    margin-top: 20px

.wl-map-button-icon
  display: block
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: 10%
  width: 25px
  height: 8px

  &::before
    background-image: image-url('../images/article/icon-arrow-right.png')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1

  &::after
    content: ''
    background-color: $blue
    position: absolute
    top: 50%
    transform:  translate3d(0,-50%,0) scale(0.3)
    right: -5px
    height: 20px
    width: 20px
    border-radius: 50%
    opacity: 0
    transition-duration: 300ms
    transition-property: transform, opacity
    transition-timing-function: ease-in-out

.no-overflow
  overflow: hidden