.text-center
  text-align: center
.text-right
  text-align: right
.text-left
  text-align: left
.text-white
  color: $white
.text-gray
  color: $gray
.text-light-gray
  color: $light-gray
.text-blue
  color: $blue
.text-strong
  font-weight: 900