.brochure
	.brochure-card
		.brochure-image
			= image_tag get_image_path("brochures/sanin-vol2.png")
		.brochure-content
			h2.brochure-title #{I18n.t 'camaleon_cms.travel_brochures.title_vol2'}
			ul.brochure-list
				li.brochure-item
					= link_to 'https://sanin-production.s3.ap-northeast-1.amazonaws.com/pdf/DISCOVER-SAN_IN2.pdf', class: 'brochure-link', target: '_blank'
						| #{I18n.t 'camaleon_cms.travel_brochures.lang_en'}　(PDF : 41MB)

	.brochure-card
		.brochure-image
			= image_tag get_image_path("brochures/sanin-vol3.png")
		.brochure-content
			h2.brochure-title #{I18n.t 'camaleon_cms.travel_brochures.title_vol3'}
			ul.brochure-list
				li.brochure-item
					= link_to 'https://sanin-production.s3.ap-northeast-1.amazonaws.com/pdf/DISCOVER-SAN_IN3e.pdf', class: 'brochure-link', target: '_blank'
						| #{I18n.t 'camaleon_cms.travel_brochures.lang_en'}　(PDF : 48.1MB)
				li.brochure-item
					= link_to 'https://sanin-production.s3.ap-northeast-1.amazonaws.com/pdf/DISCOVER-SAN_IN3c.pdf', class: 'brochure-link', target: '_blank'
						| #{I18n.t 'camaleon_cms.travel_brochures.lang_zh_ch'} (PDF: 31.3MB)
				li.brochure-item
					= link_to 'https://sanin-production.s3.ap-northeast-1.amazonaws.com/pdf/DISCOVER-SAN_IN3k.pdf', class: 'brochure-link', target: '_blank'
						| #{I18n.t 'camaleon_cms.travel_brochures.lang_ko'}　(PDF: 29.8MB)


