.about

.about-anchor
  padding: 25px 0
  border-bottom: 1px solid $light-gray

.about-anchor-list
  margin: 0
  padding: 0
  list-style-type: none
  text-align: center

.about-anchor-item
  display: inline-block
  vertical-align: top
  padding: 0
  margin: 0 10px

.about-anchor-link
  font-size: 13px
  text-transform: uppercase
  font-weight: 300
  display: block

  &:hover
    color: $blue

.about-content
  padding: 22px 50px

  @include max-screen($breakpoint-tablet)
    padding: 22px

  p
    font-size: 15px
    font-family: 'Noto Sans'
    margin-bottom: 22px

    @include max-screen($breakpoint-tablet)
      font-size: 13px
      text-align: justify

.about-map
  position: relative

  @include max-screen($breakpoint-tablet)
    margin-bottom: 22px

.about-map-img
  width: 100%

.about-map-img-pc

  @include max-screen($breakpoint-mid-mobile)
    display: none

.about-map-img-sp
  display: none

  @include max-screen($breakpoint-mid-mobile)
    display: block

.about-map-btn
  width: 217px
  height: 40px
  position: absolute
  bottom: 12%
  left: 0
  font-size: 14px

  @include max-screen($breakpoint-tablet)
    width: 150px
    height: 35px
    font-size: 12px
    bottom: 10%

  @include max-screen($breakpoint-tablet)
    bottom: 0
    left: 50%
    transform: translateX(-50%)

  .button
    border-radius: 20px
    background-color: #fff

.about-destination
  background-color: rgba(#00889A, 0.05)

  @include max-screen($breakpoint-sm-tablet)
    .l-container
      padding: 0
