.accommodation

.accommodation-content
  padding: 50px 20px
  font-size: 15px
  font-family: 'Noto Sans'
  font-weight: 300
  text-align: center

  p

// .accommodation-card
//   display: flex
//   flex-wrap: wrap
//   margin-bottom: 20px
//
// .accommodation-card-btn
//   width: 290px
//   height: 64px
//   font-size: 16px
//   font-family: 'Noto Sans'
//   text-transform: uppercase
//   margin: 20px auto

.accommodation-sites
  background-position: center
  background-repeat: repeat
  background-image: image-url('../images/article/strip-background.png')

.accommodation-sites-content
  padding: 50px 0

.accommodation-wl-map
  padding-bottom: 25px

.accommodation-stayin
  background-color: rgba($deep-cerulean, 0.1)

  @include max-screen($breakpoint-tablet)
    .l-container
      padding: 0
