.accordion
  padding: 30px 0

.accordion-heading
  background-color: rgba(#cce4e7, 0.3)
  font-size: 22px
  font-weight: 700
  padding: 18.5px 40px 18.5px 20px
  border: 2px solid #cce4e7
  border-top: 0
  cursor: pointer
  position: relative

  @include max-screen($breakpoint-tablet)
    font-size: 18px
    padding: 18px 35px 18px 10px

  &:first-child
    border-top: 2px solid #cce4e7

  &::before
    content: '\2039'
    position: absolute
    top: 50%
    right: 30px
    color: $gray
    transform-origin: center
    transform: translateY(-50%) rotate(-90deg)
    transition: transform 300ms ease-in-out
    font-weight: 300
    font-size: 45px

    @include max-screen($breakpoint-tablet)
      right: 20px
      font-size: 35px

.accordion-content
  border-color: #cce4e7
  border-width: 0 2px 2px 2px
  border-style: solid
  display: none

.is-open
  &.accordion-heading
    &::before
      transform: translateY(-50%) rotate(90deg)
      top: 52%
