.access

  @include max-screen($breakpoint-tablet)
    .l-container
      padding: 0

.access-anchor
  // border-bottom: 2px solid $light-gray
  padding: 25px 0

  @include max-screen($breakpoint-mid-mobile)
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 10px 0

.access-anchor-wrapper
  position: relative

  @include max-screen($breakpoint-mid-mobile)
    width: 300px
    text-align: center

.access-anchor-text
  font-size: 13px
  text-transform: uppercase
  font-weight: 800
  padding: 10px 0
  display: none
  position: relative
  background-color: rgba($light-gray,0.1)

  @include max-screen($breakpoint-mid-mobile)
    display: block

.access-anchor-text-icon
  position: absolute
  top: 50%
  right: 10px
  transform: translateY(-50%)
  font-style: normal

  &::after
    content: '▼'

.access-anchor-list
  list-style-type: none
  padding: 0
  margin: 0
  text-align: center

  @include max-screen($breakpoint-mid-mobile)
    position: absolute
    top: 35px
    left: 0
    width: 100%
    background-color: $white
    display: none
    z-index: 3

.access-anchor-item
  margin: 0
  padding: 0 15px
  display: inline-block

  @include max-screen($breakpoint-mid-mobile)
    display: block
    padding: 0

    &:not(:last-child)
      border-bottom: 1px dashed rgba($light-gray,0.3)

.access-anchor-link
  font-size: 13px
  text-transform: uppercase
  font-weight: 300
  display: block

  @include max-screen($breakpoint-mid-mobile)
    padding: 10px 0
    font-weight: 700

  &:hover
    color: $blue

.is-open
  .access-anchor-list
    display: block
  .access-anchor-text-icon::after
    content: '▲'
