.airports
  text-align: center
  padding: 30px 0

  @include max-screen($breakpoint-desktop)
    padding-top: 100px

.airports-heading
  font-size: 20px
  margin-bottom: 22px
  text-transform: uppercase

.airports-list
  margin: 0
  padding: 0 85px

  @include max-screen($breakpoint-desktop)
    padding: 0 25px

  @include max-screen($breakpoint-mid-mobile)
    padding: 0 5px
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap

.airports-item
  display: inline-block
  vertical-align: top
  margin: 0 5px 10px
  width: 220px

  @include max-screen($breakpoint-mid-mobile)
    width: calc((98%/2) - 10px)
    margin: 0 5px 10px

.airports-link
  display: flex
  align-items: center
  justify-content: center
  background-color: $white
  background-position: top left
  background-size: contain
  background-repeat: no-repeat
  font-family: 'Noto Sans'
  font-size: 12px
  font-weight: 700
  border-radius: 3px
  border: 1px solid $silver
  width: 100%
  height: 62px

  &:hover
    border-color: $cutty-sark
    color: $cutty-sark

@for $index from 1 through 5
  .airports-item:nth-child(#{$index})
    .airports-link
      background-image: image-url('../images/access/airport-btn-bg#{$index}.png')
