.airline
  overflow: hidden

.airline-flight
  min-height: 550px
  padding: 60px 0
  position: relative

  @include max-screen($breakpoint-tablet)
    padding: 30px 0 60px

.airline-flight-map
  position: absolute
  top: 50%
  left: -35px
  transform: translateY(-50%)
  max-width: 402px
  width: 100%

  @include max-screen($breakpoint-tablet)
    transform: none
    margin: 0 auto 25px
    display: block
    position: static
