.article-hero
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.article-hero-container
  display: flex
  justify-content: center
  align-items: center
  height: 350px
  margin: 0 auto
  max-width: 800px
  width: 95%

.article-hero-title
  text-align: center
  font-size: 35px
  color: $white
  text-transform: uppercase
  line-height: 1.1
  text-shadow: 0 0 10px rgba($black, 05)

  @include max-screen($breakpoint-tablet)
    font-size: 28px

.article-section-title-wrap
  padding: 20px 0

.article-section-title
  font-size: 32px
  font-weight: 800
  color: #008899

  @include max-screen($breakpoint-tablet)
    font-size: 24px

.article-section-title-subtitle
  display: block
  font-size: 24px
  color: #9b9b9b
  font-weight: 500
  text-align: justify

  @include max-screen($breakpoint-tablet)
    font-size: 19px

.article-wrap
  // padding: 0 30px
  margin: 0 auto
  max-width: 800px
  width: 100%

  @include max-screen($breakpoint-tablet)
    padding: 0

.article-basic
  color: $gray
  border-left: 8px solid rgba($gray, 0.5)
  padding: 15px 0 15px 20px
  margin: 20px 0 50px

.article-basic-title
  font-size: 22px
  font-family: 'Gotham'
  margin-bottom: 10px
  color: $gray

.article-basic-copy
  font-size: 14px
  font-family: 'Gotham Book'

  &:not(:last-child)
    margin-bottom: 20px

.article-access
  // background-image: linear-gradient(0deg, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 92%), image-url("../images/access-bg.jpg")
  background-color: $white
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  padding: 40px 0

.article-access-header
  text-align: center
  font-size: 50px
  margin-bottom: 30px

.article-access-trigger
  display: none

.article-access-titles
  display: flex
  justify-content: space-between
  margin-bottom: -1px

.article-access-title
  text-transform: uppercase
  font-family: 'Gotham'
  font-size: 17px
  display: flex
  align-items: center
  justify-content: center
  position: relative
  border: 1px solid rgba($gray, 0.5)
  height: 49px
  width: calc((100%/3) - 10px)
  cursor: pointer
  text-align: center
  z-index: 1
  background-color: $white

  @include max-screen($breakpoint-tablet)
    font-size: 13px


  @include max-screen($breakpoint-mid-mobile)
    align-items: flex-end
    padding-bottom: 5px
    height: 53px
    width: calc((100%/3) - 2.5px)

.article-access-title-icon
  position: absolute
  top: 50%
  left: 10%
  transform: translateY(-50%)
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  z-index: -1

  @include max-screen($breakpoint-tablet)
    transform: translateY(-50%) scale(0.6)
    left: 5%

  @include max-screen($breakpoint-mid-mobile)
    top: -2px
    left: 50%
    transform: translateX(-50%) scale(0.6)


.icon-train
  background-image: image-url('../images/article/icon-car.png')
  width: 30px
  height: 23px

.icon-plane
  background-image: image-url('../images/article/icon-train.png')
  width: 28px
  height: 33px

.icon-bus
  background-image: image-url('../images/article/icon-bus.png')
  width: 33px
  height: 30px

.article-access-content
  border: 1px solid rgba($gray, 0.5)
  display: none
  padding: 30px 20px 30px 90px
  position: relative
  background-color: $white
  margin-bottom: 15px
  height: 145px
  overflow-y: scroll

  @include max-screen($breakpoint-mid-mobile)
    padding-left: 60px
    margin-bottom: 5px

.article-access-content-row
  display: flex
  justify-content: space-between
  align-items: center
  font-family: 'Gotham Book'
  position: relative

  @include max-screen($breakpoint-tablet)
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start

  &::before
    position: absolute
    top: 50%
    left: -53px
    transform: translateY(-50%)
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    background-color: $white
    z-index: 1

    @include max-screen($breakpoint-mid-mobile)
      left: -41px

  &:not(:last-child)
    margin-bottom: 25px

.access-transpo-icon
  .article-access-content-row
    &::after
      content: ''
      top: 50%
      left: -43px
      transform: translateY(-50%)
      position: absolute
      height: 220%
      width: 1px
      border-right: 1px dashed rgba($gray, 0.7)

      @include max-screen($breakpoint-mid-mobile)
        left: -30px

    &:first-child::after
      display: none

    &:last-child::after
      top: 0%
      height: 100%



#article-access-content1
  .article-access-content-row
    &::before
      content: ''
      background-image: image-url('../images/article/icon-car.png')
      width: 25px
      height: 19px

#article-access-content2
  .article-access-content-row
    &::before
      content: ''
      background-image: image-url('../images/article/icon-train.png')
      width: 29px
      height: 23px
      left: -57px

      @include max-screen($breakpoint-mid-mobile)
        left: -45px

#article-access-content3
  .article-access-content-row
    &::before
      content: ''
      background-image: image-url('../images/article/icon-bus.png')
      width: 25px
      height: 23px

.article-access-content-title
  font-size: 15px
  font-weight: normal
  letter-spacing: 0.1em
  padding-right: 10px

  @include max-screen($breakpoint-mid-mobile)
    font-size: 13px

.article-access-content-cost
  display: block
  font-size: 12px
  color: $gray

  @include max-screen($breakpoint-tablet)
    margin: 5px 0

.article-access-content-author
  font-size: 12px
  color: $gray
  font-weight: normal
  letter-spacing: 0.1em
  width: 196px
  flex-shrink: 0

  @include max-screen($breakpoint-tablet)
    width: 100%

    br
      display: none

@for $index from 1 through 3
  #article-access-trigger#{$index}:checked
    ~ #article-access-content#{$index}
      display: block
    ~ .article-access-titles
      #article-access-label#{$index}
        border-bottom-color: $white

.article-related
  margin: 50px 0 45px

.article-related-title
  font-size: 50px
  font-family: 'Gotham'
  text-align: center
  margin-bottom: 15px
  position: relative

  @include max-screen($breakpoint-tablet)
    font-size: 40px

  @include max-screen($breakpoint-mid-mobile)
    text-align: left
    font-size: 25px
    padding-left: 30px

  &::before
    position: absolute
    bottom: 13px
    left: -15px
    content: ''
    height: 4px
    width: 40px
    background-color: $black
    display: none

    @include max-screen($breakpoint-mid-mobile)
      display: block

.article-related-card
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 -5px

.article-related-btn
  margin: 10px auto
  height: 64px
  width: 290px
  text-transform: uppercase
  font-size: 16px

.article-access-btns
  display: flex
  justify-content: space-between

  @include max-screen($breakpoint-mid-mobile)
    flex-direction: column

.article-access-btn
  width: calc((100%/2) - 5px)
  padding-left: 12%
  text-transform: uppercase
  display: flex
  align-items: center
  height: 70px


  @include max-screen($breakpoint-tablet)
    padding-left: 60px

  @include max-screen($breakpoint-mid-mobile)
    width: 100%

  &:hover
    box-shadow: 2px 3px 5px -3px rgba($black,0.5)

  &::before
    position: absolute
    content: ''
    top: 50%
    left: 8%
    transform: translateY(-50%)
    background-position: center
    background-size: contain

    @include max-screen($breakpoint-tablet)
      transform: translateY(-50%) scale(0.6)
      left: 4%


.article-access-btn-travel
  position: relative

  &::before
    background-image: image-url('../images/article/icon-travel.png')
    height: 40px
    width: 40px

.article-access-btn-ticket
  position: relative

  &::before
    background-image: image-url('../images/article/icon-ticket.png')
    height: 36px
    width: 40px

.article-tripadvisor
  background-image: image-url('../images/article/strip-background')
  background-position: center

.article-tripadvisor-inner
  padding: 50px 0

.article-tripadvisor-content
  display: flex
  align-items: center
  justify-content: center
  margin: 0 auto
  height: 120px
  width: 100%
  max-width: 711px
  background-color: #599442
  position: relative

  @include max-screen($breakpoint-tablet)
    flex-direction: column
    height: 160px

.article-tripadvisor-shadow
  text-align: center
  position: absolute
  top: 29px
  left: 50%
  transform: translateX(-50%)
  color: rgba($white, 0.3)
  font-size: 55px
  font-weight: 800
  width: 100%
  line-height: 1.1

  @include max-screen($breakpoint-tablet)
    top: 22px
    font-size: 40px
    top: 50%
    transform: translate(-50%, -50%)

  @include max-screen($breakpoint-mid-mobile)
    font-size: 34px

.article-tripadvisor-heading
  color: $white
  font-size: 24px
  position: relative

  @include max-screen($breakpoint-tablet)
    margin-bottom: -15px
    text-align: center
    line-height: 1.1

  br
    display: none

    @include max-screen($breakpoint-mid-mobile)
      display: block

.article-tripadvisor-image
  width: 236px

  @include max-screen($breakpoint-tablet)
    width: 190px

.article-tag

.article-tag-search
  font-size: 13px
  color: rgba($gray,0.5)
  margin-bottom: 8px
  position: relative
  font-family: 'Noto Sans'
  font-weight: 700
  padding-left: 15px

  &::before
    content: ''
    top: 2px
    left: 0
    position: absolute
    height: 15px
    width: 10px
    background-image:  image-url('../images/icons/icon-tag.png')
    background-position: center
    background-repeat: no-repeat
    background-size: contain

.article-tag-link
  color: $blue
  font-size: 14px
  margin-right: 5px
  font-weight: 500
  position: relative

  &::before
    position: absolute
    bottom: -3px
    left: 0
    content: ''
    width: 100%
    height: 2px
    background-color: $blue
    opacity: 0
    transform: translateY(5px)
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out

  &:hover
    &::before
      opacity: 1
      transform: translateY(2px)


.article-news-list
  margin: 22px 0

.article-wl-map-content
  margin-bottom: 30px

  .wl-map-heading
    padding-top: 0

.article-content-img
  position: relative
  width: 100%
  display: inline-block
  text-align: center

  &::before,
  &::after
    content: ""
    position: absolute
    height: 40px
    width: 40px
    border-color: rgba($white, 0.8)
    border-style: solid

  &::before
    top: 15px
    left: 15px
    border-width: 1px 0 0 1px

  &::after
    border-width: 0 1px 1px 0
    bottom: 15px
    right: 15px
