.banner
  background-color: $gray
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative

  &:after
    position: absolute
    content: ""
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-color: rgba($black, 0.3)
    z-index: 0

.banner-container
  display: flex
  align-items: center
  justify-content: center
  height: 350px

  @include max-screen($breakpoint-mobile)
    height: 200px

.banner-heading
  z-index: 1
  color: $white
  font-size: 50px
  font-family: 'Gotham'
  text-align: center
  text-shadow: 0 0 10px rgba($black,0.5)

  @include max-screen($breakpoint-tablet)
    font-size: 30px

  @include max-screen($breakpoint-mid-mobile)
    font-size: 45px

  @include max-screen($breakpoint-mobile)
    font-size: 35px

.banners-top-container
  background: $white
  padding-top: 30px
  margin-bottom: 30px
  @include max-screen($breakpoint-tablet)
    padding: 2px
    margin-bottom: 15px

.banners-top

.banner-top
  display: block
  height: 256px
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin: 1px
  position: relative
  font-family: 'Caslon'
  font-weight: 700

  @include max-screen($breakpoint-mid-mobile)
    height: 150px

  &::before
    position: absolute
    top: 50%
    left: 50%
    content: ''
    border: 1px solid $white
    width: 98%
    height: 93%
    transform: translate(-50%, -50%) scale(0.3)
    opacity: 0
    transition-duration: 300ms
    transition-property: transform, opacity
    transition-timing-function: ease-in-out
    font-weight: 400

    @include max-screen($breakpoint-tablet)
      opacity: 1
      transform: translate(-50%, -50%) scale(1)

  &:nth-child(2),
  &:nth-child(3)
    display: inline-block
    vertical-align: top
    width: calc((100%/2) - 2px)

    &::before
      width: 95.5%

  &:hover

    &::before
      opacity: 1
      transform: translate(-50%, -50%) scale(1)

    .special-article-hero-description
      transform: translateY(0)

    .special-article-hero-title
      opacity: 1
      transition-delay: 200ms

  .special-article-hero-inner
    height: 100%
    border: none
    padding: 0 20px

  .special-article-hero-title
    opacity: 0
    transition: opacity 300ms ease-in-out
    width: 100%

    @include max-screen($breakpoint-tablet)
      opacity: 1

  .special-article-hero-description
    transform: translateY(-35px)
    transition: transform 300ms ease-in-out
    font-family: 'Gotham'
    font-weight: 600

    @include max-screen($breakpoint-tablet)
      transform: translateY(0)

    @include max-screen($breakpoint-mid-mobile)
      font-size: 18px

  .title-list
    width: 100%
    display: flex
    flex-wrap: wrap
    font-family: 'Gotham'
    font-weight: 400

    &::before
      left: 50%
      @include max-screen($breakpoint-mid-mobile)
        height: 25px

  .title-item

    @include max-screen($breakpoint-mid-mobile)
      font-size: 10px
