.brochure
	display: flex
	flex-wrap: wrap
	max-width: 840px
	width: 100%
	margin: 0 auto
	padding: 50px 0 0

	@include max-screen($breakpoint-tablet)
		flex-direction: column
		align-items: center

.brochure-card
	width: calc(100%/2)
	text-align: center
	margin-bottom: 50px
	position: relative
	padding-bottom: 40px

	@include max-screen($breakpoint-tablet)
		max-width: 550px
		width: 90%

	@include max-screen($breakpoint-mobile)
		width: 100%

	&::before
		content: ''
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		width: 90%
		height: 80%
		background-image: image-url('../images/brochures/brochure-bg.png')
		background-repeat: repeat
		background-position: center top

		@include max-screen($breakpoint-tablet)
			width: 100%
	
	&:hover
		.brochure-title::before
			width: 5px


.brochure-image
	margin: 0 auto 15px
	width: 260px
	position: relative
	z-index: 1
	box-shadow: 0 5px 10px -5px rgba($black, 0.5)

	@include max-screen($breakpoint-tablet)
		width: 250px

	@include max-screen($breakpoint-mobile)
		width: 200px

	img
		width: 100%

.brochure-content
	position: relative
	z-index: 1

.brochure-title
	text-align: left
	text-transform: uppercase
	color: $blue
	font-size: 17px
	width: 290px
	margin: 0 auto 15px
	position: relative
	padding-left: 10px

	@include max-screen($breakpoint-mobile)
		width: 265px

	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 3px
		height: 100%
		background-color: $blue
		transition: width 300ms ease

.brochure-list
	list-style-type: none
	margin: 0
	padding: 0

.brochure-item
	list-style-type: none
	padding: 0
	margin-bottom: 5px

.brochure-link
	text-transform: uppercase
	font-size: 15px
	text-decoration: underline
	font-weight: 600

	&:hover
		color: $blue
