.bus

.bus-route
  display: flex
  justify-content: space-between
  align-items: center
  padding-right: 50px
  margin-bottom: 15px

  @include max-screen($breakpoint-xl-desktop)
    padding-right: 0

  @include max-screen($breakpoint-tablet)
    flex-direction: column
    justify-content: center

.bus-detail
  padding: 50px 0
  position: relative
  margin-right: 75px

  @include max-screen($breakpoint-tablet)
    margin-right: 0
    order: 1
    width: 96%
    padding: 30px 0 20px

  &::before
    position: absolute
    content: ''
    top: 0
    left: -66px
    height: 100%
    width: 350px
    background-color: rgba(#d3ded0,0.3)

    @include max-screen($breakpoint-tablet)
      width: 100%
      left: 0

.bus-route-list
  padding: 0
  margin: 0
  list-style-type: none
  position: relative
  z-index: 1

  @include max-screen($breakpoint-tablet)
    text-align: center

.bus-route-item
  padding: 0
  margin-bottom: 10px
  width: 222px

  @include max-screen($breakpoint-tablet)
    display: inline-block
    vertical-align: top
    margin: 0 5px 10px

.bus-route-link
  display: flex
  align-items: center
  width: 100%
  height: 75px
  border: 1px solid
  border-radius: 3px
  padding: 0 0 0 10px
  background-color: $white
  position: relative
  text-align: left

  &::before
    background-image: image-url('../images/article/icon-arrow-right.png')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    content: ''
    width: 25px
    height: 100%
    position: absolute
    top: 50%
    right: 13px
    transform: translateY(-50%)
    z-index: 1


  &::after
    content: ''
    background-color: #5c7f85
    position: absolute
    top: 50%
    transform:  translate3d(0,-50%,0) scale(0.3)
    right: 8px
    height: 20px
    width: 20px
    border-radius: 50%
    opacity: 0
    transition-duration: 300ms
    transition-property: transform, opacity
    transition-timing-function: ease-in-out

  &:hover
    &::after
      opacity: 1
      transform: translate3d(0, -50%, 0) scale(1)


.bus-route-link-inner
  // text-align: center

.bus-route-figure
  position: relative
  z-index: 1
  max-width: 530px
  width: 96%

  @include max-screen($breakpoint-tablet)
    margin: 25px 0

.bus-route-image
  width: 100%

.bus-info
  display: flex
  align-items: center
  justify-content: space-between
  padding-bottom: 55px

  @include max-screen($breakpoint-tablet)
    flex-direction: column
    justify-content: center
    padding-bottom: 0

.bus-info-col
  width: calc(99%/2)

  @include max-screen($breakpoint-tablet)
    width: 100%

.bus-info-cards
  margin: 0 -10px
  display: flex
  flex-wrap: wrap

  @include max-screen($breakpoint-tablet)
    order: 1
    margin-top: -75px

.bus-info-item
  width: calc((100%/2) - 20px)
  margin: 22px 10px
  position: relative
  counter-increment: count-bus-station

  @include max-screen($breakpoint-mobile)
    width: calc((100%/2) - 10px)
    margin: 22px 5px

  &::before
    position: absolute
    content: counter(count-bus-station)
    top: -22px
    left: 50%
    transform: translateX(-50%)
    width: 44px
    height: 44px
    border-radius: 50%
    color: $white
    display: flex
    align-items: center
    justify-content: center
    background-color: $gray
    font-size: 18px
    font-weight: 700
    padding-top: 5px

  &:first-child::before
    background-color: #ffd579
  &:nth-child(2)::before
    background-color: #6dafd3
  &:nth-child(3)::before
    background-color: #d26a94
  &:nth-child(4)::before
    background-color: #4cb7a7

.bus-info-img
  height: 150px
  margin-bottom: 10px
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-color: $gray

.bus-info-title
  font-size: 16px
  text-align: center
  font-weight: normal
  font-family: 'Noto Sans'

.bus-info-figure-img
  width: 100%
