.button
  margin: 0 auto
  display: flex
  align-items: center
  width: 100%
  height: 100%
  border: 1px solid $black
  position: relative
  font-size: inherit
  font-family: inherit
  padding-left: 10%

  &:hover
    .button-icon::after
      transform: translate3d(0,-50%,0) scale(1)
      opacity: 1

.button-round
  border-radius: 1000px

.button-icon
  display: block
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: 10%
  width: 25px
  height: 8px

  &::before
    background-image: image-url('../images/article/icon-arrow-right.png')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: -3px
    left: 0
    z-index: 1

  &::after
    content: ''
    background-color: #5c7f85
    position: absolute
    top: 50%
    transform:  translate3d(0,-50%,0) scale(0.3)
    right: -5px
    height: 20px
    width: 20px
    border-radius: 50%
    opacity: 0
    transition-duration: 300ms
    transition-property: transform, opacity
    transition-timing-function: ease-in-out
    
.button-page-link
  display: block
  border: 1px solid rgba($gray, 0.5)
  position: relative
  border-radius: 3px
  background: $white
  margin-bottom: 10px
  box-shadow: 0 0 5px -3px rgba($black,0)
  transition: box-shadow 300ms ease-in-out

  @include max-screen($breakpoint-mid-mobile)
    width: 100%
    margin-bottom: 5px

  &:hover
    box-shadow: 2px 3px 5px -3px rgba($black,0.5)