.car
  position: relative

  &::before
    position: absolute
    content: ''
    top: 25px
    left: -103px
    background-color: rgba(#d3ded0,0.3)
    height: 80%
    width: 400px

    @include max-screen($breakpoint-tablet)
      left: 50%
      transform: translateX(-50%)
      width: 95%

    @include max-screen($breakpoint-mid-mobile)
      height: 350px

.car-top
  display: flex
  align-items: center
  justify-content: space-between
  padding: 90px 0 0
  position: relative

  @include max-screen($breakpoint-tablet)
    flex-direction: column
    padding-top: 50px

.car-left
  position: relative
  display: flex
  flex-direction: column
  width: 350px
  flex-shrink: 0

  @include max-screen($breakpoint-tablet)
    width: 100%
    text-align: center
    margin-bottom: 22px

.car-heading
  color: #b7cbb2
  font-size: 26px
  font-family: 'Noto Sans'
  font-weight: 700
  margin-bottom: 22px

.car-passenger
  width: 284px
  align-self: flex-end

  @include max-screen($breakpoint-tablet)
    align-self: center

.car-right
  width: 555px
  flex-shrink: 0

  @include max-screen($breakpoint-xl-desktop)
    flex-shrink: 1
    width: 480px

  @include max-screen($breakpoint-tablet)
    width: 100%


  @include max-screen($breakpoint-mid-mobile)
    width: 100%

.car-list
  list-style-type: none
  padding: 0
  margin: 0
  text-align: center

  @include max-screen($breakpoint-mid-mobile)
    padding: 0 10px

.car-item
  width: 255px
  height: 40px
  padding: 0
  margin: 0
  display: inline-block
  vertical-align: top
  text-align: left
  margin: 0 5px 10px

  @include max-screen($breakpoint-xl-desktop)
    margin: 0 5px 10px

  .button
    border-radius: 20px
    padding-left: 13px
    font-size: 11px

  .button-icon
    right: 5%

.car-bottom
  position: relative
  z-index: 1
