.contents-lists
  border-right: 1px solid $light-gray
  flex-grow: 1
  .row
    width: calc(100% - 15px)
  @include max-screen($breakpoint-mid-mobile)
    width: 100%
  li
    padding: 15px 0px
    height: 140px
    position: relative
    border-top: 1px solid $light-gray
    @include max-screen($breakpoint-mid-mobile)
      margin-bottom: 10px
      justify-content: center
      align-items: center
  a
    &:last-child
      li
        border-bottom: 1px solid $light-gray
  @include max-screen($breakpoint-mid-mobile)
    border: none
.contents-thumb
  height: 109px
  width: 140px
  // height: 93px
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  flex-shrink: 0

.contents-detail
  display: flex
  justify-content: center
  align-items: center
  flex-grow: 1

.contents-info
  align-content: space-around
  padding: 0 30px 0 20px
  h3
    font-size: 19px
    max-height: 33px
    overflow: hidden
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical
    display: -webkit-box
    width: 100%
    padding-top: 10px
    @include max-screen($breakpoint-mid-mobile)
      padding-top: 5px
      max-height: 55px
      height: auto
      -webkit-line-clamp: 2
  i
    font-size: 20px
  .tag
    padding-right: 5px
  @include max-screen($breakpoint-mid-mobile)
    padding: 0 15px 0 20px

.contents-list-link
  display: flex
  width: 100%
