.contact-us

.contact-us-wrapper
	display: flex
	margin: 30px 0

	@include max-screen($breakpoint-tablet)
		flex-direction: column

.contact-us-form,
.contact-us-address
	width: 50%

	@include max-screen($breakpoint-tablet)
		width: 100%

.contact-us-form
	.input-field,
	.textarea-field
		border: 1px solid $gray
		width: 100%
		margin-bottom: 14px
		padding: 15px
		font-family: 'Gotham'
		font-size: 12px
		font-weight: 300

	.textarea-field
		height: 140px

	.form-checkbox
		display: flex
		margin-top: 10px

	.form-checkbox label
		line-height: 1.3
		margin-left: 10px
		font-size: 14px
		color: $dark-gray

	.form-checkbox label a
		color: $blue

	.checkbox
		height: 19px

	.contact-us-form-submit
		background-color: $blue
		text-align: center
		color: $white
		width: 100%
		cursor: pointer
		padding: 15px 0
		font-size: 15px
		margin-top: 18px

.contact-us-address
	width: 48%
	margin-left: 24px

	@include max-screen($breakpoint-tablet)
		width: 100%
		margin-left: 0

.contact-us-address-wrapper
	border: 1px solid $gray

	&:nth-child(2)
		margin-top: 20px

.contact-us-address-header
	background-image: image-url('../images/contact-us/contact-us-header.png')
	background-size: cover
	background-position: center -5px
	background-repeat: no-repeat
	height: 90px
	width: 100%
	position: relative

	&:before
		position: absolute
		content: ""
		top: 50%
		left: 50%
		transform: translate(-50%, -50%) scale(0.6)
		background-image: image-url('../images/contact-us/discover-sanin.png')
		background-size: contain
		background-position: center
		background-repeat: no-repeat
		width: 100%
		height: 100%
		z-index: 1

	&:after
		position: absolute
		content: ""
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba($black, 0.3)
		z-index: 0

.contact-us-address-location,
.contact-us-address-phone
	color: $dark-gray
	padding: 5px 35px 10px 45px
	font-family: "Gotham"
	font-size: 14px
	margin: 10px
	border-bottom: 3px solid rgba($dark-gray, 0.1)
	position: relative

.contact-us-address-location
	&:before
		position: absolute
		content: ""
		top: 7px
		left: 15px
		width: 20px
		height: 20px
		background-image: image-url('../images/icons/location-pin-icon.png')
		background-size: contain
		background-position: center
		background-repeat: no-repeat

.contact-us-address-phone
	&:before
		position: absolute
		content: ""
		top: 42%
		left: 15px
		transform: translateY(-50%)
		width: 22px
		height: 20px
		background-image: image-url('../images/icons/mobile-phone-icon.png')
		background-size: contain
		background-position: center
		background-repeat: no-repeat

.contact-us-address-email
	color: $dark-gray
	padding: 3px 35px 3px 45px
	font-family: "Gotham"
	font-size: 14px
	margin: 10px
	position: relative

	&:before
		position: absolute
		content: ""
		top: 6px
		left: 15px
		width: 20px
		height: 20px
		background-image: image-url('../images/icons/email-icon.png')
		background-size: contain
		background-position: center
		background-repeat: no-repeat

.contact-us-address-notes-header
	background-image: image-url('../images/contact-us/contact-us-notes-header.png')
	background-size: cover
	background-position: center -60px
	background-repeat: no-repeat
	height: 90px
	width: 100%
	position: relative

	&:before
		position: absolute
		content: ""
		top: 50%
		left: 50%
		transform: translate(-50%, -50%) scale(0.6)
		background-image: image-url('../images/contact-us/huber-logo.png')
		background-size: contain
		background-position: center
		background-repeat: no-repeat
		width: 100%
		height: 100%
		z-index: 1

	&:after
		position: absolute
		content: ""
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba($black, 0.3)
		z-index: 0

.contact-us-address-notes-content
	padding: 20px
	text-align: center
