.destination
  padding: 50px 0

.destination-heading
  text-align: center
  font-size: 50px
  font-weight: 700
  margin-bottom: 35px

  @include max-screen($breakpoint-tablet)
    font-size: 35px

.destination-content

.destination-row
  position: relative
  padding-top: 60px
  margin-bottom: 50px

  @include max-screen($breakpoint-tablet)
    padding-top: 0
    margin-bottom: 30px

.destination-image
  position: absolute
  top: 0
  right: 0
  width: 550px
  height: 316px
  background-position: center
  background-color: gray
  background-size: cover

  @include max-screen($breakpoint-tablet)
    width: 100%
    height: 300px
    position: relative

  &::before
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 90%
    height: 90%
    content: ''
    border: 1px solid $white

.destination-title
  text-transform: uppercase
  font-size: 36px
  font-weight: 700
  display: inline-block
  position: relative
  bottom: -20px
  z-index: 2
  text-shadow: 0 0 13px rgba($white,0.9)

  @include max-screen($breakpoint-tablet)
    display: block
    background-color: $white
    text-align: center
    padding: 15px 0 0
    position: relative
    bottom: 0
    margin: -65px auto 0
    width: 96%
    font-size: 25px

  @include max-screen($breakpoint-mobile)
    font-size: 18px

.destination-wording
  background-color: $white
  display: block
  width: 600px
  padding: 70px 30px 50px
  position: relative
  z-index: 1
  margin-left: 30px

  @include max-screen($breakpoint-tablet)
    width: 96%
    padding: 20px
    margin: 0 auto

.destination-copy
  text-align: left
  

  @include max-screen($breakpoint-tablet)
    font-size: 13px
    text-align: justify

.destination-align-left
  text-align: right

  @include max-screen($breakpoint-tablet)
    text-align: left

  .destination-image
    left: 0

  .destination-title

  .destination-wording
    margin: 0 30px 0 auto

    @include max-screen($breakpoint-tablet)
      margin: 0 auto

.destination-btn
  width: 290px
  height: 62px
  font-weight: 700
  font-size: 16px
  margin: 0 auto

  @include max-screen($breakpoint-tablet)
    width: 200px
    height: 40px
