.ferry
  background-image: image-url('../images/access/ferry-waters.png')
  background-position: center bottom
  background-repeat: repeat-x
  background-size: contain
  margin-top: 65px
  overflow: hidden

  @include max-screen($breakpoint-tablet)
    background-size: cover
    background-position: center top

.ferry-content
  height: 447px
  position: relative
  display: flex
  align-items: center
  justify-content: flex-end

  @include max-screen($breakpoint-tablet)
    justify-content: center
    align-items: flex-start
    padding-top: 40px
    height: 540px

    @include max-screen($breakpoint-mid-mobile)
      height: 500px

.ferry-figure
  width: 1024px
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)

  @include max-screen($breakpoint-tablet)
    left: 0
    transform: none

  @include max-screen($breakpoint-mid-mobile)
    left: -20px

  @include max-screen($breakpoint-mobile)
    left: -50px
    width: 1080px
    transform: scale(0.8)
    transform-origin: left bottom

.ferry-map
  width: 100%

.ferry-article
  text-align: center
  display: inline-block
  position: relative
  z-index: 2
  margin-right: 15px

  @include max-screen($breakpoint-tablet)
    margin: 0

.ferry-heading
  color: $spring-sun
  text-transform: uppercase
  font-size: 26px
  font-family: 'Noto Sans'
  margin-bottom: 15px

.ferry-copy
  font-size: 14px
  font-family: 'Noto Sans'
  margin-bottom: 15px

.ferry-btn
  width: 230px
  height: 40px
  display: inline-block

  .button
    border-radius: 20px
