.first-time

.first-time-menu
	padding: 30px 0
	border-bottom: 1px solid $gray

	@include max-screen($breakpoint-mid-mobile)
		padding: 20px 0

.first-time-menu-list
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin: 0 -5px

	@include max-screen($breakpoint-tablet)
		flex-direction: column

.first-time-menu-item
	height: 150px
	width: calc((100% / 3) - 10px)
	margin: 0 5px 10px
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	position: relative
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

	@include max-screen($breakpoint-tablet)
		height: 200px
		margin: 0 0 10px
		width: 100%

	@include max-screen($breakpoint-mid-mobile)
		height: 150px

.first-time-menu-item-inner
	z-index: 1
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

	p
		text-align: center
		margin-top: 10px
		color: $white
		font-size: 18px
		font-weight: 700
		padding: 0 15px
		line-height: 1

	.icon-japan
		width: 43px

	.icon-stars
		width: 52px

	.icon-bus-access
		width: 41px

	.icon-frontdesk
		width: 42px

	.icon-accommodation
		width: 43px

.first-time-travel
	padding: 10px 0 0

.first-time-travel-list
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin: 0 -5px

	@include max-screen($breakpoint-tablet)
		flex-direction: column

.first-time-travel-item
	width: calc((100% / 2) - 10px)
	margin: 0 5px 10px

	@include max-screen($breakpoint-tablet)
		width: 100%
		margin: 0 0 10px

.travel-item-card
	border: 1px solid $light-gray

	.card-image
		background-color: $gray
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		height: 250px

		@include max-screen($breakpoint-mid-mobile)
			height: 180px

	.card-content
		padding: 15px

	.card-title
		display: flex
		justify-content: space-between

		@include max-screen($breakpoint-tablet)
			justify-content: center

	.card-season-month
		display: flex
		flex-direction: column

		h2
			color: $blue
			font-size: 20px
			font-weight: 700
			line-height: 1

		span
			color: $blue
			font-size: 15px
			font-weight: normal

		@include max-screen($breakpoint-tablet)
			flex-direction: inherit
			align-items: center

			h2
				line-height: 0

			span
				font-size: 20px
				margin-left: 20px
				position: relative

				&:before
					position: absolute
					content: ""
					top: 0
					left: -10px
					height: 22px
					width: 2px
					background-color: $blue

	.card-title-button
		width: 60%
		height: 36px
		font-family: "Gotham"
		font-weight: normal

		@include max-screen($breakpoint-tablet)
			width: 70%
			margin: 20px auto 10px
			text-align: center

	.card-description
		font-size: 12px
		margin-top: 15px
		font-weight: normal
		min-height: 64px

	.card-bottom
		border-top: 1px solid $light-gray
		display: flex

	.card-bottom-item
		width: 50%
		display: flex
		justify-content: center
		align-items: center
		padding: 20px

		p
			display: flex
			flex-direction: column

		p span
			font-size: 14px
			font-weight: 300

			&:nth-child(2)
				font-size: 12px

		p.temp
			position: relative

			&:before
				position: absolute
				content: ''
				top: 0px
				left: -8px
				width: 5px
				height: 13px
				background-image: image-url('../images/icons/thermometer-icon.png')
				background-repeat: no-repeat
				background-size: cover
				background-position: center

		p.shirt
			position: relative

			&:before
				position: absolute
				content: ''
				top: 0px
				left: -20px
				width: 17px
				height: 14px
				background-image: image-url('../images/icons/shirt-icon.png')
				background-repeat: no-repeat
				background-size: cover
				background-position: center

			&:after
				position: absolute
				content: ''
				bottom: 8px
				left: -18px
				width: 14px
				height: 2px
				background-color: $blue

		.shirt,
		.temp
			font-size: 12px
			font-weight: 500

		&:nth-child(2)
			border-left: 1px solid $light-gray


.first-time-article-btn
	width: 60%
	height: 36px
	font-family: "Gotham"
	font-weight: normal
