.flight
  width: 350px
  margin: 0 200px 0 auto
  position: relative
  z-index: 1

  @include max-screen($breakpoint-xl-desktop)
    margin: 0 100px 0 auto

  @include max-screen($breakpoint-desktop)
    margin-right: 15px

  @include max-screen($breakpoint-tablet)
    width: 325px
    margin: 0 auto

  @include max-screen($breakpoint-mobile)
    width: 270px

  @include max-screen($breakpoint-sm-mobile)
    margin: 0 10px 0 auto

  &::after
    position: absolute
    top: 50%
    right: -200px
    transform: translateY(-50%)
    content: ''
    height: 115%
    width: 375px
    background-color: rgba($loblolly,0.3)

    @include max-screen($breakpoint-tablet)
      height: 460px
      right: -213px

    @include max-screen($breakpoint-mobile)
      right: 239px

.flight-radio
  display: none

.flight-airline
  display: flex
  position: relative
  z-index: 1

.flight-airline-company
  text-align: center
  width: calc(100%/2)
  padding: 5px 0
  font-size: 16px
  font-weight: 300
  color: $gray
  border-bottom: 1px solid $gray
  margin-bottom: 22px
  position: relative

.flight-airline-ana

  color: $loblolly
  font-weight: 700

  &::after
    position: absolute
    content: ''
    bottom: -3px
    left: 0
    height: 3px
    width: 100%
    background-color: $loblolly
    transform: translateY(0)
    transition-duration: 300ms
    transition-timing-function: ease-in-out
    transition-property: opacity, transform


.flight-detail
  position: relative
  z-index: 1

.flight-detail-row
  display: flex
  border: 1px solid $loblolly
  margin-bottom: 5px
  padding: 20px 15px 15px
  position: relative
  counter-increment: flight-counter
  background-color: $white

  @include max-screen($breakpoint-sm-mobile)
    padding-left: 18px

  &::before
    content: counter(flight-counter)
    position: absolute
    top: -1px
    left: -31px
    height: 30px
    width: 30px
    color: $white
    font-size: 14px
    font-weight: 700
    display: flex
    align-items: center
    justify-content: center

$colors: #6DAFD3, #4CB7A7, #FFD579, #E48E46, #DB575B

@for $i from 1 through length($colors)
  .flight-detail-row:nth-child(#{$i})::before
    background-color: nth($colors, $i)

.flight-detail-col
  width: calc(100%/3)
  text-align: center

  @include max-screen($breakpoint-mobile)
    width: 30%

.flight-detail-destination
  margin-bottom: 8px
  font-size: 12px
  text-transform: uppercase

.flight-detail-area
  font-size: 16px

.flight-detail-eta
  font-size: 14px
  display: block
  margin-bottom: 6px

.flight-detail-col-eta
  @include max-screen($breakpoint-mobile)
    width: 49%

.flight-detail-icon
  display: inline-block
  background-image: image-url('../images/access/icon-plane.png')
  background-position: center
  background-size: contain
  height: 21px
  width: 21px
  position: relative

  &::before,
  &::after
    position: absolute
    content: ''
    height: 1px
    width: 40px
    border-bottom: 1px dashed $loblolly
    top: 50%
    transform: translateY(-50%)

  &::before
    left: -44px

  &::after
    right: -44px
