.flight-ticket
  overflow: hidden
  position: relative

.flight-ticket-cards
  display: flex
  align-items: center
  background-color: rgba($cutty-sark,0.15)
  padding: 50px
  position: relative

  @include max-screen($breakpoint-tablet)
    padding: 25px 0 50px
    justify-content: center
    align-items: center

  @include max-screen($breakpoint-sm-tablet)
    flex-direction: column

  &::after
    position: absolute
    top: 70px
    left: 714px
    content: ''
    width: 449px
    height: 216px
    background-image: image-url('../images/access/aircraft.png')
    background-position: center
    background-repeat: no-repeat
    background-size: cover

    @include max-screen($breakpoint-tablet)
      left: auto
      right: -213px
      top: auto
      bottom: -137px
      transform: scale(0.7)

    @include max-screen($breakpoint-mobile)
      right: auto
      transform: scale(0.6)

.flight-ticket-card
  border: 1px solid $grain-brown
  border-radius: 3px
  width: 300px
  padding: 0 0 30px
  background-color: $white
  margin-right: 15px
  flex-shrink: 0

  @include max-screen($breakpoint-tablet)
    margin: 5px
    width: calc((90%/2))

  @include max-screen($breakpoint-sm-tablet)
    width: 300px

.flight-ticket-header
  background-color: $grain-brown
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 22px
  height: 80px

.flight-ticket-logo
  display: inline-block

.flight-tickt-logo-ana
  width: 114px

.flight-tickt-logo-jal
  width: 46px

.flight-ticket-detail

.flight-ticket-heading
  font-size: 12px
  font-weight: 700
  text-align: center
  margin-bottom: 10px

.flight-ticket-heading-ana
  color: $jacksons-purple

.flight-ticket-heading-jal
  color: $red

.flight-ticket-copy
  font-size: 12px
  font-family: 'Noto Sans'
  padding: 0 33px
  margin-bottom: 30px

  @include max-screen($breakpoint-tablet)
    padding: 0 15px

  @include max-screen($breakpoint-sm-tablet)
    text-align: center

.flight-ticket-btn
  width: 230px
  height: 40px
  margin: 0 auto

  .button
    border-radius: 20px
