footer
  background: $light-gray
  color: $brown
  padding-top: 0
  position: relative
  @include max-screen($breakpoint-mid-mobile)
    padding: 0

  @include max-screen($breakpoint-mobile)
    padding-top: 15px
  > .row
    justify-content: space-around
    @include max-screen($breakpoint-mid-mobile)
      flex-wrap: wrap-reverse

  ul
    list-style: none

.footer-container
  display: flex
  flex-wrap: wrap
  align-items: center
  padding: 15px 0

  @include max-screen($breakpoint-xl-desktop)
    justify-content: center

  @include max-screen($breakpoint-tablet)
    flex-direction: column

  @include max-screen($breakpoint-mid-mobile)
    flex-direction: column-reverse
    padding: 0

.footer-logo
  font-size: 40px
  line-height: 24px
  @include max-screen($breakpoint-mid-mobile)
    font-size: 35px
    line-height: 14px
  .footer-log-sub
    font-size: 14px
    display: block
    @include max-screen($breakpoint-mid-mobile)
      font-size: 12px

.footer-sns-links
  @include max-screen($breakpoint-xl-desktop)
    margin-bottom: 15px
  @include max-screen($breakpoint-mid-mobile)
    background: rgba($brown, .1)
    padding: 10px 0
    margin-bottom: 0
  h3
    padding: 40px 0 10px
    @include max-screen($breakpoint-xl-desktop)
      padding: 0
      margin: 15px 0
    // @include max-screen($breakpoint-tablet)
    //   padding: 0 0 10px
    @include max-screen($breakpoint-mid-mobile)
      padding: 0
      line-height: 35px
  i
    font-size: 35px
    margin-top: 15px
    margin: 0 20px
    @include max-screen($breakpoint-mid-mobile)
      margin: 0 15px
  @include max-screen($breakpoint-mid-mobile)
    box-sizing: border-box
    justify-content: space-around
    display: flex
    flex: 0 1 auto
    flex-direction: row
    flex-wrap: wrap
    width: 100%

.footer-links,
.footer-menu
  margin: 0 3%

  @include max-screen($breakpoint-tablet)
    margin: 0
    width: 100%

.footer-menu
  max-width: 465px
  width: 100%
  > ul
    flex-direction: column
    max-height: 240px
    @include max-screen($breakpoint-mid-mobile)
      flex-direction: row
      max-height: inherit
    ul
      padding-left: 10px
      @include max-screen($breakpoint-mid-mobile)
        padding-left: 0
    > li > ul
      display: none
      @include min-screen($breakpoint-mid-mobile + 1)
        display: block !important

.footer-menu-category
  margin-bottom: 5px
  @include max-screen($breakpoint-mid-mobile)
    margin-bottom: 0
    padding: 7px 15px
    border-bottom: 1px rgba($brown, .2) solid
    justify-content: flex-end
    background: rgba($brown, .1)
    span
      margin-right: auto
    &:after
      content: "▼"
      color: $gray
.footer-menu-content
  padding-top: 0
  margin-bottom: 5px
  @include max-screen($breakpoint-mid-mobile)
    padding: 7px 20px
    border-bottom: 1px rgba($brown, .2) dashed
    &:last-of-type
      border-style: solid

    .ftr-submenu
      padding-left: 10px
.footer-meta
  border-top: 1px dashed rgba($brown, .4)
  padding: 10px 0
  margin-top: 0
  position: relative
  @include max-screen($breakpoint-mid-mobile)
    background: $white
    margin-top: 0
  p
    font-size: 8px
    margin-top: 10px

.footer-meta-inner
  position: relative

.footer-link
  color: $black
  transition: color 300ms ease-in-out
  position: relative

  &:hover
    color: $brown

  &[href="javascript:;"]
    pointer-events: none

.is-open
  &.footer-menu-category:after
    @include max-screen($breakpoint-mid-mobile)
      content: '▲'

.ftr-submenu
  margin-top: 5px
  padding-left: 10px

.ftr-menu-list
  // display: block
  display: flex
  flex-direction: column

  @include max-screen($breakpoint-tablet)
    &.row
      flex-direction: column
      justify-content: flex-start

.ftr-submenu-item
  margin-bottom: 5px

.ftr-submenu-link
  color: $black
  text-transform: capitalize

  &:hover
    color: $blue

.ftr-menu-item
  margin-bottom: 5px

  @include max-screen($breakpoint-mid-mobile)
    margin-bottom: 0

  &:nth-child(3)
    .footer-menu-content:first-child .footer-link
      &::after
        content: ' ❐'

.footer-meta-list
  padding: 0
  list-style-type: none
  margin: 0
  text-align: center

.footer-meta-item
  display: inline-block
  vertical-align: top
  margin: 0 10px

  img
    width: 250px

.footer-meta-link
  display: block
  width: 117px
  box-shadow: 0 0 0 1px rgba($light-gray,1)

  img
    width: 100%

.footer-menu-col
  display: inline-block
  vertical-align: top
  width: calc(100%/2)

  @include max-screen($breakpoint-mid-mobile)
    display: block  
    width: 100%

.ftr-menu-inner
  padding-left: 10px
  
  @include max-screen($breakpoint-mid-mobile)
    display: none

.footer-top-image,
.footer-image
  max-width: 285px
  width: 100%

  img
    width: 100%

.footer-top-image
  display: none
  margin: 0 auto

  @include max-screen($breakpoint-mobile)
    display: block
    max-width: 200px

.footer-image
  flex-shrink: 0
  width: 285px
  position: absolute
  bottom: -10px
  right: 0

  @include max-screen($breakpoint-xl-desktop)
    display: none

