header
  background: $white
.header
  height: 70px
  background: $white
  // justify-content: flex-end
  position: relative
  display: flex
  align-items: center

  @include max-screen($breakpoint-tablet)
    height: 60px

.header-logo
  color: $blue
  font-size: 30px
  line-height: 11px
  padding-left: 20px
  padding-top: 10px
  margin-right: auto
  position: relative
  z-index: 9
  text-align: center

  @include max-screen($breakpoint-tablet)
    padding-top: 15px


  @include max-screen($breakpoint-mid-mobile)
    font-size: 25px
    padding-left: 10px
    line-height: 14px

.header-logo-sub
  font-size: 11px

  @include max-screen($breakpoint-mid-mobile)
    font-size: 9px

.header-menu
  display: flex
  align-items: center

  @include max-screen($breakpoint-tablet)
    flex-direction: column
    position: fixed
    top: 0
    right: 0
    width: 100%
    background-color: $white
    // height: 100vh
    height: 100%
    z-index: 4
    transform: translateY(-100%)
    transition-duration: 0.3s
    transition-property: transform
    transition-timing-function: ease-in-out
    padding: 100px 0 65px

.nav-header
  @include max-screen($breakpoint-tablet)
    overflow-y: scroll
    width: 100%

.nav-header-list
  list-style-type: none

  @include max-screen($breakpoint-tablet)
    order: 3
    display: block
    flex-direction: column
    margin: auto
    opacity: 0
    transition-delay: 400ms
    transition-duration: 300ms
    transition-property: opacity
    transition-timing-function: ease-in-out
    overflow-y: scroll

.nav-header-item
  padding-right: 15px
  position: relative

  @include max-screen($breakpoint-tablet)
    padding-right: 0
    display: block

  &:hover

    .nav-header-link
      color: $blue

      &::before
        width: 100%

    .submenu
      transform: translate(-50%, 0)
      opacity: 1
      pointer-events: auto
      box-shadow: 0 5px 6px -2px rgba($black,0.2)

      @include max-screen($breakpoint-tablet)
        transform: none
        box-shadow: none

  &::after
    content: '▼'
    position: absolute
    top: 26px
    right: 15px
    transform: translateY(-50%)
    display: none
    font-size: 11px

    @include max-screen($breakpoint-tablet)
      display: block

  &:nth-child(3)
    .submenu-list:first-child .submenu-link
      &::after
        content: ' ❐'

.nav-header-link
  font-size: 14px
  position: relative
  padding: 25px 0
  display: block
  text-transform: uppercase
  z-index: 5

  @include max-screen($breakpoint-tablet)
    text-align: center
    font-size: 16px
    padding: 15px 0

  &::before
    position: absolute
    content: ''
    left: 50%
    bottom: 20px
    transform: translateX(-50%)
    height: 2px
    width: 0
    background-color: $blue
    transition: width 300ms ease-in-out

    @include max-screen($breakpoint-tablet)
      display: none

// submenu

.submenu
  position: absolute
  top: 65px
  left: 50%
  transform: translate(-50%, -19px)
  width: 200px
  background-color: $white
  list-style-type: none
  text-align: center
  padding: 5px 0 20px
  border-radius: 0 0 15px 15px
  opacity: 0
  transition-property: transform, opacity
  transition-duration: 300ms
  transition-timing-function: ease-in-out
  pointer-events: none
  z-index: 10

  @include max-screen($breakpoint-tablet)
    position: relative
    opacity: 1
    width: 100%
    display: none
    left: auto
    top: auto
    padding: 10px 0px
    background-color: rgba($light-gray,0.1)
    border-radius: 0
    transform: none

.submenu-list

  &:hover
    .submenu-inner
      opacity: 1
      pointer-events: auto

.submenu-link
  display: block
  padding: 10px
  text-transform: capitalize
  font-size: 15px
  background-color: $white
  position: relative
  z-index: 1

  @include max-screen($breakpoint-tablet)
    background-color: transparent

  &:hover
    color: $blue

.submenu-inner
  position: absolute
  top: 5px
  right: -100%
  width: 100%
  background-color: $white
  list-style-type: none
  opacity: 0
  pointer-events: none
  transition: opacity 300ms ease-in-out
  padding: 10px 0

  @include max-screen($breakpoint-tablet)
    position: relative
    top: auto
    right: auto
    display: none
    opacity: 1
    padding: 10px 0

.submenu-link-inner
  display: block
  width: 100%
  padding: 10px

  &:hover
    color: $blue

.header-language-selector
  display: inline-block
  margin: 0px 20px
  flex-shrink: 0
  position: relative
  top: -15px
  width: 108px

  @include max-screen($breakpoint-tablet)
    order: 3
    position: absolute
    top: auto
    bottom: 0
    // transform: translateX(-50%)
    left: auto
    right: 0
    margin: 0
    flex-shrink: 0
    opacity: 0
    transition-delay: 700ms
    transition-duration: 300ms
    transition-property: opacity

.header-humberger
  background: $blue
  height: 60px
  width: 60px
  position: relative
  z-index: 10
  display: none

  @include max-screen($breakpoint-tablet)
    display: block
    order: 1
    flex-shrink: 0

.header-humberger-list
  width: 100%
  display: block
  cursor: pointer
  padding: 17px 0
  position: relative

.header-humberger-item
  margin: 5px auto
  height: 2px
  background: $white
  display: block
  transition: transform 300ms ease-in-out

.header-container

  @include max-screen($breakpoint-tablet)
    padding: 0

.nav-open
  height: 60px

  .header
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 5

  .header-menu
    transform: translateY(0)

  .nav-header-list,
  .header-language-selector
    opacity: 1

  .humberger-item1
    transform: translateX(-5px)

  .humberger-item3
    transform: translateX(5px)

.no-scroll
  height: 100%
  overflow: hidden

.is-open
  &.nav-header-item::after
    content: '▲'

  .submenu
    display: block
    pointer-events: auto

.is-open-inner
  .submenu-inner
    display: block
    opacity: 1

  .has-caret
    &::before
      content: '▲'

.has-caret
  &::before
    position: absolute
    content: '▼'
    top: 50%
    right: 15px
    transform: translateY(-50%)
    display: none
    font-size: 11px

    @include max-screen($breakpoint-tablet)
      display: block
