.hotline
  text-align: left
  padding: 0 40px

  @include max-screen($breakpoint-sm-tablet)
    margin-bottom: 35px

  @include max-screen($breakpoint-sm-mobile)
    padding: 0 10px

input[name="hotline"]
  display: none

.hotline-labels
  border-bottom: 1px solid $light-gray
  display: flex
  justify-content: space-around
  margin-bottom: 10px

.hotline-label
  cursor: pointer
  font-size: 12px
  position: relative
  padding: 0 5px
  color: #6f6f6f

  &::after
    position: absolute
    content: ''
    bottom: -2px
    left: 0
    height: 2px
    width: 100%
    background-color: rgba($blue,0.5)
    opacity: 0

  &:hover
    font-weight: 700

.hotline-numbers
  display: none

.hotline-table
  font-family: 'Noto Sans'
  // padding: 0 15px
  display: block

.hotline-tbody
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.hotline-table-row
  border-bottom: 1px dashed rgba($blue,0.2)
  display: flex
  align-items: center
  justify-content: center
  padding: 2px 0

.hotline-table-col
  padding: 5px 15px
  position: relative

  &:first-child
    color: rgba($blue,1)
    font-size: 12px
    font-family: 'Noto Sans'
    width: 115px

    &::before
      content: '•'
      top: 50%
      transform: translateY(-50%)
      left: 3px
      position: absolute
      color: rgba($blue,0.5)
      font-weight: 700
      font-size: 17px
  &:last-child
    flex-grow: 1

#tottori:checked
  ~ .hotline-labels label[for="tottori"]
    font-weight: 700

    &::after
      opacity: 1

  ~ .hotline-number-tottori
    display: block

#yonago:checked
  ~ .hotline-labels label[for="yonago"]
    font-weight: 700

    &::after
      opacity: 1

  ~ .hotline-number-yonago
    display: block

#matsue:checked
  ~ .hotline-labels label[for="matsue"]
    font-weight: 700

    &::after
      opacity: 1

  ~ .hotline-number-matsue
    display: block

#izumo:checked
  ~ .hotline-labels label[for="izumo"]
    font-weight: 700

    &::after
      opacity: 1

  ~ .hotline-number-izumo
    display: block
