.index-card-animation
    position: relative
    &:after
        position: absolute
        content: ''
        width: 90%
        height: 80%
        top: 50%
        left: 50%
        border: 1px solid rgba($white, 0.5)
        transform: translate(-50%, -50%) scale(0.4)
        opacity: 0
        transition-duration: 300ms
        transition-property: transform, opacity
        transition-timing-function: ease-in-out
    &.with-shadow
        &:before
            position: absolute
            content: ''
            top: 0
            left: 0
            height: 100%
            width: 100%
            background-color: rgba(black, 0.4)
            transform: translateZ(0)
            transition-duration: 300ms
            transition-property: transform, opacity
            transition-timing-function: ease-in-out
    &.is-wide
        &:after
            width: 100%
            height: 100%
            opacity: 1
            transform: translate(-50%,-50%) scale(0.6)
        &:hover
            &::after
                transform: translate(-50%,-50%) scale(0.9)
    &:hover
        &:after
            transform: translate(-50%,-50%) scale(1)
            opacity: 1

        &:before
            opacity: 0
