.journey-outline
	background-color: $porcelain
	margin-top: 30px

	@include max-screen($breakpoint-tablet)
		margin-top: 15px

.journey-outline-container
	padding: 47px 0 38px
	text-align: center

.journey-outline-heading
	font-size: 34px
	color: $blue
	margin-bottom: 20px

	@include max-screen($breakpoint-tablet)
		font-size: 28px

.journey-outline-copy
	display: inline-block
	max-width: 525px
	width: 90%
	font-size: 16px
	margin-bottom: 34px

.jouney-outline-tabishindan
	position: relative
	width: 179px
	height: 179px
	border-radius: 50%
	background-color: $huber-blue
	color: $white
	text-transform: uppercase
	font-size: 24px
	display: flex
	align-items: center
	flex-direction: column
	margin: 0 auto
	padding: 50px 0 0
	font-weight: 500
	animation: 2s pulse ease-in-out forwards infinite
	transform: scale(0.9)
	transition: 300ms transform cubic-bezier(.87,-.41,.19,1.44)

	&:hover
		transform: scale(1)

	&::before
		position: absolute
		content: ''
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		height: 90%
		width: 90%
		border: 1px solid $white
		border-radius: 50%

	&::after
		position: absolute
		content: ''
		top: 0
		left: 0
		height: 100%
		width: 100%
		border-radius: 50%
		animation: 2.5s pulse ease-in-out forwards infinite


.jouney-outline-tabishindan-start
	display: block
	background-color: $white
	color: $huber-blue
	padding: 7px 0
	border-radius: 25px
	font-size: 14px
	width: 90px
	margin: 5px auto 0

@keyframes pulse
	0%
		box-shadow: 0 0 0 0 rgba($huber-blue,0.7)
	75%
		box-shadow: 0 0 0 35px rgba($huber-blue, 0)
	100%
		box-shadow: 0 0 0 0 rgba($huber-blue, 0)