.language_en,
.language_fr
	* 
		word-break: break-word

	.article-content-text,
	.about-content,
	.destination-wording
		*
			text-align: left

.language_ko
	// .ftr-menu-list
	// 	display: flex

.language_ko,
.language_zh-tw,
.language_zh-ch,
	font-family: 'Noto Sans JP', sans-serif

.language_fr
	font-family: 'Noto Sans', sans-serif

	.train-btn
		max-width: 305px
		width: 100%
	
	.special-article-hero-description
		height: 68px
		overflow: hidden
		-webkit-line-clamp: 2
		-webkit-box-orient: vertical
		display: -webkit-box
		width: 100%

		@include max-screen($breakpoint-tablet)
			font-size: 18px
			height: 43px

	.banner-top .special-article-hero-inner
		padding: 0 10px

	.banner-top .title-list
		font-family: 'Open Sans', sans-serif

	
