.language-menu
	width: 100%
	position: relative

.language-menu-trigger
	display: none

	&:checked
		~ .language-menu-list
			transform: translateY(-2px)
			opacity: 1
			pointer-events: auto

			@include max-screen($breakpoint-tablet)
				transform: translateY(2px)

		+ .language-menu-heading::after
			content: "▲"

			@include max-screen($breakpoint-tablet)
				content: "▼"

.language-menu-heading
	font-weight: bold
	color: $white
	font-family: "Gotham"
	background: $blue
	padding: 15px 20px 10px 15px
	position: relative
	z-index: 15
	display: block
	text-transform: uppercase
	font-size: 12px
	text-align: center

	@include max-screen($breakpoint-tablet)
		border-radius: 0

	&::after
		content: "▼"
		font-size: 9px
		padding-left: 3px
		position: absolute
		top: 50%
		transform: translateY(-50%)
		right: 10px


		@include max-screen($breakpoint-tablet)
			content: "▲"

	&:hover
		cursor: pointer

	span
		display: block
		text-transform: capitalize
		font-size: 10px

.language-menu-list
	position: absolute
	width: 100%
	top: 41px
	left: 0
	z-index: 10
	list-style-type: none
	background-color: $blue
	border-radius: 0 0 10px 10px
	transform: translateY(-100px)
	opacity: 0
	pointer-events: none
	transition: 300ms transform ease-in-out, 300ms opacity ease-in-out
	overflow: hidden

	@include max-screen($breakpoint-tablet)
		top: auto
		bottom: 41px
		transform: translateY(100px)
		border-radius: 10px 10px 0 0

.language-menu-item
	text-align: center
	display: block

.language-menu-link
	font-size: 12px
	display: block
	padding: 10px
	color: $white
	font-weight: 500

	&:hover
		background-color: $huber-blue

	span
		display: block
		font-size: 10px


.language-menu-sub
	display: block
	font-size: 10px
