.learn-more
  padding: 50px 0

.learn-more-heading
  text-align: center
  font-size: 50px
  margin-bottom: 22px

  @include max-screen($breakpoint-tablet)
    font-size: 35px

  @include max-screen($breakpoint-mid-mobile)
    font-size: 23px

.learn-more-media
  background-image: image-url('../images/about/learn-more-media.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 350px
  position: relative
  display: flex
  align-items: center
  justify-content: center

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($black,0.3)

.learn-more-play
  width: 20px
  height: 20px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  border-style: solid
  border-width: 10px 0 10px 20px
  border-color: transparent transparent transparent $white
  border-radius: 3px
  cursor: pointer

  &::before,
  &::after
    content: ''
    position: absolute
    height: 20px
    width: 20px
    border-style: solid
    border-color: $white

  &::before
    top: 15px
    left: 10px
    border-width: 1px 1px  0 0
    transform: rotate(90deg)

  &::after
    bottom: 15px
    right: 30px
    border-width: 0 0 1px 1px
    transform: rotate(90deg)

.learn-more-caption
  position: absolute
  bottom: 20px
  left: 5px
  color: $white
  font-size: 14px
  font-weight: 300
  text-transform: uppercase

.remove-overlay
  &::before
    display: none

  .learn-more-caption,
  .learn-more-play
    display: none
