.overview-carousel-wrap
  padding: 0

.overview-carousel
  margin: -30px 0 0
  padding: 0 30px
  position: relative
  z-index: 2

  @include max-screen($breakpoint-tablet)
    padding: 0

.overview-carousel-item
  width: 327px

  @include max-screen($breakpoint-mid-mobile)
    width: 270px

  &:active,
  &:focus
    outline: none

.overview-carousel-inner
  transition: transform 300ms ease-in-out

.overview-carousel-image
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  height: 262px
  background-color: $light-gray
  background-position: center
  background-size: cover
  position: relative

  @include max-screen($breakpoint-mid-mobile)
    height: 200px

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($black, 0.5)
    transition: opacity 300ms ease-in-out


.overview-carousel-text
  font-size: 19px
  text-transform: uppercase
  font-weight: 700
  color: $white
  transform-origin: center
  transform: scale(1)
  transition: transform 300ms ease-in-out
  position: relative
  z-index: 1

.overview-carousel-descrp
  transform-origin: center top
  background-color: $white
  perspective: 1000px
  transform: rotateX(90deg)
  transition-property: transform, border
  transition-delay: 0s, 300ms
  transition-duration: 300ms
  transition-timing-function: ease-in-out
  padding: 10px 10px 8px
  position: relative

.overview-carousel-title
  color: $blue
  font-size: 12px
  font-weight: 700
  text-transform: uppercase

.overview-carousel-subtitle
  font-size: 14px
  font-weight: 500

.overview-carousel-location
  font-size: 12px
  position: relative
  padding-left: 14px

  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    width: 10px
    height: 18px
    background-position: center
    background-size: 400%
    background-repeat: no-repeat
    background-image: image-url('../images/overview/icon-location.png')

.overview-carousel-btn
  font-size: 12px
  font-weight: 500
  color: $blue
  border-bottom: 2px solid $blue
  position: absolute
  bottom: 10px
  right: 10px

.overview-card
  display: flex
  align-items: center
  flex-wrap: wrap
  border-top: 1px solid $gray
  padding: 40px 0

  .article-index-card
    counter-increment: this-counter

  .article-index-card-title

    &::before
      position: absolute
      top: 0
      left: 0
      content: counter(this-counter)
      width: 45px
      height: 45px
      background-color: $blue
      color: $white
      text-align: center
      display: flex
      align-items: center
      justify-content: center

// custom slick settings
.overview-carousel
  .slick-slide
    padding: 30px 0

    @include max-screen($breakpoint-mid-mobile)
      padding: 30px 0 10px

  .slick-arrow
    top: 42%
    width: 55px
    height: 55px
    border-radius: 50%
    box-shadow: 0 0 4px 0px rgba($black,0.7)
    background-color: $white
    z-index: 5

    @include max-screen($breakpoint-tablet)
      width: 49px
      height: 49px

    &::before
      position: absolute
      content: ''
      height: 9px
      width: 9px
      top: 50%
      border-color: $black
      border-style: solid
      border-width: 1px 1px 0 0
      font-size: 0
      display: block

  .slick-prev
    left: 5px

    @include max-screen($breakpoint-mobile)
      left: 30px

    @include max-screen($breakpoint-sm-mobile)
      left: 5px

    &::before
      transform: translate(-50%,-50%) rotate(-135deg)
      left: 55%

  .slick-next
    right: 5px

    @include max-screen($breakpoint-mobile)
      right: 30px

    @include max-screen($breakpoint-sm-mobile)
      right: 5px

    &::before
      transform: translate(-50%,-50%) rotate(45deg)
      left: 45%

.slick-current
  .overview-carousel-inner
    transform: translateY(-30px)
    border: 1px solid $blue

  .overview-carousel-text
    transform: scale(0)

    @include max-screen($breakpoint-mobile)
      font-size: 0

  .overview-carousel-descrp
    transform: rotateX(0deg)

  .overview-carousel-image
    &::before
      opacity: 0

.overview-access

  .section-title
    @include max-screen($breakpoint-tablet)
      margin: 0

  .section-title-content
    margin-bottom: -120px

    @include max-screen($breakpoint-tablet)
      margin: 0

  .section-access-light
    padding: 150px 0 75px
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 92%), image-url("../images/access-bg.jpg")
    background-position: center left

    @include max-screen($breakpoint-tablet)
      padding-top: 55px

    @include max-screen($breakpoint-mid-mobile)
      padding: 30px 0 0
