.pagination
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  padding: 30px 0

  .active-link
    color: $blue

  .disabled-link
    pointer-events: none
    opacity: 0.2


.pagination-nav
  height: 30px
  width: 30px
  display: flex
  vertical-align: middle
  align-items: center
  justify-content: center
  border-radius: 50%
  border: 1px solid $blue

  &:hover
    cursor: pointer

.pagination-nav-inner
  height: 2px
  width: 12px
  background-color: $blue
  position: relative

  &::before
    content: ''
    position: absolute
    top: -2px
    height: 2px
    width: 6px
    background-color: $blue

.pagination-nav-prev
  &::before
    left: 0
    transform: rotate(-45deg)

.pagination-nav-next
  &::before
    right: 0
    transform: rotate(45deg)


.pagination-prev

.pagination-next

.pagination-list
  display: inline-block
  vertical-align: middle

.pagination-item
  display: inline-block
  vertical-align: bottom
  margin: 0 5px

.pagination-link
  font-size: 15px
  position: relative
  font-weight: 500
  padding: 0 5px

  &:hover
    color: $blue
