.partner

.partner-heading
  text-align: center
  font-size: 50px
  font-family: 'Gotham'
  color: #5c7f85
  margin-bottom: 20px

  @include max-screen($breakpoint-tablet)
    font-size: 40px

  @include max-screen($breakpoint-mid-mobile)
    font-size: 30px


.partner-list
  display: flex
  padding: 0
  list-style-type: none
  margin: 0
  align-items: center
  justify-content: center
  margin: 0 -5px

  @include max-screen($breakpoint-tablet)
    flex-wrap: wrap

.partner-item
  padding: 0
  margin: 0 5px 10px
  width: calc((100%/4) - 10px)

  @include max-screen($breakpoint-tablet)
    width: calc((100%/2) - 10px)

  @include max-screen($breakpoint-mobile)
    width: 100%
    padding: 0 15px

.partner-link
  width: 100%
  display: block

.partner-image
  width: 100%
