.plan-trip
  @include max-screen($breakpoint-mid-mobile)
    padding: 0

.plan-trip-locations
  list-style-type: none
  margin: 0 -3px
  display: flex
  align-items: center
  justify-content: center

  @include max-screen($breakpoint-sm-mobile)
    margin: 0

.plan-trip-locaiton
  width: calc((100%/3) - 6px)
  margin: 0 3px
  padding: 0
  position: relative

  @include max-screen($breakpoint-sm-mobile)
    width: calc(100%/3)
    margin: 0 2px

.plan-trip-area
  text-align: center
  font-family: 'Gotham'
  font-size: 22px
  font-weight: 900
  color: $white
  display: block
  background-color: $light-gray
  padding: 83px 0 38px
  border-radius: 30px 30px 0 0
  position: relative
  cursor: pointer
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  @include max-screen($breakpoint-tablet)
    padding: 58px 5% 38px
    font-size: 18px
    border-radius: 15px 15px 0 0

  @include max-screen($breakpoint-mid-mobile)
    padding: 30px 5% 25px
    font-size: 16px

  &::before
    position: absolute
    content: ''
    width: 90%
    height: 90%
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    border: 1px solid $white
    border-bottom: 0
    border-radius: 30px 30px 0 0

    @include max-screen($breakpoint-tablet)
      border-radius: 15px 15px 0 0

.plan-trip-east
  background-image: image-url('../images/overview/plan-image1.png')

.plan-trip-middle
  background-image: image-url('../images/overview/plan-image2.png')

.plan-trip-west
  background-image: image-url('../images/overview/plan-image3.png')

.plan-trip-map
  height: 428px
  background-color: $gray

.current-tab
  position: relative

  &::after
    content: ''
    position: absolute
    border-color: transparent transparent $white transparent
    border-width: 0 15px 20px 15px
    border-style: solid
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    z-index: 1

    @include max-screen($breakpoint-tablet)
      border-width: 0 10px 15px 10px
