.privacy-policy
	p
		line-height: 1.5
		font-size: 12px
	
	.strong
		font-weight: 700
	
	.privacy-policy-content
		margin-top: 50px
		margin-bottom: 50px

		@include max-screen($breakpoint-tablet)
			margin-top: 25px

	.privacy-policy-sub-content
		margin-top: 40px
		padding: 0 50px
	
		@include max-screen($breakpoint-tablet)
			padding: 0

	.content-header
		font-size: 28px
		font-weight: 700
		text-align: center
		margin-bottom: 20px

		@include max-screen($breakpoint-mid-mobile)
			font-size: 25px

	.sub-content-header
		font-weight: 500
		margin-top: 30px
		margin-bottom: 5px
		font-size: 16px

	.sub-content-dashed 
		margin-top: 8px
		padding-left: 30px
		position: relative

		&:before
			content: ""
			position: absolute
			top: 7px
			left: 16px
			height: 1px
			width: 10px
			background-color: #000

	.inquiry-link
		text-decoration: underline
		color: $blue


