.related
  padding: 30px 0 20px

.related-site
  margin: 0 -5px
  display: flex
  flex-wrap: wrap
  list-style-type: none
  padding: 0

.related-item
  width: calc((100%/4) - 10px)
  margin: 0 5px 10px
  padding: 0

  @include max-screen($breakpoint-tablet)
    width: calc((100%/2) - 10px)

.related-link
  display: flex
  align-items: center
  // background-color: rgba($light-gray,0.4)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 100%


.related-img
  width: 100%
