.renewal-news
	display: flex
	align-items: center
	margin: 0 -5px

	@include max-screen($breakpoint-mid-mobile)
		margin: 0
		flex-direction: column

.renewal-news-card
	width: calc((100%/2) - 10px)
	margin: 0 5px
	border: none!important

	@include max-screen($breakpoint-mid-mobile)
		width: 100%
		margin: 0 0 5px
		padding: 0!important

.renewal-news-image
	position: relative
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	height: 280px

	@include max-screen($breakpoint-mid-mobile)
		height: 150px
	
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		background-color: rgba($black, 0.2)

.renewal-news-title
	color: $white
	font-size: 20px
	position: absolute
	bottom: 10px
	left: 10px
	font-weight: 500
	padding: 5px 10px
	border-left: 4px solid $white
	max-width: 400px
	width: 90%

	@include max-screen($breakpoint-mid-mobile)
		font-size: 16px
