.renewal-heading
	padding: 10px
	background-color: $blue
	margin-bottom: 5px

	@include max-screen($breakpoint-tablet)
		text-align: center

.renewal-heading-title
	color: $white
	font-size: 25px
	font-weight: 600

	@include max-screen($breakpoint-tablet)
		font-size: 20px
