.section-title
  margin: 30px 0

.section-title-content
  font-size: 50px
  font-family: 'Gotham'
  text-align: center
  margin-bottom: 15px
  position: relative

  @include max-screen($breakpoint-tablet)
    font-size: 40px

  @include max-screen($breakpoint-mid-mobile)
    text-align: left
    font-size: 25px
    padding-left: 30px

  &::before
    position: absolute
    bottom: 13px
    left: -15px
    content: ''
    height: 4px
    width: 40px
    background-color: $black
    display: none

    @include max-screen($breakpoint-mid-mobile)
      display: block