.section-spot
	// padding: 30px 0 40px
	margin-bottom: 30px

	@include max-screen($breakpoint-tablet)
		margin-bottom: 15px

.section-spot-header
	text-align: center
	font-size: 50px
	color: #181530
	font-family: 'Gotham'
	font-weight: 600
	margin-bottom: 30px
	position: relative

	&.special-header
		font-size: 35px
		margin: 20px 0 0

	@include max-screen($breakpoint-mid-mobile)
		text-align: left
		margin-bottom: 20px
		margin-left: 20px

		&:after
			position: absolute
			content: ''
			height: 2px
			width: 30px
			bottom: 18px
			left: -30px
			background-color: #181530

	@include max-screen($breakpoint-mid-mobile)
		font-size: 30px
		margin-left: 15px

		&:after
			width: 24px
			bottom: 10px
			left: -25px

.section-spot-content
	display: flex
	flex-wrap: wrap
	margin: 0 -5px

	@include max-screen($breakpoint-tablet)
		flex-direction: column

.section-spot-narrow
	width: calc(40% - 10px)
	margin: 0 5px 0

	@include max-screen($breakpoint-tablet)
		order: 2
		display: flex
		justify-content: space-between
		margin: 5px 0 0
		width: 100%

.section-spot-narrow-item
	background-color: #eee
	height: 163px
	display: flex
	justify-content: center
	align-items: center
	background-size: cover
	background-position: center
	background-repeat: no-repeat

	&:nth-child(1)
		margin-bottom: 10px

	@include max-screen($breakpoint-tablet)
		width: calc((100% / 2) - 3px)

		&:nth-child(1)
			margin-bottom: 0

	@include max-screen($breakpoint-mid-mobile)
		height: 150px

	@include max-screen($breakpoint-mobile)
		height: 110px

.section-spot-narrow-inner-item
	z-index: 1
	color: $white
	text-transform: uppercase
	font-weight: 700
	text-align: center
	font-family: 'Gotham'
	font-size: 20px
	padding: 0 20px

	@include max-screen($breakpoint-mid-mobile)
		font-size: 15px

	@include max-screen($breakpoint-mobile)
		font-size: 12px

.section-spot-wide
	width: calc(60% - 10px)
	height: 337px
	margin: 0 5px
	background-color: #eee
	background-size: cover
	background-position-x: 10%
	background-repeat: no-repeat
	display: flex
	justify-content: center
	align-items: center

	@include max-screen($breakpoint-tablet)
		width: 100%
		height: 300px
		margin: 0

	@include max-screen($breakpoint-mid-mobile)
		height: 200px

	@include max-screen($breakpoint-mobile)
		height: 165px

.section-spot-wide-inner
	z-index: 1
	display: flex
	line-height: 1.3
	justify-content: center
	align-items: center
	text-align: center
	font-family: 'Gotham'
	text-transform: uppercase
	font-size: 30px
	font-weight: 600
	width: 63%
	color: $white
	padding: 10px

	@include max-screen($breakpoint-mid-mobile)
		font-size: 18px

	@include max-screen($breakpoint-mobile)
		font-size: 15px

.section-spot-special-page
	.banner-top
		display: inline-block
		width: calc((100%/2) - 2px)
		vertical-align: top

	.special-article-big
		display: block
		width: 100%
