.section-access-light
  background-image: linear-gradient(0deg, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 92%), image-url("../images/access-bg.jpg")
  background-size: cover
  background-position: left
  padding: 80px 0px
  @include max-screen($breakpoint-mid-mobile)
    padding: 0
    background-image: inherit

.section-access-light-content
  justify-content: flex-end
  align-items: center
  @include max-screen($breakpoint-mid-mobile)
    justify-content: center

.section-access-btn
  text-transform: uppercase
  padding: 26px 0px 26px 22%
  &::before
    position: absolute
    content: ''
    top: 50%
    left: 8%
    transform: translateY(-50%)
    background-position: center
    background-size: contain
    @include max-screen($breakpoint-tablet)
      transform: translateY(-50%) scale(0.6)
      left: 4%
  &:hover
    box-shadow: 2px 3px 5px -3px rgba($black,0.5)

.section-access-btn-travel
  &::before
    background-image: image-url('../images/article/icon-travel.png')
    height: 40px
    width: 40px

.section-access-btn-train
  &::before
    background-image: image-url('../images/article/icon-train.png')
    height: 36px
    width: 40px
    background-repeat: no-repeat
