.sns-carousel-wrap
  padding: 0

.sns-carousel
  margin: 30px 0 0
  position: relative
  z-index: 2

  @include max-screen($breakpoint-tablet)
    padding: 0

.sns-carousel-item
  width: 350px
  margin: 0 7px

  @include max-screen($breakpoint-mid-mobile)
    width: 298px
    margin: 0 5px

.sns-carousel-inner
  transition: transform 300ms ease-in-out

.sns-page-post-wrapper
  height: 350px
  border: 1px solid rgba($gray, 0.5)
  border-radius: 3px 3px 0 0
  background-color: $white
  position: relative

  @include max-screen($breakpoint-mid-mobile)
    height: 280px

.sns-page-post-header
  padding: 10px
  display: flex
  position: relative

  &:after
    content: "⋯"
    position: absolute
    font-size: 22px
    font-weight: 800
    top: 5px
    right: 10px

.sns-page-post-avatar
  height: 35px
  width: 35px
  border-radius: 50%
  border: 1px solid rgba($gray, 0.5)
  background-color: $white
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.sns-page-post-info
  margin-left: 8px
  width: 80%

.sns-page-post-name-activity
  .sns-page-post-name
    font-size: 11px
    font-weight: 500
    letter-spacing: -0.01em
    color: #4C639A
  .sns-page-post-status
    font-size: 11px
    margin-left: 2px

.sns-page-post-time
  margin-top: -1px
  .post-datetime
    font-size: 10px
    font-weight: 500
    color: rgba($black, 0.5)
  .post-status
    height: 13px
    width: 13px
    display: inline-block
    background-size: contain
    background-position: center
    vertical-align: middle
    opacity: 0.8
    margin-left: 10px
    position: relative

    &:before
      content: "·"
      position: absolute
      font-size: 14px
      font-weight: 600
      color: rgba($black, 0.5)
      top: 50%
      left: -7px
      transform: translateY(-50%)

.sns-page-post-content
  img
    width: 100%

  .sns-page-post-message
    padding: 0 10px 10px
    font-size: 12px

.sns-page-shared-post
  .sns-page-shared-post-image
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 230px
    width: 100%

.sns-page-shared-post-content
  border-left: 2px solid rgba($black, 0.2)
  margin: 10px
  .sns-page-post-header
    padding: 0
    &:after
      display: none
.sns-page-shared-post-description
  margin-left: 10px
  padding-top: 7px
  font-size: 10px

.sns-hash-tag,
.sns-see-more,
.sns-post-owner
  color: #4C639A

.sns-post-owner
  font-weight: 500

.sns-see-more
  font-weight: 500
  font-size: 11px

.sns-carousel-btn
  font-size: 12px
  font-weight: 500
  color: $blue
  border-bottom: 2px solid $blue
  position: absolute
  bottom: 10px
  right: 10px

// custom slick settings
.sns-carousel
  .slick-slide
    @include max-screen($breakpoint-mid-mobile)
      padding: 0

  .slick-arrow
    top: 50%
    width: 55px
    height: 55px
    border-radius: 50%
    box-shadow: 0 0 4px 0px rgba($black,0.7)
    background-color: $white
    z-index: 5

    @include max-screen($breakpoint-tablet)
      width: 49px
      height: 49px

    &::before
      position: absolute
      content: ''
      height: 9px
      width: 9px
      top: 50%
      border-color: $black
      border-style: solid
      border-width: 1px 1px 0 0
      font-size: 0
      display: block

  .slick-prev
    left: 5px

    @include max-screen($breakpoint-mobile)
      left: 10px

    @include max-screen($breakpoint-sm-mobile)
      left: 5px

    &::before
      transform: translate(-50%,-50%) rotate(-135deg)
      left: 55%

  .slick-next
    right: 5px

    @include max-screen($breakpoint-mobile)
      right: 10px

    @include max-screen($breakpoint-sm-mobile)
      right: 5px

    &::before
      transform: translate(-50%,-50%) rotate(45deg)
      left: 45%


