.special-anchor
  padding: 25px 0
  border-bottom: 1px solid $light-gray

.special-anchor-list
  margin: 0
  padding: 0
  list-style-type: none
  text-align: center

.special-anchor-item
  display: inline-block
  vertical-align: top
  padding: 0
  margin: 0 10px

.special-anchor-link
  font-size: 13px
  text-transform: uppercase
  font-weight: 300
  display: block

  &:hover
    color: $blue
