// p
// 	margin-bottom: 15px
// 	text-align: justify!important
// 	word-break: normal
// span
// 	margin-bottom: 15px
// 	text-align: justify
// 	word-break: normal




.special-article-hero
	height: auto
	background-color: #eee
	background-size: cover
	background-position: center
	background-image: image-url('../images/special-articles/sa-hero.png')
	padding: 17px

	@include max-screen($breakpoint-tablet)
		background-image: image-url('../images/special-articles/sa-hero--sp.png')

.special-article-hero-inner
	border: 1px solid rgba($white, 0.5)
	height: 295px
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

	@include max-screen($breakpoint-tablet)
		height: 200px

	@include max-screen($breakpoint-mid-mobile)
		height: 180px

.special-article-hero-description
	color: $white
	font-size: 28px
	text-align: center
	line-height: 1.2
	font-family: 'Trajan Pro 3'
	font-weight: 600

	@include max-screen($breakpoint-tablet)
		font-size: 30px

	@include max-screen($breakpoint-mid-mobile)
		font-size: 25px

.special-article-hero-title
	margin-bottom: 20px
	width: 100%

	@include max-screen($breakpoint-mid-mobile)
		margin-bottom: 10px

	.title-list
		display: flex
		flex-direction: column
		color: $white
		position: relative

		&:before
			content: ''
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%) rotate(25deg)
			height: 70px
			width: 1px
			background-color: $white

			@include max-screen($breakpoint-mid-mobile)
				height: 50px

	.title-item
		font-size: 15px
		text-transform: uppercase
		width: calc(100%/2)

		@include max-screen($breakpoint-mid-mobile)
			font-size: 12px

	.title-item-left
		text-align: right
		padding-right: 3px

	.title-item-right
		padding-left: 3px
		align-self: flex-end



.special-article-nav
	margin: 0 auto
	max-width: 1200px
	width: 100%
	padding: 0 30px
	border-bottom: 1px solid #B8B8B8

	.nav-list
		display: flex
		justify-content: center
		padding: 15px 0
		margin-top: 20px

		@include max-screen($breakpoint-tablet)
			margin-top: 10px
			justify-content: space-between

	.nav-item
		text-transform: uppercase
		font-family: 'Gotham'
		font-weight: 700
		color: #9B9B9B
		padding: 0 15px

		&:hover
			color: #008899

		@include max-screen($breakpoint-tablet)
			padding: 0

	@include max-screen($breakpoint-tablet)
		padding: 0
		margin: 0 15px
		width: auto

.special-article-content
	padding: 0 30px

	@include max-screen($breakpoint-tablet)
		padding: 0

.article-content-text
	font-size: 15px
	margin: 20px 0
	font-family: 'Gotham'

	p
		margin-bottom: 15px
		text-align: justify
		word-break: normal

	span
		line-height: 25px
		text-align: justify
		word-break: break-word

	img
		max-width: 100%
		height: auto

.article-content-image
	height: 348px
	background-color: #eee
	background-size: cover
	background-position: center
	position: relative

	&:before
		content: ''
		position: absolute
		top: 15px
		left: 15px
		height: 40px
		width: 40px
		border-color: rgba($white, 0.5)
		border-width: 1px 0 0 1px
		border-style: solid

	&:after
		content: ''
		position: absolute
		bottom: 15px
		right: 15px
		height: 40px
		width: 40px
		border-color: rgba($white, 0.5)
		border-width: 0 1px 1px 0
		border-style: solid

	@include max-screen($breakpoint-mid-mobile)
		height: 200px

.article-content-photo
	display: flex
	align-items: center
	justify-content: center
	margin: 0 0 10px

.article-content-photo-inner
	position: relative
	width: 100%
	display: inline-block

	&:before
		content: ''
		position: absolute
		top: 15px
		left: 15px
		height: 40px
		width: 40px
		border-color: rgba($white, 0.5)
		border-width: 1px 0 0 1px
		border-style: solid

	&:after
		content: ''
		position: absolute
		bottom: 15px
		right: 15px
		height: 40px
		width: 40px
		border-color: rgba($white, 0.5)
		border-width: 0 1px 1px 0
		border-style: solid

	img
		max-width: 100%
		width: 100%
		height: auto
		display: inline-block
		margin: 0

.special-article-map
	margin: 0 auto
	max-width: 980px
	width: 100%
	padding: 0 30px

	height: 420px
	background-color: $white
	margin-top: 50px
	background-size: 100%
	background-repeat: no-repeat
	background-position: center
	background-image: image-url('../images/special-articles/sa-map.png')

	@include max-screen($breakpoint-tablet)
		padding: 0
		margin-top: 0

	@include max-screen($breakpoint-mid-mobile)
		height: 379px
		background-image: image-url('../images/special-articles/sa-map--sp.png')
		background-size: 100%
		background-position: center

.special-article-spot
	background-color: #F9F9F9


*:target
	&::before
		content: ''
		display: block
		height: 20px
