.stayin
  padding: 70px 0 30px

.stayin-row
  position: relative
  padding: 65px 0

  @include max-screen($breakpoint-tablet)
    padding: 0 0 25px

.stayin-container
  position: relative
  z-index: 1

  @include max-screen($breakpoint-tablet)
    background-color: $white
    max-width: 520px
    width: 95%
    margin: 0 auto
    padding: 30px 45px

.stayin-image
  position: absolute
  top: 0
  right: 0
  max-width: 550px
  width: 100%
  height: 300px
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  @include max-screen($breakpoint-tablet)
    position: relative
    top: auto
    right: auto
    margin: 0 auto -55px

  &::after
    content: ''
    position: absolute
    width: 95%
    height: 95%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border: 1px solid $white

.stayin-heading
  position: relative
  font-size: 36px
  text-transform: uppercase
  font-family: 'Noto Sans'
  font-weight: 600
  margin-bottom: -22px
  z-index: 1
  text-shadow: 0 0 10px $white

  @include max-screen($breakpoint-tablet)
    text-align: center
    margin-bottom: 22px
    font-size: 26px

    br
      display: none

.stayin-content
  background-color: $white
  width: 445px
  padding: 70px 50px
  margin-left: 60px
  position: relative

  @include max-screen($breakpoint-tablet)
    width: 100%
    margin: 0
    padding: 0

.stayin-copy
  font-size: 14px
  font-family: 'Noto Sans'

.stayin-row:nth-child(even)

  .stayin-image
    left: 0
    right: auto

    @include max-screen($breakpoint-tablet)
      left: auto
      right: auto

  .stayin-heading
    text-align: right

    @include max-screen($breakpoint-tablet)
      text-align: center

  .stayin-content
    margin: 0 60px 0 auto

    @include max-screen($breakpoint-tablet)
      margin: 0
