.taxi-outer
  overflow: hidden

.taxi
  display: flex
  margin: 30px 0
  position: relative

  @include max-screen($breakpoint-sm-tablet)
    flex-direction: column
    justify-content: center
    align-items: center

  &::before,
  &::after
    position: absolute
    content: ''
    top: 0

  &::before
    right: 170px
    border-width: 0 0 354px 105px
    border-color: transparent transparent rgba(#d3ded0,0.3) transparent
    border-style: solid

    @include max-screen($breakpoint-desktop)
      right: -30px
      bottom: -30px
      top: auto
      border-bottom-width: 400px

    @include max-screen($breakpoint-tablet)
      right: 0

  &::after
    right: 0
    height: 100%
    width: 170px
    background-color: rgba(#d3ded0,0.3)

    @include max-screen($breakpoint-desktop)
      display: none

.taxi-hotline
  max-width: 345px
  width: 95%
  flex-shrink: 0
  text-align: center
  padding-top: 20px


.taxi-col
  border-left: 1px solid $light-gray
  position: relative

  @include max-screen($breakpoint-sm-tablet)
    border: none
    padding-bottom: 280px

  &::after
    position: absolute
    content: ''
    bottom: 0
    right: -416px
    width: 416px
    height: 239px
    background-position: center
    background-image: image-url('../images/access/sedan.png')
    background-size: cover
    z-index: 1

    @include max-screen($breakpoint-xl-desktop)
      right: -360px

    @include max-screen($breakpoint-desktop)
      right: -361px

    @include max-screen($breakpoint-tablet)
      display: none

    @include max-screen($breakpoint-sm-tablet)
      display: block
      right: 50%
      transform: translateX(50%)

    @include max-screen($breakpoint-mobile)
      right: auto
      transform: scale(0.7)
      left: 0


.taxi-how-to
  border-bottom: 1px solid $light-gray
  padding: 20px 0 50px 50px

  @include max-screen($breakpoint-desktop)
    padding: 20px

  @include max-screen($breakpoint-sm-tablet)
    border: none
    padding: 10px
    margin-bottom: 35px

.taxi-heading
  font-size: 20px
  text-transform: uppercase
  margin-bottom: 22px

  @include max-screen($breakpoint-desktop)
    text-align: center

.taxi-list
  list-style-type: none
  padding: 0
  margin: 0

.taxi-item
  padding: 0
  margin: 0 0 5px
  font-size: 12px

.taxi-detail
  text-align: center
  padding: 50px 0 25px

  @include max-screen($breakpoint-sm-tablet)
    padding: 0

  .taxi-heading
    margin-bottom: 15px

.taxi-detail-copy
  font-size: 12px
  margin-bottom: 10px

.taxi-detail-btn
  display: inline-block
  width: 230px
  height: 40px

  .button
    border-radius: 20px
