.topics
  box-shadow: inset 0 3px 11px -3px rgba($light-gray, 0.8)

  .section-spot-header
    text-align: left

    @include max-screen($breakpoint-sm-tablet)
      margin: 0 0 55px 0
      text-align: center
      font-size: 30px

      &:after
        display: none

  .contents-tags

    @include max-screen($breakpoint-sm-tablet)
      // top: 48px

.topics-container
