.tourist-place-content
  display: flex
  justify-content: space-between
  align-items: flex-end
  padding: 30px 20px

  @include max-screen($breakpoint-desktop)
    align-items: flex-start

  @include max-screen($breakpoint-tablet)
    flex-direction: column
    padding: 20px 10px

  &.is-open
    display: flex

.tourist-place-left
  width: 68%
  position: relative

  @include max-screen($breakpoint-tablet)
    width: 100%
    margin-bottom: 15px

.tourist-place-right
  width: 30%

  @include max-screen($breakpoint-tablet)
    width: 100%

.tourist-place-heading
  margin-bottom: 15px

.tourist-place-title
  font-size: 25px
  font-weight: 300
  font-family: 'Noto Sans'
  padding-right: 26%

  @include max-screen($breakpoint-tablet)
    font-size: 18px
    text-align: center
    padding-right: 0

  @include max-screen($breakpoint-mid-mobile)
    font-size: 16px

.tourist-place-button
  width: 25%
  height: 42px
  font-size: 14px
  font-family: 'Noto Sans'
  font-weight: 300
  text-transform: capitalize
  position: absolute
  top: 0
  right: 0

  @include max-screen($breakpoint-desktop)
    width: 159px
    margin: 0 auto
    position: static

.tourist-place-table
  font-family: 'Noto Sans'
  font-weight: 300
  width: 100%

  @include max-screen($breakpoint-desktop)
    margin-bottom: 15px

.tourist-place-trow
  display: flex
  align-items: center

  &:nth-child(even)
    background-color: rgba(#cce4e7, 0.2)

.tourist-place-tcol
  font-size: 12px
  padding: 8px 20px
  flex-grow: 1

  @include max-screen($breakpoint-mid-mobile)
    padding: 8px 10px

  &:first-child
    font-weight: 500
    width: 115px
    flex-shrink: 0
    flex-grow: 0

    @include max-screen($breakpoint-mobile)
      width: 90px

.tourist-place-subtitle
  font-size: 14px
  font-family: 'Noto Sans'
  font-weight: 500
  text-transform: uppercase
  display: block
  margin-bottom: 10px
  width: 100%
  text-align: center

.tourist-place-right-bottom

  @include max-screen($breakpoint-tablet)
    display: flex
    justify-content: space-between

.tourist-place-related
  display: flex
  align-items: center
  justify-content: center
  color: $white
  background-color: $gray
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 140px
  text-transform: uppercase
  font-family: 'Gotham'
  font-size: 19px
  font-weight: bold
  text-align: center
  padding: 0 10px

  @include max-screen($breakpoint-tablet)
    width: calc((100%/2) - 5px)
    font-size: 14px

  &:not(:last-child)
    margin-bottom: 5px

.tourist-place-link
  &:hover
    color: $blue
