.transpo-headline
  display: flex
  align-items: center
  justify-content: center
  border-width: 1px 0
  border-style: dashed
  border-color: rgba($loblolly,0.5)
  padding: 25px 0

  @include max-screen($breakpoint-tablet)
    flex-direction: column
    text-align: center

.transpo-headline-title
  position: relative
  color: $cutty-sark
  font-weight: 500
  margin-right: 30px
  font-size: 16px
  text-transform: uppercase
  padding-left: 50px

  @include max-screen($breakpoint-tablet)
    margin-right: 0

  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    height: 45px
    width: 45px
    background-size: cover

.transpo-headline-subtitle
  font-size: 16px
  font-weight: 300

  @include max-screen($breakpoint-tablet)
    margin-top: 25px

.access-icon-airline
  &::before
    background-image: image-url('../images/access/icon-plane-circle.png')

.access-icon-train
  &::before
    background-image: image-url('../images/access/icon-train-circle.png')

.access-icon-bus
  &::before
    background-image: image-url('../images/access/icon-bus-circle.png')

.access-icon-car
  &::before
    background-image: image-url('../images/access/icon-car-circle.png')

.access-icon-taxi
  &::before
    background-image: image-url('../images/access/icon-taxi-circle.png')

.access-icon-ferry
  &::before
    background-image: image-url('../images/access/icon-ferry-circle.png')

#taxi + .l-container
  // overflow: hidden
