.train
  padding: 30px 0

.train-input
  display: none

.train-station
  display: flex
  align-items: flex-end
  justify-content: center
  margin-bottom: 20px

.train-label
  font-size: 16px
  text-align: center
  color: rgba($dark-gray,0.7)
  font-weight: 300
  border-bottom: 1px solid $light-gray
  padding: 0 10px 10px
  position: relative

  @include max-screen($breakpoint-mobile)
    padding: 0 7px 10px

  &:hover
    cursor: pointer
    color: $loblolly

  &::after
    position: absolute
    content: ''
    bottom: -2px
    left: 0
    height: 2px
    width: 100%
    background-color: $loblolly
    opacity: 0

.train-route
  display: none
  margin: 0 auto 30px
  width: 98%

.train-line1
  max-width: 826px

.train-line2
  max-width: 520px

.train-route-map
  width: 100%

.train-legend
  display: flex
  align-items: center
  justify-content: center

  @include max-screen($breakpoint-tablet)
    padding: 0 10px

  @include max-screen($breakpoint-mid-mobile)
    flex-direction: column
    justify-content: center

.train-legend-list
  list-style-type: none
  padding: 0
  margin: 0
  border-top: 1px solid $light-gray

  @include max-screen($breakpoint-mid-mobile)
    margin-bottom: 25px

.train-legend-item
  padding: 10px 35px 10px 75px
  margin: 0
  font-size: 11px
  border-bottom: 1px solid $light-gray
  position: relative

  &::before
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 20px
    background-position: center
    background-size: cover
    background-repeat: no-repeat

  &:first-child::before
    width: 34px
    height: 11px
    background-image: image-url('../images/access/train-bullet.png')

  &:last-child::before
    width: 31px
    height: 14px
    background-image: image-url('../images/access/train-express.png')

.train-btn
  width: 250px
  height: 40px

  .button
    border-radius: 40px

#train-line1:checked
  ~ .train-station .train-label-line1
    color: $loblolly
    font-weight: 700

    &::after
      opacity: 1

  ~ .train-line1
    display: block

#train-line2:checked
  ~ .train-station .train-label-line2
    color: $loblolly
    font-weight: 700

    &::after
      opacity: 1

  ~ .train-line2
    display: block
