.article-index
  background-position: center
  background-repeat: repeat
  background-image: image-url('article/strip-background.png')
  padding-top: 15px

.article-index-header
  font-family: 'Gotham'
  font-size: 53px
  text-align: center
  margin-bottom: 15px
  position: relative

  @include max-screen($breakpoint-tablet)
    font-size: 40px

  @include max-screen($breakpoint-mobile)
    font-size: 34px
    text-align: left
    padding-left: 30px

  &::before
    position: absolute
    bottom: 13px
    left: -15px
    content: ''
    height: 4px
    width: 40px
    background-color: $black
    display: none

    @include max-screen($breakpoint-mobile)
      display: block


.article-index-filter-wrapper
  margin-bottom: 15px
  position: relative
  z-index: 3

.article-index-filter
  width: 150px
  border: 1px solid rgba($gray, 0.5)
  background-color: $white
  font-size: 13.5px
  font-family: 'Gotham'
  text-transform: uppercase
  color: #9ca0a5
  padding: 9px 10px
  display: inline-block
  position: relative

  &:hover
    cursor: pointer

  &::before
    position: absolute
    content: ''
    top: 50%
    transform: translateY(-50%)
    right: 5px
    border-style: solid
    border-width: 8px 5px 0 5px
    border-color: $gray transparent transparent transparent

.article-index-filter-inner
  background-color: $white
  padding: 15px
  border-radius: 5px
  position: absolute
  top: 37px
  left: 0
  max-width: 438px
  width: 90%
  box-shadow: 0px 4px 12px 0px rgba($gray, 0.5)
  z-index: 2
  // display: none

.article-index-filter-list
  padding: 0
  margin: 0
  list-style-type: none
  display: flex
  flex-wrap: wrap 

  @include max-screen($breakpoint-mobile)
    margin-bottom: 15px

.article-index-filter-item
  display: inline-block
  padding: 10px
  width: calc(100%/2)


.article-index-filter-checkbox
  display: none

  &:checked
    + .article-index-filter-dummy-checkbox
      background-color: $blue

      &::before
        display: block


.article-index-filter-dummy-checkbox
  display: inline-block
  vertical-align: middle
  height: 15px
  width: 15px
  border: 1px solid rgba($gray, 0.5)
  border-radius: 3px
  margin-right: 5px
  position: relative
  background-color: $white

  &::before
    position: absolute
    top: 2px
    left: 1px
    content: ''
    width: 11px
    height: 6px
    border-style: solid
    border-color: $white
    border-width: 0 0 2px 2px
    transform: rotate(-45deg)
    display: none

.article-index-filter-label
  font-size: 13.5px
  font-family: 'Gotham'
  cursor: pointer
  display: inline-block
  vertical-align: middle

.article-index-filter-search
  display: block
  padding: 9px 33px
  background-color: $blue
  color: $white
  font-size: 13px
  font-family: 'Gotham'
  border-radius: 20px
  font-weight: bold
  float: right
  cursor: pointer

  @include max-screen($breakpoint-mobile)
    float: none
    margin: 0 auto

.article-index-card-wrap
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 -5px

  @include max-screen($breakpoint-mobile)
    margin: 0

.article-index-card
  height: 190px
  width: calc((100%/3) - 10px)
  background-size: cover
  background-image: image-url('article/dummy-image.png')
  background-position: center
  margin: 0 5px 10px
  display: flex
  align-items: center
  justify-content: center
  position: relative
  cursor: pointer

  @include max-screen($breakpoint-tablet)
    width: calc((100%/2) - 10px)

  @include max-screen($breakpoint-mobile)
    width: 100%

  &::before
    position: absolute
    content: ''
    width: 85%
    height: 90%
    border: 1px solid rgba($white, 0.5)
    transform: translateZ(0) scale(0.4)
    opacity: 0
    transition-duration: 300ms
    transition-property: transform, opacity
    transition-timing-function: ease-in-out
    z-index: 1

  &::after
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    content: ''
    background-color: rgba($black, 0.3)
    transform: translateZ(0)
    transition-duration: 300ms
    transition-property: opacity
    transition-timing-function: ease-in-out

  &:hover
    &::before
      transform: translateZ(0) scale(1)
      opacity: 1

    &::after
      opacity: 0

    .article-index-card-title
      transform: translateY(-10px)

.article-index-card-title
  color: $white
  font-family: 'Gotham'
  font-size: 19px
  text-transform: uppercase
  position: relative
  z-index: 2
  transition-duration: 300ms
  transition-property: transform
  transition-timing-function: ease-in-out
