.section-heading
  font-family: 'Gotham'
  font-size: 53px
  text-align: center
  margin-bottom: 15px
  position: relative

  @include max-screen($breakpoint-tablet)
    font-size: 40px

  @include max-screen($breakpoint-mobile)
    font-size: 34px
    text-align: left
    padding-left: 30px

  &::before
    position: absolute
    bottom: 13px
    left: -15px
    content: ''
    height: 4px
    width: 40px
    background-color: $black
    display: none

    @include max-screen($breakpoint-mobile)
      display: block
