.section-spot
	padding: 30px 10px 40px

.section-spot-header
	text-align: center
	font-size: 50px
	color: #181530
	font-family: 'Gotham'
	font-weight: 600
	margin-bottom: 30px
	position: relative

	@include max-screen($breakpoint-tablet)
		text-align: left
		margin-bottom: 20px
		margin-left: 20px

		&:after
			position: absolute
			content: ''
			height: 2px
			width: 30px
			bottom: 18px
			left: -30px
			background-color: #181530

	@include max-screen($breakpoint-mid-mobile)
		font-size: 30px
		margin-left: 15px

		&:after
			width: 24px
			bottom: 10px
			left: -25px

.section-spot-content
	display: flex
	flex-wrap: wrap
	margin: 0 -5px

	@include max-screen($breakpoint-tablet)
		flex-direction: column

.section-spot-narrow
	width: calc(40% - 10px)
	margin: 0 5px 0

	@include max-screen($breakpoint-tablet)
		order: 2
		display: flex
		justify-content: space-between
		margin: 5px 0 0
		width: 100%

.section-spot-narrow-item
	background-color: #eee
	height: 200px
	display: flex
	justify-content: center
	align-items: center
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	position: relative

	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		height: 100%
		width: 100%
		background-color: rgba(black, 0.4)
		transform: translateZ(0)
		transition-duration: 300ms
		transition-property: transform, opacity
		transition-timing-function: ease-in-out

	&:after
		position: absolute
		content: ''
		width: 90%
		height: 80%
		border: 1px solid rgba($white, 0.5)
		transform: scale(0.4)
		opacity: 0
		transition-duration: 300ms
		transition-property: transform, opacity
		transition-timing-function: ease-in-out

	&:hover
		&:after
			transform: scale(1)
			opacity: 1

		&:before
			opacity: 0

	&:nth-child(1)
		margin-bottom: 10px

	@include max-screen($breakpoint-tablet)
		width: calc((100% / 2) - 3px)

		&:nth-child(1)
			margin-bottom: 0

	@include max-screen($breakpoint-mid-mobile)
		height: 150px

	@include max-screen($breakpoint-mobile)
		height: 110px

.section-spot-narrow-inner-item
	z-index: 1
	color: $white
	text-transform: uppercase
	font-weight: 700
	text-align: center
	font-family: 'Gotham'
	font-size: 20px

	@include max-screen($breakpoint-mid-mobile)
		font-size: 15px

	@include max-screen($breakpoint-mobile)
		font-size: 12px

.section-spot-wide
	width: calc(60% - 10px)
	height: 410px
	margin: 0 5px
	background-color: #eee
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	display: flex
	justify-content: center
	align-items: center
	position: relative

	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		height: 100%
		width: 100%
		transform: translateZ(0)
		background-color: rgba(black, 0.5)
		transition-duration: 300ms
		transition-property: transform, opacity, background-color
		transition-timing-function: ease-in-out

	&:after
		position: absolute
		content: ''
		width: 90%
		height: 40%
		border: 1px solid rgba($white, 0.5)
		transform: scale(0.7)
		opacity: 1
		transition-duration: 300ms
		transition-property: transform, opacity, height
		transition-timing-function: ease-in-out

	&:hover
		&:after
			transform: scale(1)
			height: 80%
			opacity: 1

		&:before
			background-color: rgba(black, 0.3)
			opacity: 1

	@include max-screen($breakpoint-tablet)
		width: 100%
		height: 300px
		margin: 0

	@include max-screen($breakpoint-mid-mobile)
		height: 200px

	@include max-screen($breakpoint-mobile)
		height: 165px

.section-spot-wide-inner
	z-index: 1
	display: flex
	line-height: 1.3
	justify-content: center
	align-items: center
	text-align: center
	font-family: 'Gotham'
	text-transform: uppercase
	font-size: 30px
	font-weight: 600
	color: $white

	@include max-screen($breakpoint-mid-mobile)
		font-size: 18px

	@include max-screen($breakpoint-mobile)
		font-size: 15px