.special-article-hero
	height: auto
	background-color: #eee
	background-size: cover
	background-position: center
	background-image: image-url('special-articles/sa-hero.png')
	padding: 17px

	@include max-screen($breakpoint-tablet)
		background-image: image-url('special-articles/sa-hero--sp.png')

.special-article-hero-inner
	border: 1px solid rgba($white, 0.5)
	height: 295px
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

	@include max-screen($breakpoint-tablet)
		height: 200px

	@include max-screen($breakpoint-mid-mobile)
		height: 180px

.special-article-hero-description
	color: $white
	font-size: 35px
	font-family: 'UDMinchoPr6-B-AlphaNum'
	text-align: center
	line-height: 1.2

	@include max-screen($breakpoint-tablet)
		font-size: 30px

	@include max-screen($breakpoint-mid-mobile)
		font-size: 25px

.special-article-hero-title
	margin-bottom: 20px

	@include max-screen($breakpoint-mid-mobile)
		margin-bottom: 10px

	.title-list
		display: flex
		flex-direction: column
		color: $white
		width: 140px
		font-family: 'Trajan Pro 3'
		position: relative

		&:before
			content: ''
			position: absolute
			top: 50%
			left: 52%
			transform: translate(-50%, -50%) rotate(25deg)
			height: 70px
			width: 1px
			background-color: $white

		@include max-screen($breakpoint-mid-mobile)
			width: 115px

			&:before
				height: 50px

	.title-item
		font-size: 15px
		text-transform: uppercase

		&:nth-child(2)
			align-self: flex-end

		@include max-screen($breakpoint-mid-mobile)
			font-size: 12px


.special-article-nav
	margin: 0 auto
	max-width: 1200px
	width: 100%
	padding: 0 30px
	border-bottom: 1px solid #B8B8B8

	.nav-list
		display: flex
		justify-content: center
		padding: 15px 0
		margin-top: 20px

		@include max-screen($breakpoint-tablet)
			margin-top: 10px
			justify-content: space-between

	.nav-item
		text-transform: uppercase
		font-family: 'Gotham'
		font-weight: 700
		color: #9B9B9B
		padding: 0 15px

		&.active
			color: #008899

		@include max-screen($breakpoint-tablet)
			padding: 0

	@include max-screen($breakpoint-tablet)
		padding: 0
		margin: 0 15px
		width: auto

.special-article-content

	@include max-screen($breakpoint-tablet)
		padding: 0 30px

.article-content-text
	font-size: 15px
	margin: 20px 0
	font-family: 'Gotham'

.article-content-image
	height: 348px
	background-color: #eee
	background-size: cover
	background-position: center
	position: relative

	&:before
		content: ''
		position: absolute
		top: 15px
		left: 15px
		height: 40px
		width: 40px
		border-color: rgba($white, 0.5)
		border-width: 1px 0 0 1px
		border-style: solid

	&:after
		content: ''
		position: absolute
		bottom: 15px
		right: 15px
		height: 40px
		width: 40px
		border-color: rgba($white, 0.5)
		border-width: 0 1px 1px 0
		border-style: solid

	@include max-screen($breakpoint-mid-mobile)
		height: 200px

.special-article-map
	margin: 0 auto
	max-width: 980px
	width: 100%
	padding: 0 30px

	height: 420px
	background-color: $white
	margin-top: 50px
	background-size: 100%
	background-repeat: no-repeat
	background-position: center
	background-image: image-url('special-articles/sa-map.png')

	@include max-screen($breakpoint-tablet)
		padding: 0
		margin-top: 0

	@include max-screen($breakpoint-mid-mobile)
		height: 379px
		background-image: image-url('special-articles/sa-map--sp.png')
		background-size: 100%
		background-position: center

.special-article-spot
	background-color: #F9F9F9

