/* fonts used
 Gotham: normal 500 bold 900
 UDMinchoPr6-B-AlphaNum: normal
 Trajan Pro 3: normal
 Noto Sans: 300 normal 500 bold 900 */

@font-face
  font-family: 'Gotham'
  src: font-url('GothamBlack.woff2') format("woff2"), font-url('GothamBlack.woff') format("woff"), font-url('GothamBlack.ttf') format("truetype")
  font-weight: 900
  font-style: normal


@font-face
  font-family: 'Gotham'
  src: font-url('GothamBold.woff2') format("woff2"), font-url('GothamBold.woff') format("woff"), font-url('GothamBold.ttf') format("truetype")
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Gotham'
  src: font-url('GothamBook.woff2') format("woff2"), font-url('GothamBook.woff') format("woff"), font-url('GothamBook.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Gotham'
  src: font-url('GothamMedium.woff2') format("woff2"), font-url('GothamMedium.woff') format("woff")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'UDMinchoPr6-B-AlphaNum'
  src: font-url('UDMinchoPr6-B-AlphaNum.woff2') format('woff2'), font-url('UDMinchoPr6-B-AlphaNum.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Trajan Pro 3'
  src: font-url('TrajanPro3Regular.woff2') format("woff2"), font-url('TrajanPro3Regular.woff') format("woff"), font-url('TrajanPro3Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Trajan Pro 3'
  src: font-url('TrajanPro3SemiBold.woff2') format("woff2"), font-url('TrajanPro3SemiBold.woff') format("woff"), font-url('TrajanPro3SemiBold.ttf') format("truetype")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Trajan Pro 3'
  src: font-url('TrajanPro3Light.woff2') format("woff2"), font-url('TrajanPro3Light.woff') format("woff"), font-url('TrajanPro3Light.ttf') format("truetype")
  font-weight: 300
  font-style: normal

@font-face
    font-family: 'Noto Sans'
    src: font-url('NotoSansDisplay-SemiBold.woff2') format('woff2'), font-url('NotoSansDisplay-SemiBold.woff') format('woff')
    font-weight: 600
    font-style: normal

@font-face
    font-family: 'Noto Sans'
    src: font-url('NotoSansDisplay-Bold.woff2') format('woff2'), font-url('NotoSansDisplay-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal

@font-face
    font-family: 'Noto Sans'
    src: font-url('NotoSansDisplay-Light.woff2') format('woff2'), font-url('NotoSansDisplay-Light.woff') format('woff')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'Noto Sans'
    src: font-url('NotoSansDisplay-Medium.woff2') format('woff2'), font-url('NotoSansDisplay-Medium.woff') format('woff')
    font-weight: 500
    font-style: normal

@font-face
    font-family: 'Noto Sans'
    src: font-url('NotoSansDisplay-Black.woff2') format('woff2'), font-url('NotoSansDisplay-Black.woff') format('woff')
    font-weight: 900
    font-style: normal

@font-face
    font-family: 'Noto Sans'
    src: font-url('NotoSansDisplay-Regular.woff2') format('woff2'), font-url('NotoSansDisplay-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal
