- header_image = @post.the_field('header-banner-image')
- map_image = @post.the_field('special-map-image')
- related_post_ids =  @post.the_fields("related-pick-up-spots").to_i
- related_posts = current_site.the_posts.unscoped.where(id: related_post_ids).limit(3)

.special-article
	.special-article-hero[style="background-image: url(#{header_image})"]
     =raw @post.the_field("header-banner-title")

	.l-container
		= render theme_view('partials/common/special_anchor')

	.special-article-content
		.l-container
    		= render theme_view('partials/article/content'), post: @post.the_content

	.special-article-map[style="background-image: url(#{ map_image })"]

	.special-article-spot#spots
    = render theme_view('partials/home/featured_pick_up_spots'), spots: related_posts.decorate

	= render theme_view('partials/common/where_is_sanin')

	.special-article-local-guide.l-container#local-guide
      = render theme_view('partials/common/local_guide_banner')

	.l-container
	  = render theme_view('partials/common/related')
