section.access-anchor
  .access-anchor-wrapper
    span.access-anchor-text.js-access-anchor-text
      .access-anchor-text-inner
        | #{I18n.t 'camaleon_cms.access.menu.map'}
      i.access-anchor-text-icon
    ul.access-anchor-list
      / li.access-anchor-item
      /   = link_to 'Map', '#map', class: 'access-anchor-link'
      li.access-anchor-item
        = link_to '#air', class: 'access-anchor-link'
          | #{I18n.t 'camaleon_cms.access.menu.air'}
      li.access-anchor-item
        = link_to '#railway', class: 'access-anchor-link'
          | #{I18n.t 'camaleon_cms.access.menu.railway'}
      li.access-anchor-item
        = link_to '#bus', class: 'access-anchor-link'
          | #{I18n.t 'camaleon_cms.access.menu.bus'}
      li.access-anchor-item
        = link_to '#car', class: 'access-anchor-link'
          | #{I18n.t 'camaleon_cms.access.menu.local_transport'}
