.airports
  h2.airports-heading
    | #{I18n.t 'camaleon_cms.access.airlines.airport.title'}
  ul.airports-list
    li.airports-item
      = link_to 'https://www.ttj-ap-bld.co.jp/', class: 'airports-link', target: '_blank'
        | #{I18n.t 'camaleon_cms.access.airlines.airport.airport_list.tottori'}
    li.airports-item
      = link_to 'http://www.izumo-airport.co.jp/', class: 'airports-link', target: '_blank'
        | #{I18n.t 'camaleon_cms.access.airlines.airport.airport_list.izumo'}
    li.airports-item
      = link_to 'https://www.yonago-air.com/', class: 'airports-link', target: '_blank'
        | #{I18n.t 'camaleon_cms.access.airlines.airport.airport_list.yonago'}
    li.airports-item
      = link_to 'http://hagiiwami.jp/', class: 'airports-link', target: '_blank'
        | #{I18n.t 'camaleon_cms.access.airlines.airport.airport_list.hagi'}
    li.airports-item
      = link_to 'http://www.oki-airport.jp/', class: 'airports-link', target: '_blank'
        | #{I18n.t 'camaleon_cms.access.airlines.airport.airport_list.oki'}
