.bus
  .bus-route
    section.bus-detail
      ul.bus-route-list
        li.bus-route-item
          = link_to 'https://sanin-production.s3.ap-northeast-1.amazonaws.com/pdf/1_Hiroshima_matsue.pdf', class: 'bus-route-link', target: '_blank'
            span.bus-route-link-inner
              | #{(I18n.t 'camaleon_cms.access.bus.bus_line.button1').html_safe}
        li.bus-route-item
          = link_to 'https://sanin-production.s3.ap-northeast-1.amazonaws.com/pdf/Bus_toward_San_in.pdf', class: 'bus-route-link', target: '_blank'
            | #{I18n.t 'camaleon_cms.access.bus.bus_line.button2'}

        li.bus-route-item
          = link_to 'https://sanin-production.s3.ap-northeast-1.amazonaws.com/pdf/2_Osaka_tottori.pdf', class: 'bus-route-link', target: '_blank'
            | #{I18n.t 'camaleon_cms.access.bus.bus_line.button3'}

        li.bus-route-item
          = link_to 'http://willerexpress.com/st/178/en/pc/bus/route/all/chugoku-shikoku/', class: 'bus-route-link', target: '_blank'
            | #{I18n.t 'camaleon_cms.access.bus.bus_line.button4'}
    figure.bus-route-figure
      = image_tag get_image_path("access/bus-route.png"), class: 'bus-route-image'

  .bus-info
    section.bus-info-col.bus-info-cards
      article.bus-info-item
        .bus-info-img[style="background-image:url(#{ get_image_path("access/bus-card-img1.png")})"]
        h3.bus-info-title
          | #{I18n.t 'camaleon_cms.access.bus.bus_liner.bus1'}
      article.bus-info-item
        .bus-info-img[style="background-image:url(#{ get_image_path("access/bus-card-img2.png")})"]
        h3.bus-info-title
          | #{I18n.t 'camaleon_cms.access.bus.bus_liner.bus2'}
      article.bus-info-item
        .bus-info-img[style="background-image:url(#{ get_image_path("access/bus-card-img3.png")})"]
        h3.bus-info-title
          | #{I18n.t 'camaleon_cms.access.bus.bus_liner.bus3'}
      article.bus-info-item
        .bus-info-img[style="background-image:url(#{ get_image_path("access/bus-card-img4.png")})"]
        h3.bus-info-title
          | #{I18n.t 'camaleon_cms.access.bus.bus_liner.bus4'}
    figure.bus-info-col
      = image_tag get_image_path("access/bus-station.png"), class: 'bus-info-figure-img'
