section.car
  .car-top
    article.car-left
      h2.car-heading
        | #{I18n.t 'camaleon_cms.access.car.rental_heading'}
      = image_tag get_image_path("access/car-passenger.png"), class: 'car-passenger'
    .car-right
      ul.car-list
        li.car-item
          = render theme_view('partials/common/button_external'), text: "#{I18n.t 'camaleon_cms.access.car.car_button.button1'}", link: 'https://www.ttj-ap-bld.co.jp/access/rental'
        li.car-item
          = render theme_view('partials/common/button_external'), text: "#{I18n.t 'camaleon_cms.access.car.car_button.button2'}", link: 'http://www.izumo-airport.co.jp/traffic-access.html'
        li.car-item
          = render theme_view('partials/common/button_external'), text: "#{I18n.t 'camaleon_cms.access.car.car_button.button3'}", link: 'https://www.yonago-air.com/access/car'
        li.car-item
          = render theme_view('partials/common/button_external'), text: "#{I18n.t 'camaleon_cms.access.car.car_button.button4'}", link: 'http://hagiiwami.jp/access/'
        li.car-item
          = render theme_view('partials/common/button_external'), text: "#{I18n.t 'camaleon_cms.access.car.car_button.button5'}", link: 'http://www.oki-airport.jp/access.html'

  .car-bottom
    = render theme_view('partials/common/local_guide_banner')
