section.ferry
  .l-container
    section.ferry-content
      figure.ferry-figure
        = image_tag get_image_path("access/ferry-map.png"), class: 'ferry-map'
      article.ferry-article
        h2.ferry-heading
          | #{I18n.t 'camaleon_cms.access.ferry.content.heading'}
        p.ferry-copy
          | #{I18n.t 'camaleon_cms.access.ferry.content.text'}
        .ferry-btn
          = render theme_view('partials/common/button_external'), text: "#{I18n.t 'camaleon_cms.access.ferry.content.button'}", link: 'https://www.oki-kisen.co.jp/timetable/'
