section.flight
  / input[type="radio" name="flight" class="flight-radio" id="flight-ana" checked]
  / input[type="radio" name="flight" class="flight-radio" id="flight-jal"]

  / .flight-airline
  /   label[for="flight-ana" class="flight-airline-company flight-airline-ana"]
  /     | ANA
  /   label[for="flight-jal" class="flight-airline-company flight-airline-jal"]
  /     | JAL

  .flight-detail.flight-detail-ana

    section.flight-detail-row
      .flight-detail-col
        h4.flight-detail-destination
          | #{I18n.t 'camaleon_cms.access.airlines.from'}
        span.flight-detail-area
          | #{I18n.t 'camaleon_cms.access.places.haneda'}
      .flight-detail-col.flight-detail-col-eta
        span.flight-detail-eta
          | #{I18n.t 'camaleon_cms.access.places.time_75'}
        span.flight-detail-icon
      .flight-detail-col
        h4.flight-detail-destination
          | #{I18n.t 'camaleon_cms.access.airlines.to'}
        span.flight-detail-area
          | #{I18n.t 'camaleon_cms.access.places.tottori'}

    section.flight-detail-row
      .flight-detail-col
        h4.flight-detail-destination
          | #{I18n.t 'camaleon_cms.access.airlines.from'}
        span.flight-detail-area
          | #{I18n.t 'camaleon_cms.access.places.haneda'}
      .flight-detail-col.flight-detail-col-eta
        span.flight-detail-eta
          | #{I18n.t 'camaleon_cms.access.places.time_80'}
        span.flight-detail-icon
      .flight-detail-col
        h4.flight-detail-destination
          | #{I18n.t 'camaleon_cms.access.airlines.to'}
        span.flight-detail-area
          | #{I18n.t 'camaleon_cms.access.places.yonago'}

    section.flight-detail-row
      .flight-detail-col
        h4.flight-detail-destination
          | #{I18n.t 'camaleon_cms.access.airlines.from'}
        span.flight-detail-area
          | #{I18n.t 'camaleon_cms.access.places.haneda'}
      .flight-detail-col.flight-detail-col-eta
        span.flight-detail-eta
          | #{I18n.t 'camaleon_cms.access.places.jal_time_80'}
        span.flight-detail-icon
      .flight-detail-col
        h4.flight-detail-destination
          | #{I18n.t 'camaleon_cms.access.airlines.to'}
        span.flight-detail-area
          | #{I18n.t 'camaleon_cms.access.places.izumo'}

    section.flight-detail-row
      .flight-detail-col
        h4.flight-detail-destination
          | #{I18n.t 'camaleon_cms.access.airlines.from'}
        span.flight-detail-area
          | #{I18n.t 'camaleon_cms.access.places.haneda'}
      .flight-detail-col.flight-detail-col-eta
        span.flight-detail-eta
          | #{I18n.t 'camaleon_cms.access.places.time_80'}
        span.flight-detail-icon
      .flight-detail-col
        h4.flight-detail-destination
          | #{I18n.t 'camaleon_cms.access.airlines.to'}
        span.flight-detail-area
          | #{I18n.t 'camaleon_cms.access.places.iwami'}

    section.flight-detail-row
      .flight-detail-col
        h4.flight-detail-destination
          | #{I18n.t 'camaleon_cms.access.airlines.from'}
        span.flight-detail-area
          | #{I18n.t 'camaleon_cms.access.places.osaka'}
      .flight-detail-col.flight-detail-col-eta
        span.flight-detail-eta
          | #{I18n.t 'camaleon_cms.access.places.jal_time_90'}
        span.flight-detail-icon
      .flight-detail-col
        h4.flight-detail-destination
          | #{I18n.t 'camaleon_cms.access.airlines.to'}
        span.flight-detail-area
          | #{I18n.t 'camaleon_cms.access.places.oki'}
