section.flight-ticket-cards
  .flight-ticket-card
    .flight-ticket-header
      = image_tag get_image_path("access/logo-ana.png"), class: 'flight-ticket-logo flight-tickt-logo-ana'
    section.flight-ticket-detail
      h3.flight-ticket-heading.flight-ticket-heading-ana
        | #{I18n.t 'camaleon_cms.access.airlines.ana.title'}
      p.flight-ticket-copy
        | #{I18n.t 'camaleon_cms.access.airlines.ana.text'}
      .flight-ticket-btn
        = render theme_view('partials/common/button_external'), text: "#{I18n.t 'camaleon_cms.access.airlines.button'}", link: 'https://www.ana.co.jp/en/us/promotions/share/experience_jp/'

  .flight-ticket-card
    .flight-ticket-header
      = image_tag get_image_path("access/logo-jal.png"), class: 'flight-ticket-logo flight-tickt-logo-jal'
    section.flight-ticket-detail
      h3.flight-ticket-heading.flight-ticket-heading-jal
        | #{I18n.t 'camaleon_cms.access.airlines.jal.title'}
      p.flight-ticket-copy
        | #{I18n.t 'camaleon_cms.access.airlines.jal.text'}
      .flight-ticket-btn
        = render theme_view('partials/common/button_external'), text: "#{I18n.t 'camaleon_cms.access.airlines.button'}", link: 'https://www.world.jal.co.jp/world/en/japan_explorer_pass/lp/'
