section.hotline
  input[type="radio" name="hotline" id="tottori" checked]
  input[type="radio" name="hotline" id="yonago"]
  input[type="radio" name="hotline" id="matsue"]
  input[type="radio" name="hotline" id="izumo"]

  .hotline-labels
    label[for="tottori" class="hotline-label"]
      | #{I18n.t 'camaleon_cms.access.taxi.hotline.heading.label1'}
    label[for="yonago" class="hotline-label"]
      | #{I18n.t 'camaleon_cms.access.taxi.hotline.heading.label2'}
    label[for="matsue" class="hotline-label"]
      | #{I18n.t 'camaleon_cms.access.taxi.hotline.heading.label3'}
    label[for="izumo" class="hotline-label"]
      | #{I18n.t 'camaleon_cms.access.taxi.hotline.heading.label4'}

  .hotline-numbers.hotline-number-tottori
    table.hotline-table
      tbody.hotline-tbody
        tr.hotline-table-row
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.contact.nihon_kotsu'}
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.number.tottori.nihon_kotsu'}
        tr.hotline-table-row
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.contact.hinomaru_hire'}
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.number.tottori.hinomaru_hire'}
        tr.hotline-table-row
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.contact.dk_taxi'}
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.number.tottori.dk_taxi'}

  .hotline-numbers.hotline-number-yonago
    table.hotline-table
      tbody.hotline-tbody
        tr.hotline-table-row
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.contact.nihon_kotsu'}
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.number.yonago.nihon_kotsu'}
        tr.hotline-table-row
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.contact.hinomaru_hire'}
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.number.yonago.hinomaru_hire'}

  .hotline-numbers.hotline-number-matsue
    table.hotline-table
      tbody.hotline-tbody
        tr.hotline-table-row
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.contact.ichibata_taxi'}
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.number.matsue.ichibata_taxi'}
        tr.hotline-table-row
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.contact.nihon_kotsu'}
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.number.matsue.nihon_kotsu'}
        tr.hotline-table-row
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.contact.daiichi_kotsu'}
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.number.matsue.daiichi_kotsu'}

  .hotline-numbers.hotline-number-izumo
    table.hotline-table
      tbody.hotline-tbody
        tr.hotline-table-row
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.contact.ichibata_taxi'}
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.number.izumo.ichibata_taxi'}
        tr.hotline-table-row
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.contact.nihon_kotsu'}
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.number.izumo.nihon_kotsu'}
        tr.hotline-table-row
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.contact.daiichi_kotsu'}
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.number.izumo.daiichi_kotsu'}
        tr.hotline-table-row
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.contact.tanimoto_hire'}
          td.hotline-table-col
            | #{I18n.t 'camaleon_cms.access.taxi.hotline.number.izumo.tanimoto_hire'}
