section.taxi
  .taxi-hotline
    h2.taxi-heading
      | #{I18n.t 'camaleon_cms.access.taxi.taxi_list'}
    = render theme_view('partials/access/hotline')
  section.taxi-col
    article.taxi-how-to
      h2.taxi-heading
        | #{I18n.t 'camaleon_cms.access.taxi.how_to.heading'}
      ul.taxi-list
        li.taxi-item
          | #{I18n.t 'camaleon_cms.access.taxi.how_to.list.item1'}
        li.taxi-item
          | #{I18n.t 'camaleon_cms.access.taxi.how_to.list.item2'}
        li.taxi-item
          | #{I18n.t 'camaleon_cms.access.taxi.how_to.list.item3'}
    article.taxi-detail
      h2.taxi-heading
        | #{I18n.t 'camaleon_cms.access.taxi.cost.heading'}
      p.taxi-detail-copy
        | #{I18n.t 'camaleon_cms.access.taxi.cost.text'}
      .taxi-detail-btn
        = render theme_view('partials/common/button_external'), text: "#{I18n.t 'camaleon_cms.access.taxi.cost.button'}", link: 'http://www.city.tottori.lg.jp/www/contents/1374222847656/'
