section.train
  input[type="radio" name="train" id="train-line1" class="train-input" checked]
  input[type="radio" name="train" id="train-line2" class="train-input"]
  .train-station
    label[for="train-line1" class="train-label train-label-line1"]
      | #{(I18n.t 'camaleon_cms.access.railway.train.express_train').html_safe}
    label[for="train-line2" class="train-label train-label-line2"]
      | #{(I18n.t 'camaleon_cms.access.railway.train.limited_train').html_safe}
  figure.train-route.train-line1
    = image_tag get_image_path("access/train-line2.png"), class: 'train-route-map'
  figure.train-route.train-line2
    = image_tag get_image_path("access/train-line1.png"), class: 'train-route-map'
  .train-legend
    .train-btn
      = render theme_view('partials/common/button_external'), text: "#{I18n.t 'camaleon_cms.access.railway.button'}", link: 'http://www.westjr.co.jp/global/en/ticket/pass/sanyo_sanin/'
