javascript:

  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var aboutMovie;
  function onYouTubeIframeAPIReady() {
    aboutMovie = new YT.Player('aboutMovie', {
      videoId: 'H3pj_hVYsK8',
      playerVars: {
        controls: 1,
        autoplay: 0,
        showinfo: 0,
        iv_load_policy: 0,
        modestbranding: 1,
        rel: 0,
        disablekb: 1,
        origin: location.protocol + '//' + location.hostname + "/"
      },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    $('.learn-more-play').click(function(){
      event.target.playVideo();
      $(this).parent().addClass('remove-overlay');
    });
    // event.target.playVideo();
    event.target.mute();
  }

  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.ENDED) {
      event.target.seekTo(0,true);
      event.target.playVideo();
    }
    if (event.data == YT.PlayerState.PLAYING) {
      $(".learn-more-media").css("background", "transparent");
    }
  }

