.about-map
  = image_tag get_image_path("about/about-map.png"), class: 'about-map-img about-map-img-pc'
  = image_tag get_image_path("about/about-map-sp.png"), class: 'about-map-img about-map-img-sp'
  .about-map-btn
    = render theme_view('partials/common/button'), text: "#{I18n.t 'camaleon_cms.partials.button.access'}", link: cama_access_path
