.about-anchor
  ul.about-anchor-list
    li.about-anchor-item
      = link_to "#{I18n.t 'camaleon_cms.about.menu.area'}", '#area', class: "about-anchor-link"
    li.about-anchor-item
      = link_to "#{I18n.t 'camaleon_cms.about.menu.destinations'}", '#destination', class: "about-anchor-link"
    li.about-anchor-item
      = link_to "#{I18n.t 'camaleon_cms.about.menu.video'}", '#video', class: "about-anchor-link"
