.destination
  h2.destination-heading
    | #{I18n.t 'camaleon_cms.about.menu.destinations'}
  .destination-content
    - (1..3).each do |i|
      .destination-row[class="#{ i % 2 == 0 ? 'destination-align-left' : '' }"]
        .destination-image[style="background-image:url(#{ get_image_path("#{I18n.t "camaleon_cms.about.destination_content.image_#{i}"}")})"]
        h3.destination-title
          | #{I18n.t "camaleon_cms.about.destination_content.heading_#{i}"}
        .destination-wording
          p.destination-copy #{I18n.t "camaleon_cms.about.destination_content.content_#{i}"}

    .destination-btn
      = render theme_view('partials/common/button'), text: "#{I18n.t 'camaleon_cms.partials.button.more'}", link: cama_destinations_path
