.learn-more
  h2.learn-more-heading
    | #{I18n.t 'camaleon_cms.about.learn_more.heading'}

  .learn-more-media
    = render theme_view("partials/about/about_movie_js")
    #aboutMovie[style="width: 100%"]
    span.learn-more-play
    span.learn-more-caption.hide
    	| #{I18n.t 'camaleon_cms.about.learn_more.lower_third'}
