.article-access-content-row
  h2.article-access-content-title
    =access["descr"]
    span.article-access-content-cost
      =access["price"]
  h3.article-access-content-author
    | #{I18n.t 'camaleon_cms.extra.by'} #{access["by_transpo_name"]}
    br
    | #{I18n.t 'camaleon_cms.extra.approx'} #{access["duration"]}
