/ h2.article-access-header
/   | Access
input[class="article-access-trigger" type="radio" name="trigger" id="article-access-trigger1" checked]
input[class="article-access-trigger" type="radio" name="trigger" id="article-access-trigger2"]
input[class="article-access-trigger" type="radio" name="trigger" id="article-access-trigger3"]
.article-access-titles
  label[class="article-access-title" id="article-access-label1" for="article-access-trigger1"]
    i.article-access-title-icon.icon-train
    | #{I18n.t 'camaleon_cms.access.car.heading'}
  label[class="article-access-title" id="article-access-label2" for="article-access-trigger2"]
    i.article-access-title-icon.icon-plane
    | #{I18n.t 'camaleon_cms.access.train.heading'}
  label[class="article-access-title" id="article-access-label3" for="article-access-trigger3"]
    i.article-access-title-icon.icon-bus
    | #{I18n.t 'camaleon_cms.access.bus.heading'}
.article-access-content#article-access-content1
  -first_access.each_with_index do |access, idx|
    = render theme_view('partials/article/access_info'), access: JSON.parse(access)

.article-access-content#article-access-content2
  -second_access.each_with_index do |access, idx|
    = render theme_view('partials/article/access_info'), access: JSON.parse(access)

.article-access-content#article-access-content3
  -third_access.each_with_index do |access, idx|
    = render theme_view('partials/article/access_info'), access: JSON.parse(access)


.article-access-btns
  = link_to "#{I18n.t 'camaleon_cms.access_route.travel_brochures'}", "/#{get_lang}/travel-brochures", class: "button-page-link article-access-btn article-access-btn-travel"
  = link_to "#{I18n.t 'camaleon_cms.first_timer.tourist_information.title'}", "/#{get_lang}/tourist-information" , class: "button-page-link article-access-btn article-access-btn-ticket"
