- img_path = post.the_fields("header-banner-image")[0]
- banner_title = post.the_fields('header-banner-title')[0]

= link_to post.the_url, class:'article-index-card index-card-animation', style: "background-image:url(#{ img_path })"
  h2.article-index-card-title
    span
      =raw (banner_title.present? ? banner_title :  post.the_title)
