-detail = locals[:detail]
-schedules = detail.custom_field_values

h2.accordion-heading.js-accordion-heading
  = "#{ detail.title } ( #{schedules.count} )"
.accordion-content
  -schedules.each do |schedule|
    = render theme_view('partials/article/tourist_information/tourist_place'), schedule: JSON.parse(schedule.value)
