.tourist-place-content
  .tourist-place-left
    .tourist-place-heading
      h3.tourist-place-title
        = translate_word(schedule["itc"])
    table.tourist-place-table
      tr.tourist-place-trow
        td.tourist-place-tcol
          | #{I18n.t 'camaleon_cms.tourist_information_page.address'}
        td.tourist-place-tcol
          = translate_word(schedule["address"])
      tr.tourist-place-trow
        td.tourist-place-tcol
          | #{I18n.t 'camaleon_cms.tourist_information_page.tel'}
        td.tourist-place-tcol
          = translate_word(schedule["tel"])
      tr.tourist-place-trow
        td.tourist-place-tcol
          | #{I18n.t 'camaleon_cms.tourist_information_page.time'}
        td.tourist-place-tcol
          = translate_word(schedule["time"])
      tr.tourist-place-trow
        td.tourist-place-tcol
          | #{I18n.t 'camaleon_cms.tourist_information_page.mail'}
        td.tourist-place-tcol
          a[href="mailto:#{translate_word(schedule["mail"])}" class="tourist-place-link"]
            = translate_word(schedule["mail"])
      tr.tourist-place-trow
        td.tourist-place-tcol
          | #{I18n.t 'camaleon_cms.tourist_information_page.web'}
        td.tourist-place-tcol
          = link_to translate_word(schedule["web_address"][get_lang]), class: 'tourist-place-link', target: '_blank'
            = translate_word(schedule["web_address"][get_lang])
      tr.tourist-place-trow
        td.tourist-place-tcol
          | #{I18n.t 'camaleon_cms.tourist_information_page.language'}
        td.tourist-place-tcol
          = translate_word(schedule["language"])
      tr.tourist-place-trow
        td.tourist-place-tcol
          | #{I18n.t 'camaleon_cms.tourist_information_page.wifi'}
        td.tourist-place-tcol
          = translate_word(schedule["wifi"])
      tr.tourist-place-trow
        td.tourist-place-tcol
          | #{I18n.t 'camaleon_cms.tourist_information_page.internet'}
        td.tourist-place-tcol
          =  translate_word(schedule["internet"])

    .tourist-place-button
      = render theme_view('partials/common/button_external'), text: "#{I18n.t 'camaleon_cms.section_title.view_map'}" , link: "#{translate_word(schedule["google_map_link"])}" if  translate_word(schedule["google_map_link"]).present?

  .tourist-place-right
    span.tourist-place-subtitle
      | #{I18n.t 'camaleon_cms.section_title.around_this_information_area'}

    .tourist-place-right-bottom
      - content_1 = get_post_detail(schedule["content_1"])
      = link_to content_1[:url], class:'tourist-place-related', style:"background-image:url('#{ content_1[:image] }')"
        = content_1[:name]

      - content_2 = get_post_detail(schedule["content_2"])
      = link_to content_2[:url], class:'tourist-place-related', style:"background-image:url('#{ content_2[:image] }')"
        = content_2[:name]
