doctype html
html
  head
    title Sanin
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    = display_meta_tags og: { image: "https://sanin-production.s3.ap-northeast-1.amazonaws.com/extra/facebook-ogpsd.png" }
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    = yield
